testew2qybtvMEVOQ9LnT.json
{
  "data": {
    "createdAt": "2025-05-05T17:48:07.389Z",
    "updatedAt": "2025-05-15T19:28:06.169Z",
    "id": "w2qybtvMEVOQ9LnT",
    "name": "Base de Conhecimento - Dani",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -840,
          -120
        ],
        "id": "1a962f5a-ccf7-4c63-ac7b-80791685ca84",
        "name": "Execute"
      },
      {
        "parameters": {
          "resource": "assistant",
          "operation": "list",
          "simplify": false
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          -600,
          -120
        ],
        "id": "1719318b-5611-4272-ae69-f4b260a5cbf3",
        "name": "Get Assistant",
        "credentials": {
          "openAiApi": {
            "id": "Ns5Dn4K7TRUo6yE8",
            "name": "OpenAi - Dani"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.openai.com/v1/vector_stores/{{ $('Vector Store').first().json.vs_id }}/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -120,
          -120
        ],
        "id": "f5f63160-2f3b-45e4-a42e-3d5c4691970f",
        "name": "Arquivos Vector Store",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "Ns5Dn4K7TRUo6yE8",
            "name": "OpenAi - Dani"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7a6022db-fca7-4dad-8515-4d72e4e4f1b5",
                "name": "vazio",
                "value": "={{ $json.data.isEmpty() }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          120,
          -120
        ],
        "id": "50dcf6a0-c861-44e0-ba2a-1e9ff0cce300",
        "name": "Vazio"
      },
      {
        "parameters": {
          "resource": "fileFolder",
          "filter": {
            "folderId": {
              "__rl": true,
              "value": "=1AQvY5-mNiVA2AIBqFVZtNCbFlDE_1sgB",
              "mode": "id"
            }
          },
          "options": {
            "fields": [
              "id",
              "name",
              "mimeType"
            ]
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          340,
          -120
        ],
        "id": "0d3b80a4-ec61-49eb-a46f-8c1d1c1b6e66",
        "name": "Files - Drive",
        "executeOnce": true,
        "alwaysOutputData": true,
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "3lQM3JcoG2K4jAcw",
            "name": "Drive - IA Blips"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "083cf557-f79e-4697-8721-538379681109",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          560,
          -120
        ],
        "id": "ca7fae51-0a17-4f1e-b41c-78e45693211e",
        "name": "Drive vazio?"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "32b2b8ad-960c-4722-9f80-dd1c010a7273",
                "name": "sucesso",
                "value": false,
                "type": "boolean"
              },
              {
                "id": "0634f9fd-6bc6-48cf-8f7a-34c3da727ccc",
                "name": "erro",
                "value": "Pasta do drive vazio, conhecimentos atuais foram maentidos",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          820,
          -320
        ],
        "id": "7a82a72a-9eb4-4309-8d23-abd689daed93",
        "name": "Erro"
      },
      {
        "parameters": {
          "operation": "pdf",
          "options": {}
        },
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1080,
          -100
        ],
        "id": "b805657d-06aa-4129-b680-9ba082701a84",
        "name": "Extract from File"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "ca8829a0-4a06-4255-8ad3-b92c766db3df",
                "name": "sections",
                "value": "={{ $json.text.split('#').map(section => section.trim()).filter(section => section.length > 0) }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1320,
          -100
        ],
        "id": "9006357f-ae67-4685-ad0e-de21a57a50ee",
        "name": "Seções Arquivo"
      },
      {
        "parameters": {
          "fieldToSplitOut": "sections",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1540,
          -100
        ],
        "id": "28563743-babd-4966-b642-9507f82f42c8",
        "name": "Split Out"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "adc276b8-b51c-400c-8eb0-f4f78e9df1ae",
                "name": "section",
                "value": "={{ $json.sections }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1760,
          -100
        ],
        "id": "234f5ed7-5e2c-41f7-9bc1-2f417c5f6ead",
        "name": "Seção"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.section }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=# 📌 Classificação de Seção de Atendimento  \n\nVocê é um especialista em **classificação de textos** e deve **determinar a categoria** de uma seção de atendimento com base em seu conteúdo, além de **definir uma subclasse relevante** para ela.  \n\nSua tarefa é **analisar** o texto fornecido e classificá-lo como uma das categorias abaixo, criando também uma subclasse, conforme as diretrizes:\n\n---\n\n## 🏷️ Definições das Classes\n### 📖 1. Regras de Atendimento\n\nConjunto de diretrizes, protocolos e melhores práticas que **padronizam o atendimento no RH**. Engloba orientações sobre **fluxos de interação, posturas recomendadas** e **procedimentos gerais** a serem seguidos de forma consistente, garantindo uma **experiência uniforme e de qualidade ao colaborador ou candidato**.\n\n\n### 🎯 2. Situações Específicas de Atendimento\n\nCasos atípicos que **exigem abordagens diferenciadas**, incluindo **exceções às regras gerais**. Abrange cenários especiais, como **condições contratuais específicas, negociações salariais** e **processos seletivos diferenciados**, que **demandam flexibilidade no atendimento**.\n\n### ⚙️ 3. Instalação\n\nConjunto de regras, instruções e diretrizes relacionadas à **preparação de equipamentos e acessos para novos colaboradores**. Inclui orientações que garantem a correta **configuração das ferramentas de trabalho**, **integração ao ambiente corporativo** e **suporte inicial**.\n\n### 📄 4. Documentação\n\nConjunto de regras, instruções e diretrizes relacionadas à **coleta, envio, validação e aprovação** de documentos necessários para a **admissão e gestão de pessoas**, assegurando **conformidade e agilidade nos processos do RH**.\n\n---\n\n## 💡 Definições das Subclasses\n\n### 📖 1. Regras de Atendimento  \nSe o texto for classificado como **Regras de Atendimento**, ele deve ser enquadrado em uma das seguintes subclasses:  \n\n- **Início do Atendimento**  \n  - *Inclui saudação, identificação e contextualização do cliente. O assistente cumprimenta o cliente, apresenta-se e coleta informações essenciais para compreender o contexto da interação.*  \n\n- **Personalidade e Estilo de Comunicação**  \n  - *Define o tom e a abordagem da IA durante a conversa, orientando sobre formalidade, empatia e identidade da empresa.*  \n\n- **Perguntas Frequentes e Procedimentos Padrão**  \n  - *Diretrizes para solucionar dúvidas e problemas comuns, como dúvidas sobre entrega, rastreio, acesso a plataforma, dúvidas sobre os equipamentos além dos protocolos para encaminhamento a um atendente humano, garantindo soluções claras e objetivas.*  \n\n- **Encerramento e Feedback**  \n  - *Instruções sobre a finalização do atendimento, incluindo recapitulação dos pontos principais, agradecimento e coleta de feedback.*  \n\n---\n\n### 🎯 2. Situações Específicas de Atendimento  \nSe o texto for classificado como **Situações Específicas de Atendimento**, ele deve ser enquadrado em uma das seguintes subclasses:  \n\n- **Status ou Fase da Negociação**  \n  - *Refere-se ao estágio atual da negociação na plataforma (ex: \"Em cadastro\", \"Análise de documentos\", \"Concluído\"). A IA deve adaptar a abordagem conforme o status registrado.*  \n\n- **Condições Comerciais e Contratuais**  \n  - *Situações em que o atendimento varia de acordo com regras comerciais ou contratuais específicas.*  \n\n- **Condições Financeiras Específicas**  \n  - *Questões relacionadas a pagamentos, prazos especiais, descontos, parcelamentos ou ajustes financeiros, assegurando que o cliente compreenda corretamente as condições aplicáveis.*  \n\n---\n\n### ⚙️ 3. Instalação  \nSe o texto for classificado como **Instalação**, ele deve ser enquadrado em uma das seguintes subclasses:  \n\n- **Checklist de Instalação**  \n  - *Verificação técnica e confirmação dos requisitos físicos e operacionais no local de instalação.*  \n\n- **Agendamento de Instalação**  \n  - *Orientações sobre como e quando agendar a instalação (remota ou presencial).*  \n\n- **Ativação e Configuração do Equipamento**  \n  - *Procedimentos para ativação dos recursos e configuração inicial (Auto Clean, aquecedores, alinhamento de impressão etc.).*  \n\n- **Suporte Técnico de Instalação**  \n  - *Instruções para o suporte técnico no momento da instalação, incluindo links de tutoriais e suporte remoto.*  \n\n---\n\n### 📄 4. Documentação  \nSe o texto for classificado como **Documentação**, ele deve ser enquadrado em uma das seguintes subclasses:  \n\n- **Solicitação de Documentação**  \n  - *Regras sobre quais documentos o cliente deve enviar e em que momento (RG/CNH, comprovante de residência, etc.).*  \n\n- **Análise e Validação de Documentação**  \n  - *Processo de checagem dos documentos recebidos, identificando pendências ou inconformidades.*  \n\n- **Pendências Documentais e Regularização**  \n  - *Ações relacionadas à correção de documentos pendentes ou reenvio por parte do cliente.*  \n\n- **Confirmação de Documentação Aprovada**  \n  - *Comunicação formal de que a documentação foi aprovada, liberando a próxima etapa do processo.*  \n\n---\n\n## 📌 Instruções para Classificação  \n\n1. **Leia atentamente** o texto fornecido.  \n2. **Compare** seu conteúdo com as definições das classes e subclasses.  \n3. **Leia cuidadosamente** os dois textos fornecidos.\n4. **Compare ambos com as definições das classes e subclasses fornecidas.**\n5. **Classifique obrigatoriamente da seguinte forma**:\n   - O texto **mais adaptado às instruções e diretrizes de uso pela IA** deve ser classificado como:  \n     **Classe**: `\"Regras de Atendimento\"`\n   - O texto **seguinte, mesmo que trate de conteúdo semelhante**, deve ser classificado como:  \n     **Classe**: `\"Básico - Recursos Humanos\"`\n6. **Sempre atribua uma subclasse coerente ao conteúdo de cada texto.**\n7. **Nunca inverta a ordem das classes, mesmo que os conteúdos pareçam pertencer à mesma categoria.**\n8. **Não forneça justificativas ou explicações adicionais.**\n\n9. **Atribua uma subclasse** correspondente ao conteúdo do texto.  \n10. Não forneça justificativas ou explicações adicionais.\n\n⚠️ **Formato da Resposta:**  \nRetorne a resposta em **JSON**, com os campos:  \n- `class`: Categoria do texto  \n- `subclass`: Subclasse mais específica, indicando a natureza exata da seção  \n\n⚠️ **Importante:**  \n- Não forneça justificativas ou explicações adicionais.  \n- A subclasse deve ser **objetiva** e **precisa** para refletir corretamente o conteúdo da seção.  \n\n---\n\n## ✅ Exemplo  \n\n📌 **Texto fornecido:**  \n*\"Após a entrega do equipamento, solicite que o cliente informe duas datas e horários para agendamento da instalação.\"*  \n\n✅ **Resposta esperada:**  \n{\n  \"class\": \"Instalação\",\n  \"subclass\": \"Agendamento de Instalação\"\n}\n\n## 🎯 Objetivo da Classificação  \nEste sistema visa **padronizar a categorização** dos conteúdos de atendimento, garantindo **uniformidade na aplicação das regras** e na **gestão eficiente de exceções**.  "
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.5,
        "position": [
          2000,
          20
        ],
        "id": "6827c78c-abf3-41f6-8491-4bef0cc2056a",
        "name": "Basic LLM Chain",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f9686a54-606a-4bab-b48d-b54390c1de93",
                "name": "section",
                "value": "={{ $('Seção').item.json.section.trim() }}",
                "type": "string"
              },
              {
                "id": "40f5f541-c915-4467-ab39-78315ffde320",
                "name": "class",
                "value": "={{ $json.output.class.trim() }}",
                "type": "string"
              },
              {
                "id": "304ee446-5c29-474d-b742-d1cea453dd08",
                "name": "subclass",
                "value": "={{ $json.output.subclass.trim() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2480,
          -200
        ],
        "id": "952166e0-c839-4870-9def-9e5a144fc35d",
        "name": "Classificação"
      },
      {
        "parameters": {
          "jsCode": "const groupedItems = {};\n\nfor (const item of items) {\n  const className = item.json.class;\n  const subclass = item.json.subclass;\n  const key = `${className}|${subclass}`; // Chave única por classe+subclasse\n  \n  if (!groupedItems[key]) {\n    groupedItems[key] = {\n      class: className,\n      subclass: subclass,\n      text: item.json.section\n    };\n  } else {\n    groupedItems[key].text += '\\n\\n' + item.json.section; // Separa com quebra de linha dupla\n  }\n}\n\nreturn Object.values(groupedItems).map(item => ({ json: item }));"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2700,
          -200
        ],
        "id": "3b48baac-ca27-48fb-8c30-6ba96d5deb13",
        "name": "Subclass"
      },
      {
        "parameters": {
          "mode": "combine",
          "combineBy": "combineByPosition",
          "options": {}
        },
        "type": "n8n-nodes-base.merge",
        "typeVersion": 3,
        "position": [
          2280,
          -200
        ],
        "id": "8de7e984-f2f0-49ca-b9d6-a0ff6189773c",
        "name": "Merge"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"class\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"subclass\": {\n\t\t\t\"type\": \"string\"\n\t\t}\n\t}\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          2180,
          220
        ],
        "id": "0101a495-9d97-4663-8f63-d662aed92476",
        "name": "Structured Output Parser"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2526733b-46c4-416b-88a0-cd75afdcb4f4",
                "name": "Erro",
                "value": "Houve um erro, por favor tentar novamente",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          3180,
          240
        ],
        "id": "2c314e4b-85ea-4a23-aae1-5ffc23cbd8ce",
        "name": "Erro - LLM"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Entrada:\n  - Classe: {{ $json.class }}\n  - Título da seção: {{ $json.subclass }}\n  - Texto a ser estruturado: {{ $json.text }}",
          "hasOutputParser": true,
          "messages": {
            "messageValues": [
              {
                "message": "=# Prompt para Conversão de Texto em Markdown com JSON\n\nVocê é um modelo de linguagem avançado cuja **tarefa** é **transformar um texto fornecido** (definição de uma *subclasse*) em um **documento Markdown bem estruturado**, **fiel ao conteúdo original**, sem adicionar ou inventar qualquer informação mas melhorando a estrutura. Em seguida, deve encapsular esse documento em um objeto JSON específico. **Siga rigorosamente as diretrizes abaixo para garantir um output de alta qualidade, sintaticamente válido e estritamente aderente ao conteúdo fornecido.**\n\n---\n\n## Diretrizes Gerais\n\n- O conteúdo do Markdown deve ser **exclusivamente** baseado no **texto fornecido**. **Não adicione**, **não invente**, **não infira** informações que não estejam expressamente presentes no texto original, só melhore a estrutura.  \n- Se algum item solicitado na estruturação não puder ser preenchido por falta de conteúdo no texto original, **deixe-o em branco ou omita respeitando a lógica e integridade do conteúdo**.  \n- **Nunca** elabore conteúdos genéricos ou inventados para \"preencher\" o documento.\n\n---\n\n## Formato da Resposta OBRIGATÓRIO (JSON)\n\nA **resposta final** deve ser OBRIGATORIAMENTE um **objeto JSON válido** contendo **exatamente dois campos**:\n\n- `\"class\"`: o nome da subclasse fornecido na entrada.\n- `\"markdown\"`: uma string com o texto formatado em Markdown, estruturado conforme as instruções.\n\n### Restrições:\n- **Não** inclua nenhum texto ou explicação fora do objeto JSON.\n- **Não** use prefixos como “Aqui está o JSON:” ou similares.\n- **Não** envolva o conteúdo Markdown em blocos de código (```markdown, ```json, etc.). Insira o Markdown puro como valor da chave `\"markdown\"`.\n- O JSON deve ser **sintaticamente válido**, com o conteúdo Markdown devidamente escapado para garantir a integridade do JSON.\n\n---\n\n## Estrutura do Markdown\n\n### Título Principal\n- Insira um **título de nível 1** no início do conteúdo Markdown, utilizando a sintaxe `# Título`.\n- O título **deve ser exatamente o nome da classe fornecida**.\n\n### Organização do Conteúdo\n- **Respeite a estrutura lógica do texto original**:\n  - Utilize `##` para seções principais e `###` para subseções, **apenas se essas divisões estiverem implícitas ou explícitas no texto original**.\n- **Parágrafos curtos**, com **3 a 5 frases** no máximo, sempre **fiéis** ao texto fornecido.\n- **Listas**, **ênfases** e **formatações** devem ser usadas **apenas quando a estrutura ou conteúdo original justificar**:\n  - Listas não ordenadas (`-`) para itens soltos.\n  - Listas numeradas (`1.`, `2.`) para sequências explícitas.\n  - **Negrito** (`**`) e *itálico* (`*`) devem ser aplicados **somente se o texto original indicar necessidade de destaque**.\n\n---\n\n## Exemplo de Saída JSON (Ilustrativo)\n{\n  \"class\": \"NomeDaClasseExemplo\",\n  \"markdown\": \"# NomeDaClasseExemplo\\nTexto fiel à descrição original da subclasse fornecida.\\n\\n## Seção Original do Texto\\n- Item explicitamente listado no conteúdo original.\\n- Outro item fornecido.\\n\\n## Outra Seção\\n1. Primeiro passo descrito no texto.\\n2. Segundo passo conforme fornecido.\\n\\n> Citação exatamente como aparece no texto original.\\n\"\n}\n\n### Regras de Fidelidade ao Conteúdo\n- **Não reescreva nem melhore o texto**: apenas reestruture o que foi dado.\n- Caso o conteúdo original seja curto ou não possua seções claras, **apenas organize o texto como parágrafos simples**, sem criar seções artificiais."
              }
            ]
          }
        },
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.5,
        "position": [
          2900,
          -200
        ],
        "id": "8eff220f-3d86-4ed4-9f82-ebdc1bc77496",
        "name": "Basic LLM Chain1",
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "schemaType": "manual",
          "inputSchema": "{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"class\": {\n\t\t\t\"type\": \"string\"\n\t\t},\n\t\t\"markdown\": {\n\t\t\t\"type\": \"string\"\n        }\n\t}\n}"
        },
        "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
        "typeVersion": 1.2,
        "position": [
          3060,
          20
        ],
        "id": "7a01ddf5-9e7d-450b-b892-e2e71c7021aa",
        "name": "Structured Output Parser1"
      },
      {
        "parameters": {
          "resource": "file",
          "options": {
            "purpose": "assistants"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          3740,
          -220
        ],
        "id": "16a8ed27-0be7-48b3-83ee-90f201470d71",
        "name": "Upload Novo File",
        "credentials": {
          "openAiApi": {
            "id": "Ns5Dn4K7TRUo6yE8",
            "name": "OpenAi - Dani"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const groupedByClass = {};\n\n// Percorre os itens e agrupa os Markdown por classe\nfor (const item of items) {\n  const className = item.json.output.class;\n  const markdown = item.json.output.markdown;\n  \n  if (!groupedByClass[className]) {\n    // Se a classe ainda não existe, inicializa com o título principal\n    groupedByClass[className] = `# ${className}\\n\\n`;\n  }\n  \n  // Concatena os textos de cada subclasse dentro da mesma classe\n  groupedByClass[className] += markdown.replace(`# ${className}`, '').trim() + \"\\n\\n\";\n}\n\n// Converte os resultados para um array de saída\nconst output = Object.keys(groupedByClass).map(className => {\n  return {\n    json: {\n      class: className,\n      markdown: groupedByClass[className].trim()  // Remove espaços extras no final\n    }\n  };\n});\n\nreturn output;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3300,
          -220
        ],
        "id": "b53f59dd-0fbb-47b3-b625-484ece2c1948",
        "name": "Class"
      },
      {
        "parameters": {
          "operation": "toText",
          "sourceProperty": "markdown",
          "options": {
            "fileName": "={{ $json.class }}.md"
          }
        },
        "type": "n8n-nodes-base.convertToFile",
        "typeVersion": 1.1,
        "position": [
          3520,
          -220
        ],
        "id": "84f3beed-7644-4f11-82d3-ceeb26394997",
        "name": "Convert to File"
      },
      {
        "parameters": {
          "authentication": "oAuth2",
          "resource": "file",
          "operation": "edit",
          "owner": {
            "__rl": true,
            "value": "blips-ai",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "value": "assistant-blipsRH-Dani",
            "mode": "name"
          },
          "filePath": "=vector_store/{{ $binary.data.fileName }}",
          "binaryData": true,
          "commitMessage": "=Atualização Base Conhecimento - {{ $binary.data.fileName }} - {{ $now.format('dd/MM/yyyy - HH:mm') }}"
        },
        "type": "n8n-nodes-base.github",
        "typeVersion": 1,
        "position": [
          3740,
          -400
        ],
        "id": "d0e7d22e-4390-432e-88b0-8b3077cd3b4a",
        "name": "GitHub",
        "webhookId": "7402dbca-46b1-472f-9192-8b3569d05035",
        "credentials": {
          "githubOAuth2Api": {
            "id": "t73yiC13xLlYtLRb",
            "name": "GitHub blips-ai"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.openai.com/v1/vector_stores/{{ $('Vector Store').first().json.vs_id }}/files",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "file_id",
                "value": "={{ $json.id }}"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          3940,
          -220
        ],
        "id": "9d77567e-48a0-495d-887e-8d13aaf68b44",
        "name": "Add Vector Store",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "Ns5Dn4K7TRUo6yE8",
            "name": "OpenAi - Dani"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "7d4bf695-2aa0-4259-99a5-a2ffa7ae65ee",
                "leftValue": "={{ $('Vazio').first().json.vazio && !$json.isEmpty() }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          4620,
          -220
        ],
        "id": "8fe7ad14-b815-4464-a9da-ccf4661d640d",
        "name": "Tem arquivo pra deletar?"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://api.openai.com/v1/vector_stores/{{ $('Vector Store').first().json.vs_id }}/files/{{ $json.ids }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4860,
          -340
        ],
        "id": "d800eeb6-7cc2-42f1-b51f-7a1e1cf85311",
        "name": "DELETE Vector Store File",
        "retryOnFail": true,
        "credentials": {
          "openAiApi": {
            "id": "Ns5Dn4K7TRUo6yE8",
            "name": "OpenAi - Dani"
          }
        }
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "deleteFile",
          "fileId": {
            "__rl": true,
            "value": "={{ $json.id }}",
            "mode": "id"
          }
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          5080,
          -340
        ],
        "id": "e11bccd0-d0f4-49fa-95ee-62144cf4702e",
        "name": "OpenAI",
        "credentials": {
          "openAiApi": {
            "id": "Ns5Dn4K7TRUo6yE8",
            "name": "OpenAi - Dani"
          }
        },
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "779c793c-53bb-4700-afe8-d950f7c0987a",
                "name": "sucesso",
                "value": true,
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          5300,
          -200
        ],
        "id": "56043efa-0835-4c53-b2f1-0f4a00ba7fd0",
        "name": "Sucesso",
        "executeOnce": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "98e46ed4-7b08-4297-a21d-1bede22b48fe",
                "name": "ids",
                "value": "={{ $('Arquivos Vector Store').first().json.data.map(item => item.id)}}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          4140,
          -220
        ],
        "id": "aebef38d-d306-40b7-b03f-a7a07f0bba20",
        "name": "IDs remover",
        "executeOnce": true
      },
      {
        "parameters": {
          "url": "=https://api.openai.com/v1/files/{{ $json.ids }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          4820,
          400
        ],
        "id": "9eaa0d94-fe9d-439a-9e99-4cf5ead426ec",
        "name": "Get file name",
        "credentials": {
          "openAiApi": {
            "id": "Ns5Dn4K7TRUo6yE8",
            "name": "OpenAi - Dani"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5aadb633-8b6d-4eda-b283-3d18f87b6fe7",
                "leftValue": "={{ $json.filename }}",
                "rightValue": "Regras de Atendimento.md",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          5000,
          400
        ],
        "id": "6b5940c9-e8b2-4175-ae99-cc9877d0c2f9",
        "name": "Deletar?"
      },
      {
        "parameters": {
          "operation": "download",
          "fileId": {
            "__rl": true,
            "value": "={{ $('Files - Drive').item.json.id }}",
            "mode": "id"
          },
          "options": {
            "googleFileConversion": {
              "conversion": {
                "docsToFormat": "application/pdf",
                "drawingsToFormat": "application/pdf",
                "slidesToFormat": "application/pdf",
                "sheetsToFormat": "application/pdf"
              }
            }
          }
        },
        "type": "n8n-nodes-base.googleDrive",
        "typeVersion": 3,
        "position": [
          840,
          -100
        ],
        "id": "425c4817-ae9d-40d8-b4f7-f3f5c7ac38e8",
        "name": "Google Drive1",
        "credentials": {
          "googleDriveOAuth2Api": {
            "id": "3lQM3JcoG2K4jAcw",
            "name": "Drive - IA Blips"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "ids",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          4380,
          -220
        ],
        "id": "9780e7b1-b23f-4523-904c-19daf0cf71cd",
        "name": "Separa 1 a 1"
      },
      {
        "parameters": {
          "modelName": "models/gemini-2.0-flash-thinking-exp",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
        "typeVersion": 1,
        "position": [
          2000,
          200
        ],
        "id": "ff11c8d9-ff4a-494c-a553-fba1372537e5",
        "name": "Google Gemini Chat Model",
        "credentials": {
          "googlePalmApi": {
            "id": "dEFEg2kO4UqiadKK",
            "name": "motor n8n"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "20902422-96b1-49fe-8d31-3cf40033e1e7",
                "name": "vs_id",
                "value": "={{ \n  $('Get Assistant').all().map(item => item.json.tool_resources?.file_search?.vector_store_ids?.[0]) \n}}\n",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -380,
          -120
        ],
        "id": "b9b79094-799b-46d8-aa31-b508ddd3fd00",
        "name": "Vector Store",
        "executeOnce": true
      }
    ],
    "connections": {
      "Execute": {
        "main": [
          [
            {
              "node": "Get Assistant",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Assistant": {
        "main": [
          [
            {
              "node": "Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Arquivos Vector Store": {
        "main": [
          [
            {
              "node": "Vazio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Vazio": {
        "main": [
          [
            {
              "node": "Files - Drive",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Files - Drive": {
        "main": [
          [
            {
              "node": "Drive vazio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Drive vazio?": {
        "main": [
          [
            {
              "node": "Erro",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Google Drive1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Seções Arquivo",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Seções Arquivo": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Seção",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 1
            }
          ],
          [
            {
              "node": "Erro - LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Classificação": {
        "main": [
          [
            {
              "node": "Subclass",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge": {
        "main": [
          [
            {
              "node": "Classificação",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Seção": {
        "main": [
          [
            {
              "node": "Merge",
              "type": "main",
              "index": 0
            },
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser": {
        "ai_outputParser": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Subclass": {
        "main": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Structured Output Parser1": {
        "ai_outputParser": [
          [
            {
              "node": "Basic LLM Chain1",
              "type": "ai_outputParser",
              "index": 0
            }
          ]
        ]
      },
      "Class": {
        "main": [
          [
            {
              "node": "Convert to File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to File": {
        "main": [
          [
            {
              "node": "Upload Novo File",
              "type": "main",
              "index": 0
            },
            {
              "node": "GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain1": {
        "main": [
          [
            {
              "node": "Class",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Erro - LLM",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add Vector Store": {
        "main": [
          [
            {
              "node": "IDs remover",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Upload Novo File": {
        "main": [
          [
            {
              "node": "Add Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tem arquivo pra deletar?": {
        "main": [
          [
            {
              "node": "DELETE Vector Store File",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Sucesso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DELETE Vector Store File": {
        "main": [
          [
            {
              "node": "OpenAI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI": {
        "main": [
          [
            {
              "node": "Sucesso",
              "type": "main",
              "index": 0
            }
          ],
          []
        ]
      },
      "IDs remover": {
        "main": [
          [
            {
              "node": "Separa 1 a 1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file name": {
        "main": [
          [
            {
              "node": "Deletar?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deletar?": {
        "main": [
          [],
          []
        ]
      },
      "Google Drive1": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separa 1 a 1": {
        "main": [
          [
            {
              "node": "Tem arquivo pra deletar?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google Gemini Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            },
            {
              "node": "Basic LLM Chain1",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Vector Store": {
        "main": [
          [
            {
              "node": "Arquivos Vector Store",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "Execute": [
        {
          "json": {
            "query": "atualizar conhecimento"
          }
        }
      ]
    },
    "versionId": "9a61c273-0ffd-45a6-ab15-00f906abc06c",
    "triggerCount": 0,
    "tags": []
  }
}