testekp1CGeWIh5nBqHtC.json
{
  "data": {
    "createdAt": "2025-04-23T18:23:54.189Z",
    "updatedAt": "2025-05-02T12:15:06.810Z",
    "id": "kp1CGeWIh5nBqHtC",
    "name": "Consulta do Dia - Mongo",
    "active": false,
    "nodes": [
      {
        "parameters": {
          "operation": "insert",
          "collection": "Consulta",
          "fields": "={{ $json.keys().join().toLowerCase() }}",
          "options": {}
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "47974c02-ff1a-44d9-9d57-bf2ba31e3525",
        "name": "Insert",
        "credentials": {
          "mongoDb": {
            "id": "PTGHF1RYrZjKXwmT",
            "name": "Consulta Cobranca"
          }
        }
      },
      {
        "parameters": {
          "operation": "delete",
          "collection": "Consulta",
          "query": "={{ \n  JSON.stringify($json.query) \n}}\n"
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          740,
          0
        ],
        "id": "d554902f-57d3-4fa0-a350-a60db9160ef5",
        "name": "Delete",
        "credentials": {
          "mongoDb": {
            "id": "PTGHF1RYrZjKXwmT",
            "name": "Consulta Cobranca"
          }
        }
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 30
              }
            ]
          }
        },
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          -900,
          100
        ],
        "id": "e9fd2691-aaea-416c-b323-2b6f1ad18e92",
        "name": "Schedule Trigger"
      },
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -900,
          280
        ],
        "id": "0ec0404c-c2d7-43c7-bdad-f2061189979f",
        "name": "Workflow Input Trigger"
      },
      {
        "parameters": {
          "projectId": {
            "__rl": true,
            "value": "blips-bigdata",
            "mode": "list",
            "cachedResultName": "Blips BigData",
            "cachedResultUrl": "https://console.cloud.google.com/bigquery?project=blips-bigdata"
          },
          "sqlQuery": "WITH  cli_blips_sk  as (\n  select distinct \n  CGC_CPF AS DOCUMENT,\n  NOMEPARC ,\n  TELEFONE,\n  RAZAOSOCIAL,\n  EMAIL\n  from blips-bigdata.SANKHYA.ClientesBlips\n),\n\ncli_plat as (\n    select \n  contractor.document,\n  MAX(contractor.personal_data.name) as NOMEPARC ,\n  MAX(contractor.personal_data.cellphone) as  TELEFONE,\n  MAX(contractor.name) as RAZAOSOCIAL,\n  MAX(contractor.email) as EMAIL\n  from blips-bigdata.PLATAFORMA.negotiation\n  WHERE 1=1\n  AND phase.name = 'CONCLUDED'\n  GROUP BY 1\n\n\n),\n\ninfo_contrato as (\n  /*select \n  DOCUMENT,\n  CONTRACT_NUMBER,\n  MODALIDADE,\n  IS_FIDC,\n  'ATIVADO' AS ATIVADO,\n  VLR_ABERTO_VENCIDO,\n  CASE WHEN ATIVADO_INATIVO = 1 THEN 1 ELSE 0 END AS INATIVO\n\n  from blips-bigdata.PARAMETROS_EQUIPE_DADOS.BASE_PRINCIPAL_EQUIPAMENTOS_CONTRATOS\n  WHERE \n  (ATIVADO_ATIVO =1\n   OR \n  ATIVADO_INATIVO= 1)*/\n\n--RODOLFO:\n--base atualizada por status de plataforma para refinar clientes passíveis de cobrança.\n--os cancelados e finalizados não foram retirados intencionalmente para compor histórico de meses anteriores (principalmente de 2 meses atrás).\n\n  select \n  P.DOCUMENT,\n  P.CONTRACT_NUMBER,\n  P.MODALIDADE,\n  P.IS_FIDC,\n  'ATIVADO' AS ATIVADO,\n    --CASE WHEN ATIVADO_INATIVO = 1 THEN 1 ELSE 0 END AS INATIVO,\n  (case \n    when\n        P.MODALIDADE = 'VENDA' and P.PHASE_NAME in (\"FORA_PLATAFORMA\",\"SHIPPING_STATUS\",\"INSTALLATION_SCHEDULE\",\"INSTALLATION\",\"CONCLUDED\") and P.PHASE_STATUS in (\"CANCELLED\",\"ERROR\",\"FINISHED\") then 1\n    when P.MODALIDADE = 'VENDA' and P.MAIOR_DIAS_VENCIDOS_ABERTO > 90 THEN 1\n    when P.MODALIDADE = 'LOCACAO' AND P.PHASE_NAME IN (\"CONCLUDED\") and P.PHASE_STATUS in (\"CANCELLED\",\"ERROR\",'FINISHED') then 1\n    when P.MODALIDADE = 'LOCACAO' and P.MAIOR_DIAS_VENCIDOS_ABERTO > 60 then 1\n    when DHC.data_cancelamento is not null then 1\n    else 0\n  end) as INATIVO,\n\n  from blips-bigdata.PARAMETROS_EQUIPE_DADOS.BASE_PRINCIPAL_EQUIPAMENTOS_CONTRATOS P\n  LEFT JOIN blips-bigdata.VIEWS_DASHES.Dash_Historico_Cancelamento DHC\n    ON P.CONTRACT_NUMBER = DHC.contract_number\n  WHERE \n  ((P.MODALIDADE = 'VENDA' \n    and P.PHASE_NAME in (\"FORA_PLATAFORMA\",\"SHIPPING_STATUS\",\"INSTALLATION_SCHEDULE\",\"INSTALLATION\",\"CONCLUDED\") and P.PHASE_STATUS NOT in (\"CANCELLED\",\"ERROR\",\"FINISHED\")\n  OR\n  P.MODALIDADE = 'LOCACAO' AND P.PHASE_NAME IN (\"CONCLUDED\") and P.PHASE_STATUS NOT in (\"CANCELLED\",\"ERROR\",\"FINISHED\")))\n  group by 1,2,3,4,5,6\n\n),\n\nmdv as (\n  select \n    distinct contract_number,\n    cast(\n      max(\n        case\n          when (case when tipo_parcela in (\"PARCELA\",\"RECEITA_FIDC\") THEN DT_BAIXA ELSE NULL END) IS NULL THEN (DATE_DIFF(CURRENT_DATE,DT_VENC,DAY)) ELSE NULL END) OVER (PARTITION BY CONTRACT_NUMBER) AS INT) AS max_dv\n  from `blips-bigdata.PARAMETROS_EQUIPE_DADOS.Parcelas_equipamentos`\n  where 1=1\n  and tipo_parcela in (\"PARCELA\",\"RECEITA_FIDC\")\n\n),\n\nbase_total as(SELECT \nMAX(COALESCE(c_pl.NOMEPARC,c_sk.NOMEPARC)) AS nomeparc,\nREPLACE(MAX(COALESCE(c_pl.TELEFONE,c_sk.TELEFONE)),\" \",\"\") AS telefone,\nPC.CGC_CPF AS cpf_cnpj,\nMAX(COALESCE(c_pl.EMAIL,c_sk.EMAIL)) AS email,\nIC.MODALIDADE as modalidade,\nCASE WHEN PC.SITUACAO_CLIENTE = \"EM_DIA\" THEN \"PREVENTIVO\" ELSE \"COBRANCA\" END AS tipo_fluxo,\nIC.INATIVO as inativo,\nSTRING_AGG ( pc.LINHA_DIGITAVEL , '|') AS linha_digitavel_array, -- AGRUPAR  SEPARADO POR |\nSTRING_AGG ( cast(NUFIN AS STRING), '|') AS nufin_array, -- alterado por Rodolfo\nSTRING_AGG (PC.CONTRACT_NUMBER,'|') AS numcontrato_array,\nSTRING_AGG (cast (round(VLR_ORIGINAL,2) as STRING),'|') AS valor_array,\ncast(max(mdv.max_dv) as int ) AS max_dias_vencidos, -- MAXIMO DO CLIENTE\nround(sum(VLR_ORIGINAL),2) AS valor_sum,\nmax(IC.IS_FIDC) as is_fidc,\nmax(round(mdv.max_dv,0)) dias_vencidos_contrato,\nSTRING_AGG ( cast(NUFIN AS STRING)||'/'||CAST(pc.dt_venc as STRING), '|') AS nufin_array_dt_venc, -- AGRUPAR SEPARADO POR |\n\nFROM  \nblips-bigdata.PARAMETROS_EQUIPE_DADOS.Parcelas_equipamentos pc\nLEFT JOIN cli_blips_sk c_sk ON c_sk.document = pc.cgc_cpf\nLEFT JOIN cli_plat c_pl ON C_pl.document = pc.cgc_cpf\nLEFT JOIN info_contrato ic ON IC.CONTRACT_NUMBER = PC.CONTRACT_NUMBER\nleft join mdv on mdv.contract_number = pc.contract_number\n\nWHERE \n(ic.ATIVADO = 'ATIVADO' and IC.ativado IS NOT NULL)\nAND pc.TIPO_parcela in ('PARCELA', 'RECEITA_FIDC') --alterado por Rodolfo: Adicionada RECEITA_FIDC\nAND DIAS_VENCIDOS_PARCELA > -4\n\nGROUP BY \nCOALESCE(c_pl.NOMEPARC,c_sk.NOMEPARC),\nCOALESCE(c_pl.TELEFONE,c_sk.TELEFONE),\nPC.CGC_CPF ,\nCOALESCE(c_pl.EMAIL,c_sk.EMAIL) ,\nIC.MODALIDADE,\nCASE WHEN PC.SITUACAO_CLIENTE = \"EM_DIA\" THEN \"PREVENTIVO\" ELSE \"COBRANCA\" END ,\nIC.INATIVO,\nc_sk.RAZAOSOCIAL\n\norder by max_dias_vencidos)\n\nSELECT *\nFROM base_total\nWHERE telefone IS NOT NULL\n  AND (\n    (max_dias_vencidos IN (50, 51, 52, 91, 92, 93) AND modalidade = 'VENDA') OR\n    (max_dias_vencidos IN (-3, 20, 21, 22, 38, 39, 40) AND modalidade = 'LOCACAO') OR\n    max_dias_vencidos IN (0, 1, 2, 7, 8, 9, 11, 12, 13, 31, 32, 33, 61, 62, 63)\n  )\n  AND cpf_cnpj != '40397096000198'\n  AND numcontrato_array not like '%12402988%'\n\norder by(max_dias_vencidos)",
          "options": {}
        },
        "type": "n8n-nodes-base.googleBigQuery",
        "typeVersion": 2.1,
        "position": [
          -480,
          100
        ],
        "id": "e369e930-1e3f-4288-aed7-823245c67cdf",
        "name": "Google BigQuery",
        "executeOnce": true,
        "alwaysOutputData": true,
        "credentials": {
          "googleBigQueryOAuth2Api": {
            "id": "jdsaj0ytx87qNBLE",
            "name": "Google BigQuery - Joao Lucas"
          }
        }
      },
      {
        "parameters": {
          "operation": "activate",
          "workflowId": {
            "__rl": true,
            "value": "kp1CGeWIh5nBqHtC",
            "mode": "list",
            "cachedResultName": "Consulta do Dia - Mongo (#kp1CGeWIh5nBqHtC)"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.n8n",
        "typeVersion": 1,
        "position": [
          1000,
          140
        ],
        "id": "676deb09-f775-41b4-9c54-e45db5ac9fbb",
        "name": "Liga o schedule",
        "credentials": {
          "n8nApi": {
            "id": "zyc1Rhd9LKcUNM8O",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "return [\n  {\n    \"nomeparc\": \"Rômulo Camargo\",\n    \"telefone\": \"21964073564\",\n    \"cpf_cnpj\": \"43719364000139\",\n    \"email\": \"rjcamargo87@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": null,\n    \"nufin_array\": \"799378\",\n    \"numcontrato_array\": \"12403862\",\n    \"valor_array\": \"990\",\n    \"max_dias_vencidos\": \"-3\",\n    \"valor_sum\": \"990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"-3.0\",\n    \"nufin_array_dt_venc\": \"799378/2025-02-02 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Thaine Nascimento Viana \",\n    \"telefone\": \"98984740661\",\n    \"cpf_cnpj\": \"50210284000119\",\n    \"email\": \"gioncomunicacaovisual@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"13696311040042830310100000606582398600000196000\",\n    \"nufin_array\": \"879442\",\n    \"numcontrato_array\": \"12400050\",\n    \"valor_array\": \"311.49\",\n    \"max_dias_vencidos\": \"-3\",\n    \"valor_sum\": \"311.49\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"-3.0\",\n    \"nufin_array_dt_venc\": \"879442/2025-02-02 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Ailton Antônio Da Silva\",\n    \"telefone\": \"81994713754\",\n    \"cpf_cnpj\": \"51246712000126\",\n    \"email\": \"ailton16silva2012@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07589.650022  2 99770000048149\",\n    \"nufin_array\": \"829630\",\n    \"numcontrato_array\": \"12406636\",\n    \"valor_array\": \"481.49\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"481.49\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"829630/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"41.099.993 CLAUDETE PEREIRA DA SILVA CAMARINHO\",\n    \"telefone\": \"65992309678\",\n    \"cpf_cnpj\": \"41099993000188\",\n    \"email\": \"camarinholeo@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  03486.410123  3 99460000045519\",\n    \"nufin_array\": \"624119\",\n    \"numcontrato_array\": \"2311101027\",\n    \"valor_array\": \"455.19\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"455.19\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"624119/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Alessandro da Costa Bezerra\",\n    \"telefone\": \"91986239206\",\n    \"cpf_cnpj\": \"49667921000100\",\n    \"email\": \"graficaag2023@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04851.020091  3 99770000166341\",\n    \"nufin_array\": \"720717\",\n    \"numcontrato_array\": \"12401169\",\n    \"valor_array\": \"1663.41\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1663.41\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"720717/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"LUCIMARA BELISSIMO DE CARVALHO SILVA\",\n    \"telefone\": \"67999476361\",\n    \"cpf_cnpj\": \"98029754191\",\n    \"email\": \"lucimarabelissimocarvalho@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00566.917175  1 99770000048700\",\n    \"nufin_array\": \"786705\",\n    \"numcontrato_array\": \"12404961\",\n    \"valor_array\": \"487\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"487.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"786705/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Mario Marcio Antunes Vargas Junior \",\n    \"telefone\": \"65993077070\",\n    \"cpf_cnpj\": \"48901908000100\",\n    \"email\": \"contato@globalprint.com.br\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00579.954173  6 99770000170885\",\n    \"nufin_array\": \"859193\",\n    \"numcontrato_array\": \"12409042\",\n    \"valor_array\": \"1708.85\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1708.85\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"859193/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Raynério Soares dos Santos\",\n    \"telefone\": \"83993601574\",\n    \"cpf_cnpj\": \"44583297000130\",\n    \"email\": \"rayneriosantos@hotmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"03399.04997 44800.000000 00274.501014 6 99770000140000\",\n    \"nufin_array\": \"225301\",\n    \"numcontrato_array\": \"522\",\n    \"valor_array\": \"1400\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1400.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"225301/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"CAIO RIBEIRO DE MEDEIROS\",\n    \"telefone\": \"11976631055\",\n    \"cpf_cnpj\": \"29390079000196\",\n    \"email\": \"sportxpressbox@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04998.680088  5 99770000108709\",\n    \"nufin_array\": \"726812\",\n    \"numcontrato_array\": \"12402068\",\n    \"valor_array\": \"1087.09\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1087.09\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"726812/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Daniel Dimas Alves De Oliveira\",\n    \"telefone\": \"89999410620\",\n    \"cpf_cnpj\": \"44948796000184\",\n    \"email\": \"danielsanprhc@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05392.690060  3 99460000166858\",\n    \"nufin_array\": \"734536\",\n    \"numcontrato_array\": \"12402539\",\n    \"valor_array\": \"1668.58\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1668.58\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"734536/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"WALFREDO COSTA MARTINS\",\n    \"telefone\": \"95981056438\",\n    \"cpf_cnpj\": \"47036680000167\",\n    \"email\": \"walfredo1982@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07612.340021  7 99770000034543\",\n    \"nufin_array\": \"775549\",\n    \"numcontrato_array\": \"12405258\",\n    \"valor_array\": \"345.43\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"345.43\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"775549/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Aldevan Lopes\",\n    \"telefone\": \"94991562179\",\n    \"cpf_cnpj\": \"34170987000104\",\n    \"email\": \"aldevan4@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04006.620100  6 99460000030511\",\n    \"nufin_array\": \"612358\",\n    \"numcontrato_array\": \"2310311032\",\n    \"valor_array\": \"305.11\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"305.11\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"612358/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Frank Silva Cardoso\",\n    \"telefone\": \"71992059216\",\n    \"cpf_cnpj\": \"24902615000171\",\n    \"email\": \"frankbaloes@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  03872.590082  1 98530000081820\",\n    \"nufin_array\": \"669086\",\n    \"numcontrato_array\": \"2312141036\",\n    \"valor_array\": \"818.2\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"818.2\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"669086/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"I. SANTOS DA SILVA\",\n    \"telefone\": \"99985307427\",\n    \"cpf_cnpj\": \"35555871000156\",\n    \"email\": \"maranhaotoldoseplacas@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  03845.610173  1 99770000139060\",\n    \"nufin_array\": \"435809\",\n    \"numcontrato_array\": \"19925711\",\n    \"valor_array\": \"1390.6\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1390.6\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"435809/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Eurimar Ramalho Silva\",\n    \"telefone\": \"32999290371\",\n    \"cpf_cnpj\": \"30459285000194\",\n    \"email\": \"eurimarramalho@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  06722.770044  4 99570000149091\",\n    \"nufin_array\": \"763628\",\n    \"numcontrato_array\": \"12404087\",\n    \"valor_array\": \"1490.91\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1490.91\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"763628/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Jorge Luiz da Silva\",\n    \"telefone\": \"73998096203\",\n    \"cpf_cnpj\": \"14384472000108\",\n    \"email\": \"jorgearte1000@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05669.340068  9 99770000104490\",\n    \"nufin_array\": \"739828\",\n    \"numcontrato_array\": \"12402984\",\n    \"valor_array\": \"1044.9\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1044.9\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"739828/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"GERSON BARBOSA VERAS JUNIOR\",\n    \"telefone\": \"91980881021\",\n    \"cpf_cnpj\": \"29105385000133\",\n    \"email\": \"gerson.veras@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07325.080039  9 99770000123537\",\n    \"nufin_array\": \"816573\",\n    \"numcontrato_array\": \"12406716\",\n    \"valor_array\": \"1235.37\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1235.37\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"816573/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"EDUARDO VASCO DE ARAUJO\",\n    \"telefone\": \"77999922992\",\n    \"cpf_cnpj\": \"12182120000136\",\n    \"email\": \"artemidia@live.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07282.700041  3 99770000183599|75691.40275  01290.586815  07286.100032  4 99770000020230\",\n    \"nufin_array\": \"764481|778373\",\n    \"numcontrato_array\": \"12404123|12404467\",\n    \"valor_array\": \"1835.99|202.3\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"2038.29\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"764481/2025-01-30 00:00:00|778373/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \" RAFAEL ARAUJO DOS SANTOS\",\n    \"telefone\": \"19971124265\",\n    \"cpf_cnpj\": \"49864102000144\",\n    \"email\": \"rafaelaraujo1935@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  06754.300041  1 99770000166980\",\n    \"nufin_array\": \"793140\",\n    \"numcontrato_array\": \"12406059\",\n    \"valor_array\": \"1669.8\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1669.8\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"793140/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"DARLENE DO CARMO SILVA\",\n    \"telefone\": \"11969525034\",\n    \"cpf_cnpj\": \"36591239000120\",\n    \"email\": \"5dimpressoesdigitais@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  03771.700105  9 99160000050216|75691.40275  01290.586815  03771.950122  4 99770000050216\",\n    \"nufin_array\": \"588380|588382\",\n    \"numcontrato_array\": \"2310101019|2310101019\",\n    \"valor_array\": \"502.16|502.16\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1004.32\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"588380/2025-01-30 00:00:00|588382/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"OURILASER\",\n    \"telefone\": \"1499745398\",\n    \"cpf_cnpj\": \"48270512000102\",\n    \"email\": \"ourilaserrmc@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  02357.820170  2 99770000165088\",\n    \"nufin_array\": \"474113\",\n    \"numcontrato_array\": \"19926756\",\n    \"valor_array\": \"1650.88\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1650.88\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"474113/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"GEMESON AMARAL DA SILVA\",\n    \"telefone\": \"81987530371\",\n    \"cpf_cnpj\": \"20531143000137\",\n    \"email\": \"nag.grafica@outlook.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  03859.820114  3 99770000030511\",\n    \"nufin_array\": \"656816\",\n    \"numcontrato_array\": \"2312051015\",\n    \"valor_array\": \"305.11\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"305.11\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"656816/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"AMARO DOS SANTOS JUNIOR\",\n    \"telefone\": \"82996365126\",\n    \"cpf_cnpj\": \"30818755000169\",\n    \"email\": \"atendimentoasj@outlook.com.br\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05163.900086  7 99770000163780\",\n    \"nufin_array\": \"728894\",\n    \"numcontrato_array\": \"12401620\",\n    \"valor_array\": \"1637.8\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1637.8\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"728894/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Lucas  Vale de Carvalho Santos\",\n    \"telefone\": \"86988218796\",\n    \"cpf_cnpj\": \"51138579000194\",\n    \"email\": \"enterprime17@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04066.170111  5 99770000152117\",\n    \"nufin_array\": \"642417\",\n    \"numcontrato_array\": \"2311241000\",\n    \"valor_array\": \"1521.17\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1521.17\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"642417/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"VANDER HILTON GOMES DE JESUS\",\n    \"telefone\": \"33988464254\",\n    \"cpf_cnpj\": \"13740731000115\",\n    \"email\": \"vandinhoadesivos@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05622.000098  2 99770000112330\",\n    \"nufin_array\": \"644197\",\n    \"numcontrato_array\": \"2311251000\",\n    \"valor_array\": \"1123.3\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1123.3\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"644197/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Vanessa de Jesus Gomes \",\n    \"telefone\": \"11987465651\",\n    \"cpf_cnpj\": \"25127332000162\",\n    \"email\": \"blessed.lvcomunicacao@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07510.910024  1 99770000052958\",\n    \"nufin_array\": \"788640\",\n    \"numcontrato_array\": \"12405907\",\n    \"valor_array\": \"529.58\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"529.58\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"788640/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"MARILEI DE LOURDES PICCOLLI\",\n    \"telefone\": \"49998055389\",\n    \"cpf_cnpj\": \"32593169000199\",\n    \"email\": \"mprbrindes@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00580.317170  7 99770000094900\",\n    \"nufin_array\": \"859412\",\n    \"numcontrato_array\": \"12407710\",\n    \"valor_array\": \"949\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"949.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"859412/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Tércio Ferreira Gomes\",\n    \"telefone\": \"81989958724\",\n    \"cpf_cnpj\": \"35950071000130\",\n    \"email\": \"terciogommes2014@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05055.330087  7 99770000239512\",\n    \"nufin_array\": \"732902\",\n    \"numcontrato_array\": \"12402479\",\n    \"valor_array\": \"2395.12\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"2395.12\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"732902/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Valdenir Martins Rodrigues\",\n    \"telefone\": \"15997172375\",\n    \"cpf_cnpj\": \"21550399000154\",\n    \"email\": \"qicvisual@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  01707.900211  1 99770000027500\",\n    \"nufin_array\": \"371814\",\n    \"numcontrato_array\": \"19924291\",\n    \"valor_array\": \"275\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"275.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"371814/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Marcos Venicius Rodrigues Vilela\",\n    \"telefone\": \"79988611611\",\n    \"cpf_cnpj\": \"51827071000101\",\n    \"email\": \"impressumgrafica2020@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05795.020063  3 99770000158052\",\n    \"nufin_array\": \"755474\",\n    \"numcontrato_array\": \"12403755\",\n    \"valor_array\": \"1580.52\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1580.52\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"755474/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Thais de Souza Silva Castro\",\n    \"telefone\": \"11945741868\",\n    \"cpf_cnpj\": \"36445669000134\",\n    \"email\": \"thais.souza.11@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04477.260097  2 99770000154118\",\n    \"nufin_array\": \"720952\",\n    \"numcontrato_array\": \"12401568\",\n    \"valor_array\": \"1541.18\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1541.18\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"720952/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Kledson Dias Batista Braga\",\n    \"telefone\": \"81998862458\",\n    \"cpf_cnpj\": \"43006544000173\",\n    \"email\": \"ketocopiadora@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  08031.200028  1 99770000056324\",\n    \"nufin_array\": \"839667\",\n    \"numcontrato_array\": \"12400264\",\n    \"valor_array\": \"563.24\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"563.24\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"839667/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Cristiane Nascimento da Silva Cerqueira\",\n    \"telefone\": \"74991124332\",\n    \"cpf_cnpj\": \"48985483000157\",\n    \"email\": \"crisnsc7@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00580.299170  5 99770000017109\",\n    \"nufin_array\": \"859345\",\n    \"numcontrato_array\": \"12406799\",\n    \"valor_array\": \"171.09\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"171.09\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"859345/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ROBERSON  DE OLIVEIRA BUENO\",\n    \"telefone\": \"35992715223\",\n    \"cpf_cnpj\": \"54415003000115\",\n    \"email\": \"buenobueno36@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04607.600071  2 99160000253741|75691.40275  01290.586815  04607.780089  2 99460000253741\",\n    \"nufin_array\": \"720778|720779\",\n    \"numcontrato_array\": \"12401554|12401554\",\n    \"valor_array\": \"2537.41|2537.41\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"5074.82\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"720778/2025-01-30 00:00:00|720779/2025-02-02 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"LEANDRO MARQUES DA SILVA\",\n    \"telefone\": \"21975646991\",\n    \"cpf_cnpj\": \"20945545000188\",\n    \"email\": \"lpsmartrj@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04494.820097  8 99770000104299\",\n    \"nufin_array\": \"717873\",\n    \"numcontrato_array\": \"12401374\",\n    \"valor_array\": \"1042.99\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1042.99\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"717873/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"JEFERSON MARIA DOMINGUES 32727098863\",\n    \"telefone\": \"1391666494\",\n    \"cpf_cnpj\": \"38498576000101\",\n    \"email\": \"mktcreator@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  01640.600209  2 99770000065224\",\n    \"nufin_array\": \"371637\",\n    \"numcontrato_array\": \"19924285\",\n    \"valor_array\": \"652.24\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"652.24\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"371637/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"TAMIRES GONCALO DE CERQUEIRA\",\n    \"telefone\": \"82998229167\",\n    \"cpf_cnpj\": \"13837195000170\",\n    \"email\": \"stamprintmcz@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04522.280090  1 99770000156749\",\n    \"nufin_array\": \"719867\",\n    \"numcontrato_array\": \"12401542\",\n    \"valor_array\": \"1567.49\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1567.49\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"719867/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"RAPHAEL HENRIQUE CARDOSO SILVA\",\n    \"telefone\": \"73998598316\",\n    \"cpf_cnpj\": \"49820288000130\",\n    \"email\": \"rhcomunicacao0@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00580.180172  6 99770000087800\",\n    \"nufin_array\": \"859011\",\n    \"numcontrato_array\": \"12407161\",\n    \"valor_array\": \"878\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"878.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"859011/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"LUCIANA RODRIGUES DE MATOS ALMEIDA\",\n    \"telefone\": \"88981465609\",\n    \"cpf_cnpj\": \"35939606000171\",\n    \"email\": \"graficaartpower@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07759.500056  7 99770000231637\",\n    \"nufin_array\": \"767848\",\n    \"numcontrato_array\": \"12404393\",\n    \"valor_array\": \"2316.37\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"2316.37\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"767848/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Ronaldo Ferreira dos Santos\",\n    \"telefone\": \"44991495586\",\n    \"cpf_cnpj\": \"01015339000124\",\n    \"email\": \"evergreen.ronaldo@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07915.960012  3 99770000247126\",\n    \"nufin_array\": \"814293\",\n    \"numcontrato_array\": \"12406852\",\n    \"valor_array\": \"2471.26\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"2471.26\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"814293/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Reny junior Tavares\",\n    \"telefone\": \"37991556700\",\n    \"cpf_cnpj\": \"42417462000159\",\n    \"email\": \"renyglobal@yahoo.com.br\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  04189.030101  1 99770000242474\",\n    \"nufin_array\": \"565574\",\n    \"numcontrato_array\": \"2309261033\",\n    \"valor_array\": \"2424.74\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"2424.74\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"565574/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Wemerson Berto dos Santos\",\n    \"telefone\": \"16988103047\",\n    \"cpf_cnpj\": \"50984796000132\",\n    \"email\": \"wemerson.b.santos@icloud.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00564.871176  1 99300000063064|00190.00009  03337.609006  00564.868172  5 98960000196000|00190.00009  03337.609006  00564.867174  1 98690000063064|00190.00009  03337.609006  00564.869170  1 99000000063064|00190.00009  03337.609006  00564.872174  3 99570000196000|00190.00009  03337.609006  00564.870178  1 99260000196000\",\n    \"nufin_array\": \"770111|733418|770097|770098|733420|733419\",\n    \"numcontrato_array\": \"12401395|12401395|12401395|12401395|12401395|12401395\",\n    \"valor_array\": \"630.64|1960|630.64|630.64|1960|1960\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"7771.92\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"770111/2025-01-30 00:00:00|733418/2025-01-30 00:00:00|770097/2025-01-30 00:00:00|770098/2025-01-30 00:00:00|733420/2025-01-30 00:00:00|733419/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"LEONARDO NASCIMENTO DA SILVA\",\n    \"telefone\": \"92981459199\",\n    \"cpf_cnpj\": \"51119281000137\",\n    \"email\": \"leonardons88@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  06695.890050  5 99770000124329\",\n    \"nufin_array\": \"767661\",\n    \"numcontrato_array\": \"12404514\",\n    \"valor_array\": \"1243.29\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1243.29\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"767661/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"RAFAEL TOZZELLI\",\n    \"telefone\": \"98988292002\",\n    \"cpf_cnpj\": \"46345288000137\",\n    \"email\": \"rafatozz@hotmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00580.110179  1 99770000143300\",\n    \"nufin_array\": \"859120\",\n    \"numcontrato_array\": \"12407254\",\n    \"valor_array\": \"1433\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1433.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"859120/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"MB CONFECCAO E ESTAMPARIA LTDA\",\n    \"telefone\": \"1197505847\",\n    \"cpf_cnpj\": \"46948742000144\",\n    \"email\": \"brunatravaglia50@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  02558.060170  1 99770000028988\",\n    \"nufin_array\": \"425999\",\n    \"numcontrato_array\": \"19925547\",\n    \"valor_array\": \"289.88\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"289.88\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"425999/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"DILMAR ROMARIO PERUZZO\",\n    \"telefone\": \"54999851519\",\n    \"cpf_cnpj\": \"46224766000150\",\n    \"email\": \"dilmar.peruzzo68@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00580.146173  2 99770000084500\",\n    \"nufin_array\": \"859071\",\n    \"numcontrato_array\": \"12407556\",\n    \"valor_array\": \"845\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"845.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"859071/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"FABIO FERNANDES DE JESUS\",\n    \"telefone\": \"73991319131\",\n    \"cpf_cnpj\": \"42131075000151\",\n    \"email\": \"garagemcomunicacaovisual@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"34191.09008 01393.232937 72609.210009 4 99770000160000\",\n    \"nufin_array\": \"756335\",\n    \"numcontrato_array\": \"544\",\n    \"valor_array\": \"1600\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1600.0\",\n    \"is_fidc\": \"1\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"756335/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Rafael Pontes Cardoso\",\n    \"telefone\": \"21994215280\",\n    \"cpf_cnpj\": \"22829812000187\",\n    \"email\": \"criativaprint@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05534.490064  4 99460000198937\",\n    \"nufin_array\": \"743076\",\n    \"numcontrato_array\": \"12403067\",\n    \"valor_array\": \"1989.37\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1989.37\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"743076/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Tatiane Pires dos Santos\",\n    \"telefone\": \"92992364564\",\n    \"cpf_cnpj\": \"22486270000197\",\n    \"email\": \"tatianepirestps@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.588415  00503.410342  2 99770000130000\",\n    \"nufin_array\": \"205037\",\n    \"numcontrato_array\": \"443\",\n    \"valor_array\": \"1300\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1300.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"205037/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"MARIA DAS NEVES CONCEICAO DA SILVA\",\n    \"telefone\": \"97984046966\",\n    \"cpf_cnpj\": \"46677248000192\",\n    \"email\": \"kairosmalhariafabrica@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  03783.700101  2 99140000047500\",\n    \"nufin_array\": \"663930\",\n    \"numcontrato_array\": \"2312111052\",\n    \"valor_array\": \"475\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"475.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"663930/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"F CRUZ PROJETOS LTDA\",\n    \"telefone\": \"1147674635\",\n    \"cpf_cnpj\": \"11821466000174\",\n    \"email\": \"fabianocruz@artattackpd.com.br\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07527.990118  8 99770000151026\",\n    \"nufin_array\": \"482285\",\n    \"numcontrato_array\": \"19926821\",\n    \"valor_array\": \"1510.26\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1510.26\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"482285/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"21.980.547 RONIVALDO CONCEICAO DE JESUS\",\n    \"telefone\": \"7598159596\",\n    \"cpf_cnpj\": \"21980547000170\",\n    \"email\": \"rony.graficarapida@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  01716.020209  8 99770000164033\",\n    \"nufin_array\": \"391855\",\n    \"numcontrato_array\": \"19924740\",\n    \"valor_array\": \"1640.33\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1640.33\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"391855/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Raysa Maria Russely Souza Santos\",\n    \"telefone\": \"83981030606\",\n    \"cpf_cnpj\": \"35835898000100\",\n    \"email\": \"comercial@bureaugrafico.com.br\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.588415  00503.660300  7 99770000160000\",\n    \"nufin_array\": \"255486\",\n    \"numcontrato_array\": \"625\",\n    \"valor_array\": \"1600\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1600.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"255486/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"DANIEL VICTOR LEITE DE MACEDO\",\n    \"telefone\": \"91933494774\",\n    \"cpf_cnpj\": \"45902490000150\",\n    \"email\": \"meioito49@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"PREVENTIVO\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  05829.500064  1 99770000140035\",\n    \"nufin_array\": \"754053\",\n    \"numcontrato_array\": \"12403703\",\n    \"valor_array\": \"1400.35\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"1400.35\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"754053/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"FRANCISCA NETO REIS\",\n    \"telefone\": \"99981735080\",\n    \"cpf_cnpj\": \"48672820000156\",\n    \"email\": \"fernandomelo731@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00579.817172  5 99770000105000|00190.00009  03337.609006  00579.853177  1 99770000105000\",\n    \"nufin_array\": \"858742|858783\",\n    \"numcontrato_array\": \"12404673|12404676\",\n    \"valor_array\": \"1050|1050\",\n    \"max_dias_vencidos\": \"0\",\n    \"valor_sum\": \"2100.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"0.0\",\n    \"nufin_array_dt_venc\": \"858742/2025-01-30 00:00:00|858783/2025-01-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"MARCOS ANTONIO SANDOVAL\",\n    \"telefone\": \"45999053650\",\n    \"cpf_cnpj\": \"17745700000108\",\n    \"email\": \"mas.brindes@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": null,\n    \"nufin_array\": \"875757\",\n    \"numcontrato_array\": \"2311241033\",\n    \"valor_array\": \"2150\",\n    \"max_dias_vencidos\": \"7\",\n    \"valor_sum\": \"2150.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"7.0\",\n    \"nufin_array_dt_venc\": \"875757/2025-01-23 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"rafael de quadros\",\n    \"telefone\": \"42999682966\",\n    \"cpf_cnpj\": \"10906483000141\",\n    \"email\": \"dvrdesign@hotmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00504.823170  5 99700000175000\",\n    \"nufin_array\": \"268506\",\n    \"numcontrato_array\": \"2209201000\",\n    \"valor_array\": \"1750\",\n    \"max_dias_vencidos\": \"7\",\n    \"valor_sum\": \"1750.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"7.0\",\n    \"nufin_array_dt_venc\": \"268506/2025-01-23 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"IVANILSON PESSOA DA SILVA\",\n    \"telefone\": \"81997640081\",\n    \"cpf_cnpj\": \"17976647000156\",\n    \"email\": \"infoarte.tecnologia@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00579.556176  9 99700000114472\",\n    \"nufin_array\": \"855972\",\n    \"numcontrato_array\": \"12406861\",\n    \"valor_array\": \"1144.72\",\n    \"max_dias_vencidos\": \"7\",\n    \"valor_sum\": \"1144.72\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"7.0\",\n    \"nufin_array_dt_venc\": \"855972/2025-01-23 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"JOSE DOMINGOS GIALORENZO EIRELI\",\n    \"telefone\": \"16994029286\",\n    \"cpf_cnpj\": \"19509097000190\",\n    \"email\": \"atendimento@fabricaegaleriabrasil.com.br\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  00421.650359  6 99700000105774\",\n    \"nufin_array\": \"216783\",\n    \"numcontrato_array\": \"19918357\",\n    \"valor_array\": \"1057.74\",\n    \"max_dias_vencidos\": \"7\",\n    \"valor_sum\": \"1057.74\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"7.0\",\n    \"nufin_array_dt_venc\": \"216783/2025-01-23 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ELISANGELA PEREIRA ARAUJO 36076045841\",\n    \"telefone\": \"19982368224\",\n    \"cpf_cnpj\": \"35847158000186\",\n    \"email\": \"easyprintcampinas@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00504.904178  8 99700000130000|00190.00009  03337.609006  00574.163176  8 99390000130000\",\n    \"nufin_array\": \"157837|208392\",\n    \"numcontrato_array\": \"245|456\",\n    \"valor_array\": \"1300|1300\",\n    \"max_dias_vencidos\": \"7\",\n    \"valor_sum\": \"2600.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"7.0\",\n    \"nufin_array_dt_venc\": \"157837/2025-01-23 00:00:00|208392/2025-01-23 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Luis Carlos\",\n    \"telefone\": \"14998019509\",\n    \"cpf_cnpj\": \"38261831000190\",\n    \"email\": \"aslancomunicacaovisual@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  02389.210176  4 99720000027466|75691.40275  01290.586815  06487.300052  5 99700000023817\",\n    \"nufin_array\": \"450831|768251\",\n    \"numcontrato_array\": \"19926073|12404644\",\n    \"valor_array\": \"274.66|238.17\",\n    \"max_dias_vencidos\": \"7\",\n    \"valor_sum\": \"512.83\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"7.0\",\n    \"nufin_array_dt_venc\": \"450831/2025-01-25 00:00:00|768251/2025-01-23 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Rodrigo Sobral de Jesus\",\n    \"telefone\": \"62982267651\",\n    \"cpf_cnpj\": \"23855951000148\",\n    \"email\": \"contato@sobralconstrutora.store\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00578.258170  5 99660000144514|00190.00009  03337.609006  00578.880171  9 99710000144300\",\n    \"nufin_array\": \"854312|856963\",\n    \"numcontrato_array\": \"12408704|12408844\",\n    \"valor_array\": \"1445.14|1443\",\n    \"max_dias_vencidos\": \"11\",\n    \"valor_sum\": \"2888.14\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"11.0\",\n    \"nufin_array_dt_venc\": \"854312/2025-01-19 00:00:00|856963/2025-01-24 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Max Roberto Reges\",\n    \"telefone\": \"98981353169\",\n    \"cpf_cnpj\": \"28738148000147\",\n    \"email\": \"mdoor@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07858.700029  1 99670000050690\",\n    \"nufin_array\": \"735819\",\n    \"numcontrato_array\": \"12402698\",\n    \"valor_array\": \"506.9\",\n    \"max_dias_vencidos\": \"11\",\n    \"valor_sum\": \"506.9\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"11.0\",\n    \"nufin_array_dt_venc\": \"735819/2025-01-19 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Raissa Amaral Diniz\",\n    \"telefone\": \"91981356000\",\n    \"cpf_cnpj\": \"24987931000193\",\n    \"email\": \"andrea.diniz@agilitycvisual.com.br\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00517.286175  1 99570000179000\",\n    \"nufin_array\": \"460855\",\n    \"numcontrato_array\": \"2307051018\",\n    \"valor_array\": \"1790\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1790.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"460855/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"DEYFSON FRUTUOSO RIBEIRO DE ALMEIDA\",\n    \"telefone\": \"81995398991\",\n    \"cpf_cnpj\": \"47725103000182\",\n    \"email\": \"imperiodosbrindes2019@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00569.395171  6 99570000219000\",\n    \"nufin_array\": \"826888\",\n    \"numcontrato_array\": \"12403258\",\n    \"valor_array\": \"2190\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"2190.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"826888/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"IRIS PRISCILA TAVARES DOS SANTOS\",\n    \"telefone\": \"82993083482\",\n    \"cpf_cnpj\": \"14114889000142\",\n    \"email\": \"ph3fardamentos@hotmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00564.544179  1 99570000199000\",\n    \"nufin_array\": \"813887\",\n    \"numcontrato_array\": \"12405720\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"813887/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Juliana Araujo \",\n    \"telefone\": \"11985736197\",\n    \"cpf_cnpj\": \"28924527835\",\n    \"email\": \"araujuliana@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00558.872172  8 99570000043500\",\n    \"nufin_array\": \"791541\",\n    \"numcontrato_array\": \"12404891\",\n    \"valor_array\": \"435\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"435.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"791541/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"CAMILLY MAMEDE SANTIAGO LINDOR\",\n    \"telefone\": \"11989922969\",\n    \"cpf_cnpj\": \"55681665000108\",\n    \"email\": \"danilindorsantiago@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00559.277173  3 99570000288400\",\n    \"nufin_array\": \"777690\",\n    \"numcontrato_array\": \"12404914\",\n    \"valor_array\": \"2884\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"2884.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"777690/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Welliton Mattos\",\n    \"telefone\": \"41988289738\",\n    \"cpf_cnpj\": \"44392598000187\",\n    \"email\": \"wellitondemattos@icloud.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"34191.09008 00494.492937 72609.210009 7 99570000199000\",\n    \"nufin_array\": \"681745\",\n    \"numcontrato_array\": \"2301121007\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"1\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"681745/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Luciano Machado De Souza\",\n    \"telefone\": \"31972257861\",\n    \"cpf_cnpj\": \"13012015000111\",\n    \"email\": \"compras3rcomercio@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00575.454178  7 99570000199000\",\n    \"nufin_array\": \"846132\",\n    \"numcontrato_array\": \"12405249\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"846132/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Sulene Maria de Lima da Silva \",\n    \"telefone\": \"21964722097\",\n    \"cpf_cnpj\": \"49465645000199\",\n    \"email\": \"denerson@monopixel.net\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00560.305179  2 99570000149000\",\n    \"nufin_array\": \"776166\",\n    \"numcontrato_array\": \"12404335\",\n    \"valor_array\": \"1490\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1490.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"776166/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Thiago Fernando Origa Pereira\",\n    \"telefone\": \"43996527770\",\n    \"cpf_cnpj\": \"22675279000146\",\n    \"email\": \"f7grafica@hotmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"03399.04997 44800.000000 00193.901014 4 99570000199000\",\n    \"nufin_array\": \"746488\",\n    \"numcontrato_array\": \"12401159\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"746488/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"CLOVIS DE CARVALHO COSTA FILHO\",\n    \"telefone\": \"79996564378\",\n    \"cpf_cnpj\": \"24946338000107\",\n    \"email\": \"cliquecv@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00576.601173  3 99570000199000\",\n    \"nufin_array\": \"849951\",\n    \"numcontrato_array\": \"12403968\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"849951/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Carlos Eduardo Casagrande\",\n    \"telefone\": \"41996864299\",\n    \"cpf_cnpj\": \"52041066000123\",\n    \"email\": \"graficompany@yahoo.com.br\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00540.715174  6 99260000196000\",\n    \"nufin_array\": \"735868\",\n    \"numcontrato_array\": \"12401110\",\n    \"valor_array\": \"1960\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1960.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"735868/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Jadhe Rebeka Rodrigues da Silva\",\n    \"telefone\": \"11934848559\",\n    \"cpf_cnpj\": \"53912113000120\",\n    \"email\": \"adgraphicsvisual@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00550.484174  4 99570000129000|00190.00009  03337.609006  00578.015174  6 99650000041163\",\n    \"nufin_array\": \"768965|853876\",\n    \"numcontrato_array\": \"12403998|12403998\",\n    \"valor_array\": \"1290|411.63\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1701.63\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"768965/2025-01-10 00:00:00|853876/2025-01-18 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Danielle Fernandes Gaia \",\n    \"telefone\": \"43999116385\",\n    \"cpf_cnpj\": \"31431179000165\",\n    \"email\": \"adm@sublitexpaineis.com.br\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00545.710170  2 99570000229000\",\n    \"nufin_array\": \"752531\",\n    \"numcontrato_array\": \"12402124\",\n    \"valor_array\": \"2290\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"2290.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"752531/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Willian Domingues\",\n    \"telefone\": \"41996586250\",\n    \"cpf_cnpj\": \"48572778000100\",\n    \"email\": \"contatodw.service@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"34191.09008 01591.982937 72609.210009 6 99570000203060\",\n    \"nufin_array\": \"819119\",\n    \"numcontrato_array\": \"12405549\",\n    \"valor_array\": \"2030.6\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"2030.6\",\n    \"is_fidc\": \"1\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"819119/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"João Vitor de Jesus Silva \",\n    \"telefone\": \"43998078050\",\n    \"cpf_cnpj\": \"54326736000183\",\n    \"email\": \"nilsonidealcv@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00572.518173  7 99570000237200\",\n    \"nufin_array\": \"839464\",\n    \"numcontrato_array\": \"12406994\",\n    \"valor_array\": \"2372\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"2372.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"839464/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Luzia Mara Pereira dos Santos Calcavara\",\n    \"telefone\": \"16981377366\",\n    \"cpf_cnpj\": \"48165269000154\",\n    \"email\": \"ateliedecoracaorp@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": null,\n    \"nufin_array\": \"798880\",\n    \"numcontrato_array\": \"12403036\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"798880/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ANA PAULA SILVA ITAMAYA\",\n    \"telefone\": \"92992070826\",\n    \"cpf_cnpj\": \"43516476000192\",\n    \"email\": \"vaidebrinde@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00565.222171  6 99570000115500\",\n    \"nufin_array\": \"814554\",\n    \"numcontrato_array\": \"12405685\",\n    \"valor_array\": \"1155\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1155.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"814554/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Zânia Ferreira de Jesus\",\n    \"telefone\": \"62984062926\",\n    \"cpf_cnpj\": \"79654460149\",\n    \"email\": \"zania_jesus@hotmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"03399.04997 44800.000000 00084.801018 9 99570000071300\",\n    \"nufin_array\": \"541159\",\n    \"numcontrato_array\": \"2309081001\",\n    \"valor_array\": \"713\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"713.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"541159/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ANTONIO ROBERTO VASCONCELOS BEZERRA JUNIOR\",\n    \"telefone\": \"81991050524\",\n    \"cpf_cnpj\": \"54344501000114\",\n    \"email\": \"robertojuniortjs2009@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00573.809175  3 99570000172000\",\n    \"nufin_array\": \"777824\",\n    \"numcontrato_array\": \"12404361\",\n    \"valor_array\": \"1720\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1720.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"777824/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Renan Gabriel de Oliveira \",\n    \"telefone\": \"17991222477\",\n    \"cpf_cnpj\": \"38499492000184\",\n    \"email\": \"renanoliveira@vndsbr.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00573.294170  6 99610000149000\",\n    \"nufin_array\": \"842083|834370\",\n    \"numcontrato_array\": \"12406196|12406269\",\n    \"valor_array\": \"1490|1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"3480.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"842083/2025-01-15 00:00:00|834370/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Voneide Souza Silva Alves\",\n    \"telefone\": \"74988089747\",\n    \"cpf_cnpj\": \"02785578562\",\n    \"email\": \"voneidevoneide@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"13696311040042830310100000772830299570000071300\",\n    \"nufin_array\": \"725424\",\n    \"numcontrato_array\": \"12401019\",\n    \"valor_array\": \"713\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"713.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"725424/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"HELIO BEZERRA DOS SANTOS FILHO 08426214401 \",\n    \"telefone\": \"81985646277\",\n    \"cpf_cnpj\": \"23643445000195\",\n    \"email\": \"novasinalizacao@hotmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"34191.09008 01126.192937 72609.210009 9 99570000169000\",\n    \"nufin_array\": \"714379\",\n    \"numcontrato_array\": \"2311281022\",\n    \"valor_array\": \"1690\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1690.0\",\n    \"is_fidc\": \"1\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"714379/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"TAYANE LARISSA OLIVEIRA\",\n    \"telefone\": \"42998425022\",\n    \"cpf_cnpj\": \"27978124000100\",\n    \"email\": \"i9idvisual@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00566.400172  9 99570000219000\",\n    \"nufin_array\": \"818375\",\n    \"numcontrato_array\": \"12405675\",\n    \"valor_array\": \"2190\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"2190.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"818375/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"GLENDA DOS SANTOS BANDEIRA\",\n    \"telefone\": \"85999584802\",\n    \"cpf_cnpj\": \"54785150000187\",\n    \"email\": \"gruposomarfortaleza@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"03399.04997 44800.000000 00234.101012 7 99570000199000\",\n    \"nufin_array\": \"736176\",\n    \"numcontrato_array\": \"12401973\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"736176/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Isabella Theodoro de Freitas\",\n    \"telefone\": \"34996678545\",\n    \"cpf_cnpj\": \"37166531000169\",\n    \"email\": \"itcomunicacaovisualsv@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"03399.04997 44800.000000 00277.701017 1 99570000145000\",\n    \"nufin_array\": \"235526\",\n    \"numcontrato_array\": \"561\",\n    \"valor_array\": \"1450\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1450.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"235526/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"RENNAN PESSOA DA CRUZ\",\n    \"telefone\": \"96984009637\",\n    \"cpf_cnpj\": \"29537285000186\",\n    \"email\": \"nortefachadas@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"03399.04997 44800.000000 00251.501011 1 99570000199000\",\n    \"nufin_array\": \"744977\",\n    \"numcontrato_array\": \"12402387\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"744977/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"LILYANE LEITE SILVA\",\n    \"telefone\": \"94984362381\",\n    \"cpf_cnpj\": \"46476227000109\",\n    \"email\": \"gefferson.willamy.silva@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00576.075170  1 99570000199000\",\n    \"nufin_array\": \"764108\",\n    \"numcontrato_array\": \"12402694\",\n    \"valor_array\": \"1990\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1990.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"764108/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"SERGIO ARCANJO\",\n    \"telefone\": \"11920018422\",\n    \"cpf_cnpj\": \"38290567000112\",\n    \"email\": \"grupoarcanjo1220@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00566.051173  7 99570000118000\",\n    \"nufin_array\": \"816407\",\n    \"numcontrato_array\": \"12406566\",\n    \"valor_array\": \"1180\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1180.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"816407/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ALEX ALEXANDRE NASCIMENTO DA SILVA NASCIMENTO DA SILVA\",\n    \"telefone\": \"81997660653\",\n    \"cpf_cnpj\": \"25448262000144\",\n    \"email\": \"digitalzoom8@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"34191.09008 01625.802937 72609.210009 8 99570000130000\",\n    \"nufin_array\": \"817088\",\n    \"numcontrato_array\": \"12405556\",\n    \"valor_array\": \"1300\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"1300.0\",\n    \"is_fidc\": \"1\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"817088/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ANDRE DE FREITAS PENAFIEL\",\n    \"telefone\": \"45999407355\",\n    \"cpf_cnpj\": \"46551499000126\",\n    \"email\": \"andre.dfp55@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"34191.09008 00282.862937 72609.210009 3 99570000210000\",\n    \"nufin_array\": \"682444\",\n    \"numcontrato_array\": \"2304121007\",\n    \"valor_array\": \"2100\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"2100.0\",\n    \"is_fidc\": \"1\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"682444/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Marco Tulio Gomes de Lima\",\n    \"telefone\": \"31985830615\",\n    \"cpf_cnpj\": \"05718098638\",\n    \"email\": \"yaracsilva957@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"34191.09008 00457.282937 72609.210009 1 99570000071300\",\n    \"nufin_array\": \"681855\",\n    \"numcontrato_array\": \"2307191020\",\n    \"valor_array\": \"713\",\n    \"max_dias_vencidos\": \"20\",\n    \"valor_sum\": \"713.0\",\n    \"is_fidc\": \"1\",\n    \"dias_vencidos_contrato\": \"20.0\",\n    \"nufin_array_dt_venc\": \"681855/2025-01-10 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Juliana de Castro\",\n    \"telefone\": \"45999020583\",\n    \"cpf_cnpj\": \"42928557000137\",\n    \"email\": \"visionideal79@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"13696311040042830310100000713404599310000129000|13696311040042830310100000713586799620000129000\",\n    \"nufin_array\": \"720564|720565\",\n    \"numcontrato_array\": \"12400563|12400563\",\n    \"valor_array\": \"1290|1290\",\n    \"max_dias_vencidos\": \"31\",\n    \"valor_sum\": \"2580.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"31.0\",\n    \"nufin_array_dt_venc\": \"720564/2024-12-30 00:00:00|720565/2025-01-15 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"FABIANA ANDREA DA CUNHA\",\n    \"telefone\": \"32999930687\",\n    \"cpf_cnpj\": \"47451710000100\",\n    \"email\": \"barrosdavid1980@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00508.854171  7 99310000195000|00190.00009  03337.609006  00508.853173  7 99010000195000\",\n    \"nufin_array\": \"272534|272533\",\n    \"numcontrato_array\": \"2209301001|2209301001\",\n    \"valor_array\": \"1950|1950\",\n    \"max_dias_vencidos\": \"31\",\n    \"valor_sum\": \"3900.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"31.0\",\n    \"nufin_array_dt_venc\": \"272534/2025-01-15 00:00:00|272533/2024-12-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ANTONIA SABINO PINHEIRO 16837294806\",\n    \"telefone\": \"19994310414\",\n    \"cpf_cnpj\": \"14426881000111\",\n    \"email\": \"niapinheiro_publicidade@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  01056.130253  3 99460000116351|75691.40275  01290.586815  01056.200262  9 99770000116351|75691.40275  01290.586815  07937.400039  2 99800000105558|75691.40275  01290.586815  07937.330020  7 99490000105558\",\n    \"nufin_array\": \"274803|274804|844787|844786\",\n    \"numcontrato_array\": \"19921642|19921642|19921642|19921642\",\n    \"valor_array\": \"1163.51|1163.51|1055.58|1055.58\",\n    \"max_dias_vencidos\": \"31\",\n    \"valor_sum\": \"4438.18\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"31.0\",\n    \"nufin_array_dt_venc\": \"274803/2024-12-30 00:00:00|274804/2025-01-30 00:00:00|844787/2025-02-02 00:00:00|844786/2025-01-02 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ALESSANDRO SOUTO DE LIMA\",\n    \"telefone\": \"21974135394\",\n    \"cpf_cnpj\": \"33366897000120\",\n    \"email\": \"priscilagama251@hotmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  06660.850055  3 99770000299230|75691.40275  01290.586815  06660.780047  8 99460000299230\",\n    \"nufin_array\": \"739213|739212\",\n    \"numcontrato_array\": \"12402918|12402918\",\n    \"valor_array\": \"2992.3|2992.3\",\n    \"max_dias_vencidos\": \"31\",\n    \"valor_sum\": \"5984.6\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"31.0\",\n    \"nufin_array_dt_venc\": \"739213/2025-01-30 00:00:00|739212/2024-12-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"OSIAS EMANNOEL BATISTA DE OLIVEIRA\",\n    \"telefone\": \"33999653544\",\n    \"cpf_cnpj\": \"53630160000180\",\n    \"email\": \"grafeebr@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00572.722171  2 99310000219000|00190.00009  03337.609006  00572.723179  2 99610000219000\",\n    \"nufin_array\": \"840339|840340\",\n    \"numcontrato_array\": \"12406221|12406221\",\n    \"valor_array\": \"2190|2190\",\n    \"max_dias_vencidos\": \"38\",\n    \"valor_sum\": \"4380.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"38.0\",\n    \"nufin_array_dt_venc\": \"840339/2024-12-23 00:00:00|840340/2025-01-15 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"LUIS GUSTAVO ARAUJO SILVA\",\n    \"telefone\": \"81989579929\",\n    \"cpf_cnpj\": \"55898093000105\",\n    \"email\": \"luisgustavo9276@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07667.630029  1 99670000048890|75691.40275  01290.586815  07667.560010  5 99360000048890\",\n    \"nufin_array\": \"767171|767170\",\n    \"numcontrato_array\": \"12404504|12404504\",\n    \"valor_array\": \"488.9|488.9\",\n    \"max_dias_vencidos\": \"50\",\n    \"valor_sum\": \"977.8\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"50.0\",\n    \"nufin_array_dt_venc\": \"767171/2025-01-20 00:00:00|767170/2024-12-11 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"ALESSANDRA CRISTINA ELOI  COUTINHO\",\n    \"telefone\": \"12981732184\",\n    \"cpf_cnpj\": \"55639201000125\",\n    \"email\": \"inspiradesivos@gmail.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07656.500019  2 99310000032683|75691.40275  01290.586815  07656.680027  8 99620000032683\",\n    \"nufin_array\": \"784082|784083\",\n    \"numcontrato_array\": \"12405669|12405669\",\n    \"valor_array\": \"326.83|326.83\",\n    \"max_dias_vencidos\": \"50\",\n    \"valor_sum\": \"653.66\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"50.0\",\n    \"nufin_array_dt_venc\": \"784082/2024-12-11 00:00:00|784083/2025-01-15 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Wemerson Berto dos Santos\",\n    \"telefone\": \"16988103047\",\n    \"cpf_cnpj\": \"50984796000132\",\n    \"email\": \"wemerson.b.santos@icloud.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07632.770017  6 99230000051287|75691.40275  01290.586815  07632.840026  1 99540000051287\",\n    \"nufin_array\": \"740793|740794\",\n    \"numcontrato_array\": \"12403037|12403037\",\n    \"valor_array\": \"512.87|512.87\",\n    \"max_dias_vencidos\": \"50\",\n    \"valor_sum\": \"1025.74\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"50.0\",\n    \"nufin_array_dt_venc\": \"740793/2024-12-11 00:00:00|740794/2025-01-07 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Paulo Roberto Da silva Rolim neto\",\n    \"telefone\": \"83999819798\",\n    \"cpf_cnpj\": \"54508795000172\",\n    \"email\": \"loizecavalcanti21@icloud.com\",\n    \"modalidade\": \"VENDA\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"0\",\n    \"linha_digitavel_array\": \"75691.40275  01290.586815  07719.460011  1 99670000046329|75691.40275  01290.586815  07719.600020  6 10260000046329\",\n    \"nufin_array\": \"731442|731443\",\n    \"numcontrato_array\": \"12402413|12402413\",\n    \"valor_array\": \"463.29|463.29\",\n    \"max_dias_vencidos\": \"50\",\n    \"valor_sum\": \"926.58\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"50.0\",\n    \"nufin_array_dt_venc\": \"731442/2024-12-11 00:00:00|731443/2025-01-20 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Ilse Hein Garcia\",\n    \"telefone\": \"66996365902\",\n    \"cpf_cnpj\": \"57113339000111\",\n    \"email\": \"biomedica2hein@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"1\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00569.561178  9 99160000083300|00190.00009  03337.609006  00569.563174  2 99620000083300|00190.00009  03337.609006  00569.562176  7 99310000083300\",\n    \"nufin_array\": \"826808|826810|826809\",\n    \"numcontrato_array\": \"12407187|12407187|12407187\",\n    \"valor_array\": \"833|833|416.5\",\n    \"max_dias_vencidos\": \"61\",\n    \"valor_sum\": \"2082.5\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"61.0\",\n    \"nufin_array_dt_venc\": \"826808/2024-11-30 00:00:00|826810/2025-01-15 00:00:00|826809/2024-12-15 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"YAEL WEENA DE OLIVEIRA SOARES\",\n    \"telefone\": \"86999586533\",\n    \"cpf_cnpj\": \"55404463000100\",\n    \"email\": \"dlucadjm@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"1\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00568.948178  7 99620000124000|00190.00009  03337.609006  00568.947170  1 99310000124000|00190.00009  03337.609006  00568.946172  3 99160000124000\",\n    \"nufin_array\": \"826976|826975|826974\",\n    \"numcontrato_array\": \"12406405|12406405|12406405\",\n    \"valor_array\": \"1240|1240|1240\",\n    \"max_dias_vencidos\": \"61\",\n    \"valor_sum\": \"3720.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"61.0\",\n    \"nufin_array_dt_venc\": \"826976/2025-01-15 00:00:00|826975/2024-12-15 00:00:00|826974/2024-11-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Robison Costa e Silva\",\n    \"telefone\": \"61982120552\",\n    \"cpf_cnpj\": \"47103739000192\",\n    \"email\": \"centrall.das.armacoes@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"1\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00566.676177  1 99620000332000|00190.00009  03337.609006  00566.675179  4 99310000332000|00190.00009  03337.609006  00566.674172  7 99070000332000\",\n    \"nufin_array\": \"819407|819406|819405\",\n    \"numcontrato_array\": \"12405193|12405193|12405193\",\n    \"valor_array\": \"3320|1659.9|3320\",\n    \"max_dias_vencidos\": \"61\",\n    \"valor_sum\": \"8299.9\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"61.0\",\n    \"nufin_array_dt_venc\": \"819407/2025-01-15 00:00:00|819406/2024-12-15 00:00:00|819405/2024-11-30 00:00:00\"\n  },\n  {\n    \"nomeparc\": \"Celso Carlos De Carvalho Júnior\",\n    \"telefone\": \"61983133454\",\n    \"cpf_cnpj\": \"40099176000167\",\n    \"email\": \"alice.23bb@gmail.com\",\n    \"modalidade\": \"LOCACAO\",\n    \"tipo_fluxo\": \"COBRANCA\",\n    \"inativo\": \"1\",\n    \"linha_digitavel_array\": \"00190.00009  03337.609006  00569.635170  4 99620000167800|00190.00009  03337.609006  00569.633175  1 99160000167800|00190.00009  03337.609006  00569.634173  9 99310000167800\",\n    \"nufin_array\": \"826927|826925|826926\",\n    \"numcontrato_array\": \"12407033|12407033|12407033\",\n    \"valor_array\": \"1678|1678|1678\",\n    \"max_dias_vencidos\": \"61\",\n    \"valor_sum\": \"5034.0\",\n    \"is_fidc\": \"0\",\n    \"dias_vencidos_contrato\": \"61.0\",\n    \"nufin_array_dt_venc\": \"826927/2025-01-15 00:00:00|826925/2024-11-30 00:00:00|826926/2024-12-15 00:00:00\"\n  }\n]"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -480,
          260
        ],
        "id": "a364eae2-d1aa-4c3e-b6b0-80ebd2ec54d9",
        "name": "Mock"
      },
      {
        "parameters": {
          "collection": "Consulta",
          "options": {},
          "query": "={}"
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          -680,
          100
        ],
        "id": "103462ad-ec58-4153-84bb-311fbd819335",
        "name": "Find Itens",
        "alwaysOutputData": true,
        "credentials": {
          "mongoDb": {
            "id": "PTGHF1RYrZjKXwmT",
            "name": "Consulta Cobranca"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "if (!$(\"Find Itens\").isExecuted) \n  return [{}];\n\n\nconst items = $(\"Find Itens\")\n  .all()\n  .filter(item => !!item.json?._id);\n\nif (items.length === 0) \n  return [{}];\n\n\nconst objIdExprs = items.map(item => ({\n  $toObjectId: item.json._id\n}));\n\nreturn [\n  {\n    json: {\n      query: {\n        $expr: {\n          $in: [\n            \"$_id\",\n            objIdExprs\n          ]\n        }\n      }\n    }\n  }\n];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          120
        ],
        "id": "830ffb0b-3c90-4134-829a-c186ffd33cdb",
        "name": "Deletar"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "36c529aa-6664-4ec4-b4d2-a18907ca8f05",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          500,
          120
        ],
        "id": "5634b975-9dc0-4892-bbb9-2f54d55abc75",
        "name": "Deletar?"
      },
      {
        "parameters": {
          "operation": "delete",
          "collection": "Consulta"
        },
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1.1,
        "position": [
          260,
          280
        ],
        "id": "56463c78-f560-49dd-86e9-86b850476b16",
        "name": "Deletar Tudo",
        "credentials": {
          "mongoDb": {
            "id": "PTGHF1RYrZjKXwmT",
            "name": "Consulta Cobranca"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "5a62dcd3-cc06-400b-b896-ef768c2ca073",
                "leftValue": "={{ $json }}",
                "rightValue": "",
                "operator": {
                  "type": "object",
                  "operation": "notEmpty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -260,
          100
        ],
        "id": "4ee74e61-c4c7-4223-9873-781dba19231b",
        "name": "Inserir?"
      }
    ],
    "connections": {
      "Insert": {
        "main": [
          [
            {
              "node": "Deletar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete": {
        "main": [
          [
            {
              "node": "Liga o schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Find Itens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Workflow Input Trigger": {
        "main": [
          [
            {
              "node": "Find Itens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Google BigQuery": {
        "main": [
          [
            {
              "node": "Inserir?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Find Itens": {
        "main": [
          [
            {
              "node": "Google BigQuery",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deletar": {
        "main": [
          [
            {
              "node": "Deletar?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Deletar?": {
        "main": [
          [
            {
              "node": "Delete",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Liga o schedule",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Inserir?": {
        "main": [
          [
            {
              "node": "Insert",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Deletar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": {
      "node:Schedule Trigger": {
        "recurrenceRules": []
      }
    },
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "20a34da3-7f6b-4c17-ae30-775184c19b52",
    "triggerCount": 1,
    "tags": [
      {
        "createdAt": "2024-07-09T15:07:56.880Z",
        "updatedAt": "2024-07-09T15:07:56.880Z",
        "id": "10AfOz2oKmpgqhM9",
        "name": "Cobranca"
      }
    ]
  }
}