testeVykoqR0tX3FJ95kD.json
{
  "data": {
    "createdAt": "2025-05-19T12:07:22.543Z",
    "updatedAt": "2025-05-19T17:14:48.158Z",
    "id": "VykoqR0tX3FJ95kD",
    "name": "HTML Sandbox",
    "active": false,
    "nodes": [
      {
        "parameters": {},
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "b18dbf4c-0ea6-4fe3-b5ae-96d4027fdd3c",
        "name": "When clicking ‘Test workflow’"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "38ec2b60-d285-4ea7-9b9d-0e7faf45662f",
                "name": "html",
                "value": "=\t\t<div data-elementor-type=\"wp-post\" data-elementor-id=\"4448\" class=\"elementor elementor-4448\" data-elementor-post-type=\"post\">\n\t\t\t\t<div class=\"elementor-element elementor-element-3484b8bf e-flex e-con-boxed e-con e-parent\" data-id=\"3484b8bf\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-739400f3 e-con-full e-flex e-con e-child\" data-id=\"739400f3\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-695bc33 e-con-full e-flex e-con e-child\" data-id=\"695bc33\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-cd01948 e-con-full e-flex e-con e-child\" data-id=\"cd01948\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-cfb6a0b elementor-widget elementor-widget-text-editor\" data-id=\"cfb6a0b\" data-element_type=\"widget\" data-widget_type=\"text-editor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<style>/*! elementor - v3.23.0 - 05-08-2024 */\n.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#69727d;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#69727d;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>\t\t\t\t<p>Máquina de Sorvete</p>\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-ff8723f elementor-widget elementor-widget-heading\" data-id=\"ff8723f\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<style>/*! elementor - v3.23.0 - 05-08-2024 */\n.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style><h1 class=\"elementor-heading-title elementor-size-default\">Vuze Artic<br>Vert 38L</h1>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-1cf6aad elementor-widget__width-initial elementor-widget elementor-widget-text-editor\" data-id=\"1cf6aad\" data-element_type=\"widget\" data-widget_type=\"text-editor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t<p>Vuze Artic 38L</p>\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-a498499 e-con-full e-flex e-con e-child\" data-id=\"a498499\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-2e9044d2 elementor-align-left elementor-mobile-align-center elementor-tablet-align-center elementor-invisible elementor-widget elementor-widget-button\" data-id=\"2e9044d2\" data-element_type=\"widget\" data-settings=\"{&quot;_animation&quot;:&quot;fadeInUp&quot;}\" data-widget_type=\"button.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-button-wrapper\">\n\t\t\t<a class=\"elementor-button elementor-button-link elementor-size-sm elementor-animation-grow\" href=\"#fichatecnica\">\n\t\t\t\t\t\t<span class=\"elementor-button-content-wrapper\">\n\t\t\t\t\t\t<span class=\"elementor-button-icon\">\n\t\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-eye\" viewBox=\"0 0 576 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M572.52 241.4C518.29 135.59 410.93 64 288 64S57.68 135.64 3.48 241.41a32.35 32.35 0 0 0 0 29.19C57.71 376.41 165.07 448 288 448s230.32-71.64 284.52-177.41a32.35 32.35 0 0 0 0-29.19zM288 400a144 144 0 1 1 144-144 143.93 143.93 0 0 1-144 144zm0-240a95.31 95.31 0 0 0-25.31 3.79 47.85 47.85 0 0 1-66.9 66.9A95.78 95.78 0 1 0 288 160z\"></path></svg>\t\t\t</span>\n\t\t\t\t\t\t\t\t\t<span class=\"elementor-button-text\">Ver ficha técnica</span>\n\t\t\t\t\t</span>\n\t\t\t\t\t</a>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-995b48a elementor-align-left elementor-mobile-align-center elementor-tablet-align-center elementor-widget-tablet__width-initial elementor-invisible elementor-widget elementor-widget-button\" data-id=\"995b48a\" data-element_type=\"widget\" data-settings=\"{&quot;_animation&quot;:&quot;fadeInUp&quot;}\" data-widget_type=\"button.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-button-wrapper\">\n\t\t\t<a class=\"elementor-button elementor-button-link elementor-size-sm elementor-animation-grow\" href=\"https://drive.google.com/open?id=1GZpQkoUWyzcwBQEUiO8kykqpcbb82kqg&#038;usp=drive_fs\" target=\"_blank\">\n\t\t\t\t\t\t<span class=\"elementor-button-content-wrapper\">\n\t\t\t\t\t\t<span class=\"elementor-button-icon\">\n\t\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-arrow-circle-down\" viewBox=\"0 0 512 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M504 256c0 137-111 248-248 248S8 393 8 256 119 8 256 8s248 111 248 248zm-143.6-28.9L288 302.6V120c0-13.3-10.7-24-24-24h-16c-13.3 0-24 10.7-24 24v182.6l-72.4-75.5c-9.3-9.7-24.8-9.9-34.3-.4l-10.9 11c-9.4 9.4-9.4 24.6 0 33.9L239 404.3c9.4 9.4 24.6 9.4 33.9 0l132.7-132.7c9.4-9.4 9.4-24.6 0-33.9l-10.9-11c-9.5-9.5-25-9.3-34.3.4z\"></path></svg>\t\t\t</span>\n\t\t\t\t\t\t\t\t\t<span class=\"elementor-button-text\">Material comercial</span>\n\t\t\t\t\t</span>\n\t\t\t\t\t</a>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-1aff75f e-con-full e-flex e-con e-child\" data-id=\"1aff75f\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t<div class=\"elementor-element elementor-element-f9c7b74 e-con-full e-flex e-con e-child\" data-id=\"f9c7b74\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-bf80c3f elementor-widget elementor-widget-image\" data-id=\"bf80c3f\" data-element_type=\"widget\" data-widget_type=\"image.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<style>/*! elementor - v3.23.0 - 05-08-2024 */\n.elementor-widget-image{text-align:center}.elementor-widget-image a{display:inline-block}.elementor-widget-image a img[src$=\".svg\"]{width:48px}.elementor-widget-image img{vertical-align:middle;display:inline-block}</style>\t\t\t\t\t\t\t\t\t\t<img decoding=\"async\" src=\"https://ajuda.blips.com.br/wp-content/uploads/elementor/thumbs/Vuze-contorno-qwys246frl1xndpy6mlz7bpyjj3036vh1mq1qdyefk.png\" title=\"Vuze contorno\" alt=\"Vuze contorno\" loading=\"lazy\" />\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-56f2d96d elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget elementor-widget-image\" data-id=\"56f2d96d\" data-element_type=\"widget\" data-widget_type=\"image.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<img fetchpriority=\"high\" decoding=\"async\" width=\"923\" height=\"1024\" src=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-923x1024.png\" class=\"attachment-large size-large wp-image-4256\" alt=\"\" srcset=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-923x1024.png 923w, https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-270x300.png 270w, https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-768x852.png 768w, https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-1384x1536.png 1384w, https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-1845x2048.png 1845w\" sizes=\"(max-width: 923px) 100vw, 923px\" />\t\t\t\t\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-be628c4 e-flex e-con-boxed e-con e-parent\" data-id=\"be628c4\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t\t\t<div class=\"elementor-element elementor-element-5e1dc6a elementor-widget elementor-widget-menu-anchor\" data-id=\"5e1dc6a\" data-element_type=\"widget\" data-widget_type=\"menu-anchor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<style>/*! elementor - v3.23.0 - 05-08-2024 */\nbody.elementor-page .elementor-widget-menu-anchor{margin-bottom:0}</style>\t\t<div class=\"elementor-menu-anchor\" id=\"argumentos\"></div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-d5c765a elementor-hidden-mobile e-flex e-con-boxed e-con e-parent\" data-id=\"d5c765a\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-0d3d19e e-con-full e-flex e-con e-child\" data-id=\"0d3d19e\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-5eb9e97 e-con-full e-flex e-con e-child\" data-id=\"5eb9e97\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-7ca2b5f elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"7ca2b5f\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-align-left\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M12.83 352h262.34A12.82 12.82 0 0 0 288 339.17v-38.34A12.82 12.82 0 0 0 275.17 288H12.83A12.82 12.82 0 0 0 0 300.83v38.34A12.82 12.82 0 0 0 12.83 352zm0-256h262.34A12.82 12.82 0 0 0 288 83.17V44.83A12.82 12.82 0 0 0 275.17 32H12.83A12.82 12.82 0 0 0 0 44.83v38.34A12.82 12.82 0 0 0 12.83 96zM432 160H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0 256H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-2a6262a e-con-full e-flex e-con e-child\" data-id=\"2a6262a\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-5c51bf5 elementor-widget elementor-widget-heading\" data-id=\"5c51bf5\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h2 class=\"elementor-heading-title elementor-size-default\">Sobre o equipamento</h2>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-b96833a elementor-widget elementor-widget-text-editor\" data-id=\"b96833a\" data-element_type=\"widget\" data-widget_type=\"text-editor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t<p><span style=\"font-weight: 400;\">A Máquina de Sorvete Vuze Artic Vert 38L oferece produção de até 380 casquinhas por hora, com cremosidade garantida pela bomba de ar. Eficiente, possui design vertical otimizado e rodas giratórias, facilitando a mobilidade dentro do estabelecimento. Com cubas e cilindros de inox, alia durabilidade e higiene, sendo perfeita para diversificar o cardápio e aumentar os lucros.</span></p>\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-04d3142 elementor-hidden-desktop elementor-hidden-tablet e-flex e-con-boxed e-con e-parent\" data-id=\"04d3142\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-12aec0f e-con-full e-flex e-con e-child\" data-id=\"12aec0f\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-9654d90 e-con-full e-flex e-con e-child\" data-id=\"9654d90\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-5f9257b elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"5f9257b\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-align-left\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M12.83 352h262.34A12.82 12.82 0 0 0 288 339.17v-38.34A12.82 12.82 0 0 0 275.17 288H12.83A12.82 12.82 0 0 0 0 300.83v38.34A12.82 12.82 0 0 0 12.83 352zm0-256h262.34A12.82 12.82 0 0 0 288 83.17V44.83A12.82 12.82 0 0 0 275.17 32H12.83A12.82 12.82 0 0 0 0 44.83v38.34A12.82 12.82 0 0 0 12.83 96zM432 160H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0 256H16a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h416a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-ac6cfac e-con-full e-flex e-con e-child\" data-id=\"ac6cfac\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-7af7bd1 elementor-widget elementor-widget-heading\" data-id=\"7af7bd1\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h2 class=\"elementor-heading-title elementor-size-default\">Sobre o equipamento</h2>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-9677808 elementor-widget elementor-widget-text-editor\" data-id=\"9677808\" data-element_type=\"widget\" data-widget_type=\"text-editor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t<p><span style=\"font-weight: 400;\">A Máquina de Sorvete Vuze Artic Vert 38L oferece produção de até 380 casquinhas por hora, com cremosidade garantida pela bomba de ar. Eficiente, possui design vertical otimizado e rodas giratórias, facilitando a mobilidade dentro do estabelecimento. Com cubas e cilindros de inox, alia durabilidade e higiene, sendo perfeita para diversificar o cardápio e aumentar os lucros.</span></p>\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-33f76a6 e-flex e-con-boxed e-con e-parent\" data-id=\"33f76a6\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;gradient&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t\t\t<div class=\"elementor-element elementor-element-abd488a elementor-widget elementor-widget-menu-anchor\" data-id=\"abd488a\" data-element_type=\"widget\" data-widget_type=\"menu-anchor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-menu-anchor\" id=\"fotos\"></div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-73f4d91 e-flex e-con-boxed e-con e-parent\" data-id=\"73f4d91\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-aaeb118 e-con-full e-flex e-con e-child\" data-id=\"aaeb118\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-42ab6e5 e-con-full e-flex e-con e-child\" data-id=\"42ab6e5\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-8fe4465 e-con-full e-flex e-con e-child\" data-id=\"8fe4465\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-5fd56fc elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"5fd56fc\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-camera\" viewBox=\"0 0 512 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M512 144v288c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V144c0-26.5 21.5-48 48-48h88l12.3-32.9c7-18.7 24.9-31.1 44.9-31.1h125.5c20 0 37.9 12.4 44.9 31.1L376 96h88c26.5 0 48 21.5 48 48zM376 288c0-66.2-53.8-120-120-120s-120 53.8-120 120 53.8 120 120 120 120-53.8 120-120zm-32 0c0 48.5-39.5 88-88 88s-88-39.5-88-88 39.5-88 88-88 88 39.5 88 88z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-11ac4d8 elementor-widget elementor-widget-heading\" data-id=\"11ac4d8\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h2 class=\"elementor-heading-title elementor-size-default\">Fotos do equipamento</h2>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-ef7876d e-con-full e-flex e-con e-child\" data-id=\"ef7876d\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-8b20e56 elementor-mobile-align-center elementor-tablet-align-left elementor-invisible elementor-widget elementor-widget-button\" data-id=\"8b20e56\" data-element_type=\"widget\" data-settings=\"{&quot;_animation&quot;:&quot;fadeInUp&quot;}\" data-widget_type=\"button.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-button-wrapper\">\n\t\t\t<a class=\"elementor-button elementor-button-link elementor-size-sm\" href=\"https://drive.google.com/open?id=1AwvIbkcQYnuyBlW0DRRrJM5HSTtHNA-K&#038;usp=drive_fs\" target=\"_blank\">\n\t\t\t\t\t\t<span class=\"elementor-button-content-wrapper\">\n\t\t\t\t\t\t<span class=\"elementor-button-icon\">\n\t\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-arrow-down\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z\"></path></svg>\t\t\t</span>\n\t\t\t\t\t\t\t\t\t<span class=\"elementor-button-text\">Baixar todas as fotos</span>\n\t\t\t\t\t</span>\n\t\t\t\t\t</a>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-4bd3bfd e-con-full e-flex e-con e-child\" data-id=\"4bd3bfd\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-73bfa94 e-con-full e-flex e-con e-child\" data-id=\"73bfa94\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-e51f929 elementor-widget elementor-widget-heading\" data-id=\"e51f929\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h3 class=\"elementor-heading-title elementor-size-default\">PNG</h3>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-094549c elementor-widget elementor-widget-gallery\" data-id=\"094549c\" data-element_type=\"widget\" data-settings=\"{&quot;gallery_layout&quot;:&quot;justified&quot;,&quot;gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:26,&quot;sizes&quot;:[]},&quot;lazyload&quot;:&quot;yes&quot;,&quot;ideal_row_height&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:200,&quot;sizes&quot;:[]},&quot;ideal_row_height_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:150,&quot;sizes&quot;:[]},&quot;ideal_row_height_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:150,&quot;sizes&quot;:[]},&quot;gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;link_to&quot;:&quot;file&quot;,&quot;overlay_background&quot;:&quot;yes&quot;,&quot;content_hover_animation&quot;:&quot;fade-in&quot;}\" data-widget_type=\"gallery.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<style>/*! elementor-pro - v3.23.0 - 05-08-2024 */\n.elementor-gallery__container{min-height:1px}.elementor-gallery-item{position:relative;overflow:hidden;display:block;text-decoration:none;border:solid var(--image-border-width) var(--image-border-color);border-radius:var(--image-border-radius)}.elementor-gallery-item__content,.elementor-gallery-item__overlay{height:100%;width:100%;position:absolute;top:0;left:0}.elementor-gallery-item__overlay{mix-blend-mode:var(--overlay-mix-blend-mode);transition-duration:var(--overlay-transition-duration);transition-property:mix-blend-mode,transform,opacity,background-color}.elementor-gallery-item__image.e-gallery-image{transition-duration:var(--image-transition-duration);transition-property:filter,transform}.elementor-gallery-item__content{display:flex;flex-direction:column;justify-content:var(--content-justify-content,center);align-items:center;text-align:var(--content-text-align);padding:var(--content-padding)}.elementor-gallery-item__content>div{transition-duration:var(--content-transition-duration)}.elementor-gallery-item__content.elementor-gallery--sequenced-animation>div:nth-child(2){transition-delay:calc(var(--content-transition-delay) / 3)}.elementor-gallery-item__content.elementor-gallery--sequenced-animation>div:nth-child(3){transition-delay:calc(var(--content-transition-delay) / 3 * 2)}.elementor-gallery-item__content.elementor-gallery--sequenced-animation>div:nth-child(4){transition-delay:calc(var(--content-transition-delay) / 3 * 3)}.elementor-gallery-item__description{color:var(--description-text-color,#fff);width:100%}.elementor-gallery-item__title{color:var(--title-text-color,#fff);font-weight:700;width:100%}.elementor-gallery__titles-container{display:flex;flex-wrap:wrap;justify-content:var(--titles-container-justify-content,center);margin-bottom:20px}.elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item:after,.elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item:before{background-color:var(--galleries-pointer-bg-color-hover)}.elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item.elementor-item-active:after,.elementor-gallery__titles-container:not(.e--pointer-framed) .elementor-item.elementor-item-active:before{background-color:var(--galleries-pointer-bg-color-active)}.elementor-gallery__titles-container.e--pointer-framed .elementor-item:before{border-color:var(--galleries-pointer-bg-color-hover);border-width:var(--galleries-pointer-border-width)}.elementor-gallery__titles-container.e--pointer-framed .elementor-item:after{border-color:var(--galleries-pointer-bg-color-hover)}.elementor-gallery__titles-container.e--pointer-framed .elementor-item.elementor-item-active:after,.elementor-gallery__titles-container.e--pointer-framed .elementor-item.elementor-item-active:before{border-color:var(--galleries-pointer-bg-color-active)}.elementor-gallery__titles-container.e--pointer-framed.e--animation-draw .elementor-item:before{border-left-width:var(--galleries-pointer-border-width);border-bottom-width:var(--galleries-pointer-border-width);border-right-width:0;border-top-width:0}.elementor-gallery__titles-container.e--pointer-framed.e--animation-draw .elementor-item:after{border-left-width:0;border-bottom-width:0;border-right-width:var(--galleries-pointer-border-width);border-top-width:var(--galleries-pointer-border-width)}.elementor-gallery__titles-container.e--pointer-framed.e--animation-corners .elementor-item:before{border-left-width:var(--galleries-pointer-border-width);border-bottom-width:0;border-right-width:0;border-top-width:var(--galleries-pointer-border-width)}.elementor-gallery__titles-container.e--pointer-framed.e--animation-corners .elementor-item:after{border-left-width:0;border-bottom-width:var(--galleries-pointer-border-width);border-right-width:var(--galleries-pointer-border-width);border-top-width:0}.elementor-gallery__titles-container .e--pointer-double-line .elementor-item:after,.elementor-gallery__titles-container .e--pointer-double-line .elementor-item:before,.elementor-gallery__titles-container .e--pointer-overline .elementor-item:before,.elementor-gallery__titles-container .e--pointer-underline .elementor-item:after{height:var(--galleries-pointer-border-width)}.elementor-gallery-title{--space-between:10px;cursor:pointer;color:#6d7882;font-weight:500;position:relative;padding:7px 14px;transition:all .3s}.elementor-gallery-title--active{color:#495157}.elementor-gallery-title:not(:last-child){margin-inline-end:var(--space-between)}.elementor-gallery-item__title+.elementor-gallery-item__description{margin-top:var(--description-margin-top)}.e-gallery-item.elementor-gallery-item{transition-property:all}.e-gallery-item.elementor-animated-content .elementor-animated-item--enter-from-bottom,.e-gallery-item.elementor-animated-content .elementor-animated-item--enter-from-left,.e-gallery-item.elementor-animated-content .elementor-animated-item--enter-from-right,.e-gallery-item.elementor-animated-content .elementor-animated-item--enter-from-top,.e-gallery-item:focus .elementor-gallery__item-overlay-bg,.e-gallery-item:focus .elementor-gallery__item-overlay-content,.e-gallery-item:focus .elementor-gallery__item-overlay-content__description,.e-gallery-item:focus .elementor-gallery__item-overlay-content__title,.e-gallery-item:hover .elementor-gallery__item-overlay-bg,.e-gallery-item:hover .elementor-gallery__item-overlay-content,.e-gallery-item:hover .elementor-gallery__item-overlay-content__description,.e-gallery-item:hover .elementor-gallery__item-overlay-content__title{opacity:1}a.elementor-item.elementor-gallery-title{color:var(--galleries-title-color-normal)}a.elementor-item.elementor-gallery-title.elementor-item-active,a.elementor-item.elementor-gallery-title.highlighted,a.elementor-item.elementor-gallery-title:focus,a.elementor-item.elementor-gallery-title:hover{color:var(--galleries-title-color-hover)}a.elementor-item.elementor-gallery-title.elementor-item-active{color:var(--gallery-title-color-active)}.e-con-inner>.elementor-widget-gallery,.e-con>.elementor-widget-gallery{width:var(--container-widget-width);--flex-grow:var(--container-widget-flex-grow)}</style>\t\t<div class=\"elementor-gallery__container\">\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-1.png\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"094549c\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (1)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI1NCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTEucG5nIiwic2xpZGVzaG93IjoiMDk0NTQ5YyJ9\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-1-270x300.png\" data-width=\"270\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-3.png\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"094549c\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (3)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI1OCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTMucG5nIiwic2xpZGVzaG93IjoiMDk0NTQ5YyJ9\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-3-300x300.png\" data-width=\"300\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-6.png\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"094549c\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (6)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2NCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTYucG5nIiwic2xpZGVzaG93IjoiMDk0NTQ5YyJ9\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-6-300x200.png\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-5.png\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"094549c\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (5)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2MiwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTUucG5nIiwic2xpZGVzaG93IjoiMDk0NTQ5YyJ9\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-5-300x200.png\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-4.png\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"094549c\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (4)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2MCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQucG5nIiwic2xpZGVzaG93IjoiMDk0NTQ5YyJ9\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-4-300x200.png\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-62aa32b e-con-full e-flex e-con e-child\" data-id=\"62aa32b\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-431e29f e-con-full e-flex e-con e-child\" data-id=\"431e29f\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-4a1632d elementor-widget elementor-widget-heading\" data-id=\"4a1632d\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h3 class=\"elementor-heading-title elementor-size-default\">Detalhes</h3>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-2d2eba4 elementor-widget elementor-widget-gallery\" data-id=\"2d2eba4\" data-element_type=\"widget\" data-settings=\"{&quot;gallery_layout&quot;:&quot;justified&quot;,&quot;gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:26,&quot;sizes&quot;:[]},&quot;lazyload&quot;:&quot;yes&quot;,&quot;ideal_row_height&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:200,&quot;sizes&quot;:[]},&quot;ideal_row_height_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:150,&quot;sizes&quot;:[]},&quot;ideal_row_height_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:150,&quot;sizes&quot;:[]},&quot;gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;link_to&quot;:&quot;file&quot;,&quot;overlay_background&quot;:&quot;yes&quot;,&quot;content_hover_animation&quot;:&quot;fade-in&quot;}\" data-widget_type=\"gallery.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-gallery__container\">\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-42-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (42)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0OSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQyLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-42-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-41-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (41)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0OCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQxLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-41-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-43-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (43)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI1MCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQzLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-43-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-44-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (44)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI1MSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQ0LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-44-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-45-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (45)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI1MiwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQ1LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-45-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-22-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (22)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDIyOSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTIyLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-22-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-21-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (21)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDIyOCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTIxLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-21-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-23-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"2d2eba4\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (23)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDIzMCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTIzLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIyZDJlYmE0In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-23-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-68a2de8 e-con-full e-flex e-con e-child\" data-id=\"68a2de8\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-9837785 e-con-full e-flex e-con e-child\" data-id=\"9837785\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-8dba1ef elementor-widget elementor-widget-heading\" data-id=\"8dba1ef\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h3 class=\"elementor-heading-title elementor-size-default\">Ambientadas</h3>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-3a44c65 elementor-widget elementor-widget-gallery\" data-id=\"3a44c65\" data-element_type=\"widget\" data-settings=\"{&quot;gallery_layout&quot;:&quot;justified&quot;,&quot;gap&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:26,&quot;sizes&quot;:[]},&quot;lazyload&quot;:&quot;yes&quot;,&quot;ideal_row_height&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:200,&quot;sizes&quot;:[]},&quot;ideal_row_height_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:150,&quot;sizes&quot;:[]},&quot;ideal_row_height_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:150,&quot;sizes&quot;:[]},&quot;gap_tablet&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;gap_mobile&quot;:{&quot;unit&quot;:&quot;px&quot;,&quot;size&quot;:10,&quot;sizes&quot;:[]},&quot;link_to&quot;:&quot;file&quot;,&quot;overlay_background&quot;:&quot;yes&quot;,&quot;content_hover_animation&quot;:&quot;fade-in&quot;}\" data-widget_type=\"gallery.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-gallery__container\">\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-40-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (40)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0NywidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQwLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-40-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-39-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (39)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0NiwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTM5LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-39-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-38-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (38)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0NSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTM4LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-38-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-37-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (37)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0NCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTM3LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-37-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-36-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (36)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0MywidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTM2LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-36-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-35-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (35)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0MiwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTM1LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-35-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-34-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (34)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI0MSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTM0LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-34-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-27-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (27)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDIzNCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTI3LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-27-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-24-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (24)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDIzMSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTI0LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-24-300x200.jpg\" data-width=\"300\" data-height=\"200\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (2)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI1NSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTItc2NhbGVkLmpwZyIsInNsaWRlc2hvdyI6IjNhNDRjNjUifQ%3D%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-2-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-4-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (4)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI1OSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTQtc2NhbGVkLmpwZyIsInNsaWRlc2hvdyI6IjNhNDRjNjUifQ%3D%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-4-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-5-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (5)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2MSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTUtc2NhbGVkLmpwZyIsInNsaWRlc2hvdyI6IjNhNDRjNjUifQ%3D%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-5-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-6-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (6)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2MywidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTYtc2NhbGVkLmpwZyIsInNsaWRlc2hvdyI6IjNhNDRjNjUifQ%3D%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-6-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-7-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (7)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2NSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTctc2NhbGVkLmpwZyIsInNsaWRlc2hvdyI6IjNhNDRjNjUifQ%3D%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-7-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-8-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (8)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2NiwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTgtc2NhbGVkLmpwZyIsInNsaWRlc2hvdyI6IjNhNDRjNjUifQ%3D%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-8-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-9-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (9)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2NywidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTktc2NhbGVkLmpwZyIsInNsaWRlc2hvdyI6IjNhNDRjNjUifQ%3D%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-9-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-10-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (10)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2OCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTEwLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-10-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-11-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (11)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI2OSwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTExLXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-11-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-15-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (15)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI3MywidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTE1LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-15-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t\t\t<a class=\"e-gallery-item elementor-gallery-item elementor-animated-content\" href=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-16-scaled.jpg\" data-elementor-open-lightbox=\"yes\" data-elementor-lightbox-slideshow=\"3a44c65\" data-elementor-lightbox-title=\"VUZE ARTIC 38L (16)\" data-e-action-hash=\"#elementor-action%3Aaction%3Dlightbox%26settings%3DeyJpZCI6NDI3NCwidXJsIjoiaHR0cHM6XC9cL2FqdWRhLmJsaXBzLmNvbS5iclwvd3AtY29udGVudFwvdXBsb2Fkc1wvMjAyNFwvMTJcL1ZVWkUtQVJUSUMtMzhMLTE2LXNjYWxlZC5qcGciLCJzbGlkZXNob3ciOiIzYTQ0YzY1In0%3D\">\n\t\t\t\t\t<div class=\"e-gallery-image elementor-gallery-item__image\" data-thumbnail=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L-16-200x300.jpg\" data-width=\"200\" data-height=\"300\" aria-label=\"\" role=\"img\" ></div>\n\t\t\t\t\t\t\t\t\t\t\t<div class=\"elementor-gallery-item__overlay\"></div>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</a>\n\t\t\t\t\t</div>\n\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-0a54daf elementor-widget elementor-widget-menu-anchor\" data-id=\"0a54daf\" data-element_type=\"widget\" data-widget_type=\"menu-anchor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-menu-anchor\" id=\"videos\"></div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-d72ca0d e-flex e-con-boxed e-con e-parent\" data-id=\"d72ca0d\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-abc86df e-con-full e-flex e-con e-child\" data-id=\"abc86df\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-acc9dde e-con-full e-flex e-con e-child\" data-id=\"acc9dde\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-ee025dd e-con-full e-flex e-con e-child\" data-id=\"ee025dd\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-f655d16 elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"f655d16\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-video\" viewBox=\"0 0 576 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M336.2 64H47.8C21.4 64 0 85.4 0 111.8v288.4C0 426.6 21.4 448 47.8 448h288.4c26.4 0 47.8-21.4 47.8-47.8V111.8c0-26.4-21.4-47.8-47.8-47.8zm189.4 37.7L416 177.3v157.4l109.6 75.5c21.2 14.6 50.4-.3 50.4-25.8V127.5c0-25.4-29.1-40.4-50.4-25.8z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-c3ac4fb elementor-widget elementor-widget-heading\" data-id=\"c3ac4fb\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h2 class=\"elementor-heading-title elementor-size-default\"><h2 class=\"elementor-heading-title elementor-size-default elementor-inline-editing pen\" data-elementor-setting-key=\"title\" data-pen-placeholder=\"Digite aqui...\" style=\"--theme-font-weight: 700; --theme-font-size: 35px; --theme-line-height: 1.5; text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;\"><span style=\"text-align: var(--text-align); background-color: var( --e-global-color-6c6d401 );\">Vídeos do equipamento</span><span style=\"font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; text-transform: none; color: var( --e-global-color-text ); text-align: var(--text-align); background-color: var( --e-global-color-6c6d401 );\"></span><br></h2></h2>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-113d764 e-con-full e-flex e-con e-child\" data-id=\"113d764\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-8b70c55 elementor-mobile-align-center elementor-tablet-align-left elementor-invisible elementor-widget elementor-widget-button\" data-id=\"8b70c55\" data-element_type=\"widget\" data-settings=\"{&quot;_animation&quot;:&quot;fadeInUp&quot;}\" data-widget_type=\"button.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-button-wrapper\">\n\t\t\t<a class=\"elementor-button elementor-button-link elementor-size-sm\" href=\"https://drive.google.com/open?id=1YPdMgykkr_yOo-6WhoVrVb7hx3uletUh&#038;usp=drive_fs\" target=\"_blank\" download=\"\">\n\t\t\t\t\t\t<span class=\"elementor-button-content-wrapper\">\n\t\t\t\t\t\t<span class=\"elementor-button-icon\">\n\t\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-arrow-down\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z\"></path></svg>\t\t\t</span>\n\t\t\t\t\t\t\t\t\t<span class=\"elementor-button-text\">Baixar todos os vídeos</span>\n\t\t\t\t\t</span>\n\t\t\t\t\t</a>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-ab28aae e-con-full e-flex e-con e-child\" data-id=\"ab28aae\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-2c9d53c e-con-full e-flex e-con e-child\" data-id=\"2c9d53c\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-9d3f926 elementor-widget elementor-widget-heading\" data-id=\"9d3f926\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h3 class=\"elementor-heading-title elementor-size-default\">Equipamento em ação</h3>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-beb5543 e-grid e-con-full e-con e-child\" data-id=\"beb5543\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-65ea8de e-con-full e-flex e-con e-child\" data-id=\"65ea8de\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-b3f4f81 elementor-widget elementor-widget-video\" data-id=\"b3f4f81\" data-element_type=\"widget\" data-settings=\"{&quot;video_type&quot;:&quot;hosted&quot;,&quot;start&quot;:1,&quot;controls&quot;:&quot;yes&quot;}\" data-widget_type=\"video.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<style>/*! elementor - v3.23.0 - 05-08-2024 */\n.elementor-widget-video .elementor-widget-container{overflow:hidden;transform:translateZ(0)}.elementor-widget-video .elementor-wrapper{aspect-ratio:var(--video-aspect-ratio)}.elementor-widget-video .elementor-wrapper iframe,.elementor-widget-video .elementor-wrapper video{height:100%;width:100%;display:flex;border:none;background-color:#000}@supports not (aspect-ratio:1/1){.elementor-widget-video .elementor-wrapper{position:relative;overflow:hidden;height:0;padding-bottom:calc(100% / var(--video-aspect-ratio))}.elementor-widget-video .elementor-wrapper iframe,.elementor-widget-video .elementor-wrapper video{position:absolute;top:0;right:0;bottom:0;left:0}}.elementor-widget-video .elementor-open-inline .elementor-custom-embed-image-overlay{position:absolute;top:0;right:0;bottom:0;left:0;background-size:cover;background-position:50%}.elementor-widget-video .elementor-custom-embed-image-overlay{cursor:pointer;text-align:center}.elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i{opacity:1}.elementor-widget-video .elementor-custom-embed-image-overlay img{display:block;width:100%;aspect-ratio:var(--video-aspect-ratio);-o-object-fit:cover;object-fit:cover;-o-object-position:center center;object-position:center center}@supports not (aspect-ratio:1/1){.elementor-widget-video .elementor-custom-embed-image-overlay{position:relative;overflow:hidden;height:0;padding-bottom:calc(100% / var(--video-aspect-ratio))}.elementor-widget-video .elementor-custom-embed-image-overlay img{position:absolute;top:0;right:0;bottom:0;left:0}}.elementor-widget-video .e-hosted-video .elementor-video{-o-object-fit:cover;object-fit:cover}.e-con-inner>.elementor-widget-video,.e-con>.elementor-widget-video{width:var(--container-widget-width);--flex-grow:var(--container-widget-flex-grow)}</style>\t\t<div class=\"e-hosted-video elementor-wrapper elementor-open-inline\">\n\t\t\t\t\t<video class=\"elementor-video\" src=\"https://ajuda.blips.com.br/wp-content/uploads/2024/12/VUZE-ARTIC-38L_EQUIPAMENTO-EM-ACAO.mp4#t=1\" controls=\"\" preload=\"metadata\"></video>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-21769b5 e-con-full e-flex e-con e-child\" data-id=\"21769b5\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-74d5fd2 elementor-widget elementor-widget-heading\" data-id=\"74d5fd2\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h4 class=\"elementor-heading-title elementor-size-default\">Vuze Artic 38L - Equipamento em ação.</h4>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-bf01b7a e-con-full e-flex e-con e-child\" data-id=\"bf01b7a\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-3ea02c6 e-con-full e-flex e-con e-child\" data-id=\"3ea02c6\" data-element_type=\"container\">\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-8d79d0a e-con-full e-flex e-con e-child\" data-id=\"8d79d0a\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-c363516 e-con-full e-flex e-con e-child\" data-id=\"c363516\" data-element_type=\"container\">\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-34606f8 e-con-full e-flex e-con e-child\" data-id=\"34606f8\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-b68d5a4 e-con-full e-flex e-con e-child\" data-id=\"b68d5a4\" data-element_type=\"container\">\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-80cec8b e-con-full e-flex e-con e-child\" data-id=\"80cec8b\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-75a8478 e-con-full e-flex e-con e-child\" data-id=\"75a8478\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-7577fb0 elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"7577fb0\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-play-circle\" viewBox=\"0 0 512 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M256 8C119 8 8 119 8 256s111 248 248 248 248-111 248-248S393 8 256 8zm115.7 272l-176 101c-15.8 8.8-35.7-2.5-35.7-21V152c0-18.4 19.8-29.8 35.7-21l176 107c16.4 9.2 16.4 32.9 0 42z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-0725b80 elementor-widget elementor-widget-heading\" data-id=\"0725b80\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h3 class=\"elementor-heading-title elementor-size-default\">Conteúdo do YouTube</h3>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-36d68e8 e-grid e-con-full e-con e-child\" data-id=\"36d68e8\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-2ed372d elementor-widget elementor-widget-video\" data-id=\"2ed372d\" data-element_type=\"widget\" data-settings=\"{&quot;youtube_url&quot;:&quot;https:\\/\\/www.youtube.com\\/watch?v=eupdNZrn_2o&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;}\" data-widget_type=\"video.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-wrapper elementor-open-inline\">\n\t\t\t<div class=\"elementor-video\"></div>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-c992323 e-flex e-con-boxed e-con e-parent\" data-id=\"c992323\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t\t\t<div class=\"elementor-element elementor-element-f804868 elementor-widget elementor-widget-menu-anchor\" data-id=\"f804868\" data-element_type=\"widget\" data-widget_type=\"menu-anchor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-menu-anchor\" id=\"fichatecnica\"></div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-3664f44 e-con-full e-flex e-con e-child\" data-id=\"3664f44\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-f2fcb12 e-con-full e-flex e-con e-child\" data-id=\"f2fcb12\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-5ef7853 e-con-full e-flex e-con e-child\" data-id=\"5ef7853\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-510b55f elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"510b55f\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-clipboard-list\" viewBox=\"0 0 384 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M336 64h-80c0-35.3-28.7-64-64-64s-64 28.7-64 64H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h288c26.5 0 48-21.5 48-48V112c0-26.5-21.5-48-48-48zM96 424c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm0-96c-13.3 0-24-10.7-24-24s10.7-24 24-24 24 10.7 24 24-10.7 24-24 24zm96-192c13.3 0 24 10.7 24 24s-10.7 24-24 24-24-10.7-24-24 10.7-24 24-24zm128 368c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16zm0-96c0 4.4-3.6 8-8 8H168c-4.4 0-8-3.6-8-8v-16c0-4.4 3.6-8 8-8h144c4.4 0 8 3.6 8 8v16z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-b15fe17 elementor-widget elementor-widget-heading\" data-id=\"b15fe17\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h2 class=\"elementor-heading-title elementor-size-default\">Ficha técnica</h2>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-48d7595 e-con-full e-flex e-con e-child\" data-id=\"48d7595\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-97ae3ad elementor-mobile-align-center elementor-tablet-align-left elementor-invisible elementor-widget elementor-widget-button\" data-id=\"97ae3ad\" data-element_type=\"widget\" data-settings=\"{&quot;_animation&quot;:&quot;fadeInUp&quot;}\" data-widget_type=\"button.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-button-wrapper\">\n\t\t\t<a class=\"elementor-button elementor-button-link elementor-size-sm\" href=\"https://drive.google.com/open?id=13FA3A8-1a6Lkqc-vU-EglnhCiBzHoDI9&#038;usp=drive_fs\" target=\"_blank\" download=\"\">\n\t\t\t\t\t\t<span class=\"elementor-button-content-wrapper\">\n\t\t\t\t\t\t<span class=\"elementor-button-icon\">\n\t\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-arrow-down\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M413.1 222.5l22.2 22.2c9.4 9.4 9.4 24.6 0 33.9L241 473c-9.4 9.4-24.6 9.4-33.9 0L12.7 278.6c-9.4-9.4-9.4-24.6 0-33.9l22.2-22.2c9.5-9.5 25-9.3 34.3.4L184 343.4V56c0-13.3 10.7-24 24-24h32c13.3 0 24 10.7 24 24v287.4l114.8-120.5c9.3-9.8 24.8-10 34.3-.4z\"></path></svg>\t\t\t</span>\n\t\t\t\t\t\t\t\t\t<span class=\"elementor-button-text\">Download ficha técnica</span>\n\t\t\t\t\t</span>\n\t\t\t\t\t</a>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-da59e73 elementor-hidden-desktop e-flex e-con-boxed e-con e-child\" data-id=\"da59e73\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t\t\t<div class=\"elementor-element elementor-element-a12cdd6 elementor-widget__width-inherit elementor-widget elementor-widget-html\" data-id=\"a12cdd6\" data-element_type=\"widget\" data-widget_type=\"html.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<iframe width=\"480\" height=\"740\" src=\"https://lookerstudio.google.com/embed/reporting/9d2dd60c-cee9-4661-b72a-d640feadbc68/page/Kd4FE\" frameborder=\"0\" style=\"border:0\" allowfullscreen sandbox=\"allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox\"></iframe>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-a4c641e elementor-widget elementor-widget-menu-anchor\" data-id=\"a4c641e\" data-element_type=\"widget\" data-widget_type=\"menu-anchor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-menu-anchor\" id=\"faq\"></div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-2d1a1d0 e-con-full elementor-hidden-tablet elementor-hidden-mobile e-flex e-con e-child\" data-id=\"2d1a1d0\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-8ad3f68 elementor-widget__width-inherit elementor-widget elementor-widget-html\" data-id=\"8ad3f68\" data-element_type=\"widget\" data-widget_type=\"html.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<iframe width=\"600\" height=\"540\" src=\"https://lookerstudio.google.com/embed/reporting/3d874ecc-3a09-4ab2-9c29-92c670d89abf/page/Kd4FE\" frameborder=\"0\" style=\"border:0\" allowfullscreen sandbox=\"allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox\"></iframe>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-2bf18b1 elementor-widget elementor-widget-menu-anchor\" data-id=\"2bf18b1\" data-element_type=\"widget\" data-widget_type=\"menu-anchor.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-menu-anchor\" id=\"faq\"></div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-2631bf5d e-flex e-con-boxed e-con e-parent\" data-id=\"2631bf5d\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;,&quot;background_motion_fx_motion_fx_mouse&quot;:&quot;yes&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-72b413d2 e-con-full e-flex e-con e-child\" data-id=\"72b413d2\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-5d152416 e-con-full e-flex e-con e-child\" data-id=\"5d152416\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-2977fb8a elementor-view-stacked elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"2977fb8a\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-question\" viewBox=\"0 0 384 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M202.021 0C122.202 0 70.503 32.703 29.914 91.026c-7.363 10.58-5.093 25.086 5.178 32.874l43.138 32.709c10.373 7.865 25.132 6.026 33.253-4.148 25.049-31.381 43.63-49.449 82.757-49.449 30.764 0 68.816 19.799 68.816 49.631 0 22.552-18.617 34.134-48.993 51.164-35.423 19.86-82.299 44.576-82.299 106.405V320c0 13.255 10.745 24 24 24h72.471c13.255 0 24-10.745 24-24v-5.773c0-42.86 125.268-44.645 125.268-160.627C377.504 66.256 286.902 0 202.021 0zM192 373.459c-38.196 0-69.271 31.075-69.271 69.271 0 38.195 31.075 69.27 69.271 69.27s69.271-31.075 69.271-69.271-31.075-69.27-69.271-69.27z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-93fa658 elementor-widget elementor-widget-heading\" data-id=\"93fa658\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h2 class=\"elementor-heading-title elementor-size-default\">Perguntas Frequentes</h2>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-4fe47c33 e-con-full e-flex e-con e-child\" data-id=\"4fe47c33\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-191d96cc e-con-full e-flex e-con e-child\" data-id=\"191d96cc\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-69977452 elementor-widget elementor-widget-accordion\" data-id=\"69977452\" data-element_type=\"widget\" data-widget_type=\"accordion.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<style>/*! elementor - v3.23.0 - 05-08-2024 */\n.elementor-accordion{text-align:start}.elementor-accordion .elementor-accordion-item{border:1px solid #d5d8dc}.elementor-accordion .elementor-accordion-item+.elementor-accordion-item{border-top:none}.elementor-accordion .elementor-tab-title{margin:0;padding:15px 20px;font-weight:700;line-height:1;cursor:pointer;outline:none}.elementor-accordion .elementor-tab-title .elementor-accordion-icon{display:inline-block;width:1.5em}.elementor-accordion .elementor-tab-title .elementor-accordion-icon svg{width:1em;height:1em}.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-right{float:right;text-align:right}.elementor-accordion .elementor-tab-title .elementor-accordion-icon.elementor-accordion-icon-left{float:left;text-align:left}.elementor-accordion .elementor-tab-title .elementor-accordion-icon .elementor-accordion-icon-closed{display:block}.elementor-accordion .elementor-tab-title .elementor-accordion-icon .elementor-accordion-icon-opened,.elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon-closed{display:none}.elementor-accordion .elementor-tab-title.elementor-active .elementor-accordion-icon-opened{display:block}.elementor-accordion .elementor-tab-content{display:none;padding:15px 20px;border-top:1px solid #d5d8dc}@media (max-width:767px){.elementor-accordion .elementor-tab-title{padding:12px 15px}.elementor-accordion .elementor-tab-title .elementor-accordion-icon{width:1.2em}.elementor-accordion .elementor-tab-content{padding:7px 15px}}.e-con-inner>.elementor-widget-accordion,.e-con>.elementor-widget-accordion{width:var(--container-widget-width);--flex-grow:var(--container-widget-flex-grow)}</style>\t\t<div class=\"elementor-accordion\">\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1771\" class=\"elementor-tab-title\" data-tab=\"1\" role=\"button\" aria-controls=\"elementor-tab-content-1771\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">O que a máquina é capaz de produzir?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1771\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"1\" role=\"region\" aria-labelledby=\"elementor-tab-title-1771\"><p><span style=\"font-weight: 400;\">Além de </span><b>sorvete</b><span style=\"font-weight: 400;\">, a máquina é capaz de produzir </span><b>açaí e frozen iogurte</b><span style=\"font-weight: 400;\">.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1772\" class=\"elementor-tab-title\" data-tab=\"2\" role=\"button\" aria-controls=\"elementor-tab-content-1772\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">Quantos sabores ela é capaz de produzir?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1772\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"2\" role=\"region\" aria-labelledby=\"elementor-tab-title-1772\"><p><span style=\"font-weight: 400;\">Dois sabores + misto.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1773\" class=\"elementor-tab-title\" data-tab=\"3\" role=\"button\" aria-controls=\"elementor-tab-content-1773\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">Ela precisa de suporte?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1773\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"3\" role=\"region\" aria-labelledby=\"elementor-tab-title-1773\"><p><span style=\"font-weight: 400;\">Não, este modelo de equipamento é vertical e conta com rodinhas giratórias para facilitar a movimentação no estabelecimento.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1774\" class=\"elementor-tab-title\" data-tab=\"4\" role=\"button\" aria-controls=\"elementor-tab-content-1774\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">Qual o tempo médio para a primeira tiragem do dia?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1774\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"4\" role=\"region\" aria-labelledby=\"elementor-tab-title-1774\"><p><span style=\"font-weight: 400;\">A Vuze Artic 28L possui um tempo médio de </span><b>16 minutos</b><span style=\"font-weight: 400;\"> para a primeira tiragem.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1775\" class=\"elementor-tab-title\" data-tab=\"5\" role=\"button\" aria-controls=\"elementor-tab-content-1775\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">Qual o tempo de moldagem secundária?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1775\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"5\" role=\"region\" aria-labelledby=\"elementor-tab-title-1775\"><p><span style=\"font-weight: 400;\">O tempo de moldagem secundária é de aproximadamente </span><b>3 minutos.</b></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1776\" class=\"elementor-tab-title\" data-tab=\"6\" role=\"button\" aria-controls=\"elementor-tab-content-1776\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">Qual a quantidade máxima consecutiva de tiragem?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1776\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"6\" role=\"region\" aria-labelledby=\"elementor-tab-title-1776\"><p><span style=\"font-weight: 400;\">Considerando cerca de 70g/pc, é possível ter uma quantidade máxima de 10 a 14 pcs.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1777\" class=\"elementor-tab-title\" data-tab=\"7\" role=\"button\" aria-controls=\"elementor-tab-content-1777\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">A máquina possui um contador de tiragem?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1777\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"7\" role=\"region\" aria-labelledby=\"elementor-tab-title-1777\"><p><span style=\"font-weight: 400;\">Sim, a máquina possui um contador de tiragem para maior controle da produção.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1778\" class=\"elementor-tab-title\" data-tab=\"8\" role=\"button\" aria-controls=\"elementor-tab-content-1778\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">A máquina possui função de descongelamento?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1778\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"8\" role=\"region\" aria-labelledby=\"elementor-tab-title-1778\"><p><span style=\"font-weight: 400;\">Sim, a Vuze Artic 38L possui função de descongelamento.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-1779\" class=\"elementor-tab-title\" data-tab=\"9\" role=\"button\" aria-controls=\"elementor-tab-content-1779\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">É possível controlar a dureza do sorvete?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-1779\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"9\" role=\"region\" aria-labelledby=\"elementor-tab-title-1779\"><p><span style=\"font-weight: 400;\">Sim, o equipamento conta com um sistema de ajuste de dureza do sorvete.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-17710\" class=\"elementor-tab-title\" data-tab=\"10\" role=\"button\" aria-controls=\"elementor-tab-content-17710\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">Qual o consumo médio de energia do equipamento?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-17710\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"10\" role=\"region\" aria-labelledby=\"elementor-tab-title-17710\"><p><span style=\"font-weight: 400;\">O consumo médio é estimado em 1kw/h.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-17711\" class=\"elementor-tab-title\" data-tab=\"11\" role=\"button\" aria-controls=\"elementor-tab-content-17711\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">A máquina possui sistema de pasteurização?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-17711\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"11\" role=\"region\" aria-labelledby=\"elementor-tab-title-17711\"><p><span style=\"font-weight: 400;\">Não, ela não possui sistema de pasteurização.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t<div class=\"elementor-accordion-item\">\n\t\t\t\t\t<div id=\"elementor-tab-title-17712\" class=\"elementor-tab-title\" data-tab=\"12\" role=\"button\" aria-controls=\"elementor-tab-content-17712\" aria-expanded=\"false\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon elementor-accordion-icon-right\" aria-hidden=\"true\">\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-closed\"><svg class=\"e-font-icon-svg e-fas-angle-down\" viewBox=\"0 0 320 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z\"></path></svg></span>\n\t\t\t\t\t\t\t\t<span class=\"elementor-accordion-icon-opened\"><svg class=\"e-font-icon-svg e-fas-minus\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M416 208H32c-17.67 0-32 14.33-32 32v32c0 17.67 14.33 32 32 32h384c17.67 0 32-14.33 32-32v-32c0-17.67-14.33-32-32-32z\"></path></svg></span>\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t</span>\n\t\t\t\t\t\t\t\t\t\t\t\t<a class=\"elementor-accordion-title\" tabindex=\"0\">O equipamento possui selo do INMETRO?</a>\n\t\t\t\t\t</div>\n\t\t\t\t\t<div id=\"elementor-tab-content-17712\" class=\"elementor-tab-content elementor-clearfix\" data-tab=\"12\" role=\"region\" aria-labelledby=\"elementor-tab-title-17712\"><p><span style=\"font-weight: 400;\">Sim, a Vuze Artic 28L é aprovada e possui o selo do INMETRO.</span></p></div>\n\t\t\t\t</div>\n\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-85fd555 e-flex e-con-boxed e-con e-parent\" data-id=\"85fd555\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-312f1102 e-con-full e-flex e-con e-child\" data-id=\"312f1102\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-4d753061 e-con-full e-flex e-con e-child\" data-id=\"4d753061\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-4a918228 elementor-widget-tablet__width-initial elementor-widget elementor-widget-heading\" data-id=\"4a918228\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h2 class=\"elementor-heading-title elementor-size-default\">Tem alguma dúvida ou<br>informação relevante<br>sobre o equipamento?<br><span style=\"font-size: 20px; font-weight: 500;\">Compartilhe aqui!</span></h2>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t<div class=\"elementor-element elementor-element-46651f56 elementor-view-stacked elementor-hidden-tablet elementor-hidden-mobile elementor-shape-circle elementor-widget elementor-widget-icon\" data-id=\"46651f56\" data-element_type=\"widget\" data-widget_type=\"icon.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t<div class=\"elementor-icon-wrapper\">\n\t\t\t<div class=\"elementor-icon\">\n\t\t\t<svg aria-hidden=\"true\" class=\"e-font-icon-svg e-fas-arrow-right\" viewBox=\"0 0 448 512\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z\"></path></svg>\t\t\t</div>\n\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-33edd4e7 e-con-full e-flex e-con e-child\" data-id=\"33edd4e7\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t<div class=\"elementor-element elementor-element-5fe0f29f elementor-widget elementor-widget-html\" data-id=\"5fe0f29f\" data-element_type=\"widget\" data-widget_type=\"html.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<iframe src=\"https://docs.google.com/forms/d/e/1FAIpQLSeb60hlCBUbU34lgh-kgpsGnh5Xsh4wivSN76p16Y8M4iBSDA/viewform?embedded=true\" width=\"640\" height=\"640\" frameborder=\"0\" marginheight=\"0\" marginwidth=\"0\">Carregando…</iframe>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-2047874c elementor-hidden-tablet elementor-hidden-mobile e-flex e-con-boxed e-con e-parent\" data-id=\"2047874c\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;,&quot;position&quot;:&quot;fixed&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-4b4a0d01 e-con-full e-flex e-con e-child\" data-id=\"4b4a0d01\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-16902861 elementor-widget elementor-widget-theme-site-logo elementor-widget-image\" data-id=\"16902861\" data-element_type=\"widget\" data-widget_type=\"theme-site-logo.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://ajuda.blips.com.br/inicio\">\n\t\t\t<img decoding=\"async\" src=\"https://ajuda.blips.com.br/wp-content/uploads/elementor/thumbs/BLIPS-LOGOTIPO-OFICIAL-1-qt6rynuah0sf0ubssec2m12mcug6waf4kkhl541x84.png\" title=\"BLIPS-LOGOTIPO-OFICIAL\" alt=\"BLIPS-LOGOTIPO-OFICIAL\" loading=\"lazy\" />\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-1972e4fb e-con-full e-flex e-con e-child\" data-id=\"1972e4fb\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-c3fe39c elementor-nav-menu__align-end elementor-widget-tablet__width-initial elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu\" data-id=\"c3fe39c\" data-element_type=\"widget\" data-settings=\"{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;svg class=\\&quot;e-font-icon-svg e-fas-caret-down\\&quot; viewBox=\\&quot;0 0 320 512\\&quot; xmlns=\\&quot;http:\\/\\/www.w3.org\\/2000\\/svg\\&quot;&gt;&lt;path d=\\&quot;M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\\&quot;&gt;&lt;\\/path&gt;&lt;\\/svg&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}\" data-widget_type=\"nav-menu.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<link rel=\"stylesheet\" href=\"https://ajuda.blips.com.br/wp-content/plugins/elementor-pro/assets/css/widget-nav-menu.min.css?ver=1724683116\">\t\t\t<nav aria-label=\"Menu\" class=\"elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-background e--animation-fade\">\n\t\t\t\t<ul id=\"menu-1-c3fe39c\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t\t<div class=\"elementor-menu-toggle\" role=\"button\" tabindex=\"0\" aria-label=\"Alternar menu\" aria-expanded=\"false\">\n\t\t\t<svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--open e-font-icon-svg e-eicon-menu-bar\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M104 333H896C929 333 958 304 958 271S929 208 896 208H104C71 208 42 237 42 271S71 333 104 333ZM104 583H896C929 583 958 554 958 521S929 458 896 458H104C71 458 42 487 42 521S71 583 104 583ZM104 833H896C929 833 958 804 958 771S929 708 896 708H104C71 708 42 737 42 771S71 833 104 833Z\"></path></svg><svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--close e-font-icon-svg e-eicon-close\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z\"></path></svg>\t\t\t<span class=\"elementor-screen-only\">Menu</span>\n\t\t</div>\n\t\t\t\t\t<nav class=\"elementor-nav-menu--dropdown elementor-nav-menu__container\" aria-hidden=\"true\">\n\t\t\t\t<ul id=\"menu-2-c3fe39c\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\" tabindex=\"-1\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\" tabindex=\"-1\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\" tabindex=\"-1\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\" tabindex=\"-1\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\" tabindex=\"-1\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\" tabindex=\"-1\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\" tabindex=\"-1\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-a94b7f5 elementor-hidden-desktop elementor-hidden-mobile e-flex e-con-boxed e-con e-parent\" data-id=\"a94b7f5\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;,&quot;position&quot;:&quot;fixed&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-77e7884f e-con-full e-flex e-con e-child\" data-id=\"77e7884f\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-3f2d366c elementor-widget elementor-widget-theme-site-logo elementor-widget-image\" data-id=\"3f2d366c\" data-element_type=\"widget\" data-widget_type=\"theme-site-logo.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://ajuda.blips.com.br/inicio\">\n\t\t\t<img decoding=\"async\" src=\"https://ajuda.blips.com.br/wp-content/uploads/elementor/thumbs/BLIPS-LOGOTIPO-OFICIAL-1-qt6rynuah0sf0ubssec2m12mcug6waf4kkhl541x84.png\" title=\"BLIPS-LOGOTIPO-OFICIAL\" alt=\"BLIPS-LOGOTIPO-OFICIAL\" loading=\"lazy\" />\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-613c08eb e-con-full e-flex e-con e-child\" data-id=\"613c08eb\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-1d1cec99 elementor-widget-tablet__width-initial elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu\" data-id=\"1d1cec99\" data-element_type=\"widget\" data-settings=\"{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;svg class=\\&quot;e-font-icon-svg e-fas-caret-down\\&quot; viewBox=\\&quot;0 0 320 512\\&quot; xmlns=\\&quot;http:\\/\\/www.w3.org\\/2000\\/svg\\&quot;&gt;&lt;path d=\\&quot;M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\\&quot;&gt;&lt;\\/path&gt;&lt;\\/svg&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}\" data-widget_type=\"nav-menu.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t<nav aria-label=\"Menu\" class=\"elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade\">\n\t\t\t\t<ul id=\"menu-1-1d1cec99\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t\t<div class=\"elementor-menu-toggle\" role=\"button\" tabindex=\"0\" aria-label=\"Alternar menu\" aria-expanded=\"false\">\n\t\t\t<svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--open e-font-icon-svg e-eicon-menu-bar\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M104 333H896C929 333 958 304 958 271S929 208 896 208H104C71 208 42 237 42 271S71 333 104 333ZM104 583H896C929 583 958 554 958 521S929 458 896 458H104C71 458 42 487 42 521S71 583 104 583ZM104 833H896C929 833 958 804 958 771S929 708 896 708H104C71 708 42 737 42 771S71 833 104 833Z\"></path></svg><svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--close e-font-icon-svg e-eicon-close\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z\"></path></svg>\t\t\t<span class=\"elementor-screen-only\">Menu</span>\n\t\t</div>\n\t\t\t\t\t<nav class=\"elementor-nav-menu--dropdown elementor-nav-menu__container\" aria-hidden=\"true\">\n\t\t\t\t<ul id=\"menu-2-1d1cec99\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\" tabindex=\"-1\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\" tabindex=\"-1\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\" tabindex=\"-1\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\" tabindex=\"-1\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\" tabindex=\"-1\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\" tabindex=\"-1\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\" tabindex=\"-1\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-4593359 elementor-hidden-desktop elementor-hidden-tablet e-flex e-con-boxed e-con e-parent\" data-id=\"4593359\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;,&quot;position&quot;:&quot;fixed&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-53aedbdd e-con-full e-flex e-con e-child\" data-id=\"53aedbdd\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-6729e1d5 elementor-widget elementor-widget-theme-site-logo elementor-widget-image\" data-id=\"6729e1d5\" data-element_type=\"widget\" data-widget_type=\"theme-site-logo.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://ajuda.blips.com.br/inicio\">\n\t\t\t<img decoding=\"async\" src=\"https://ajuda.blips.com.br/wp-content/uploads/elementor/thumbs/BLIPS-LOGOTIPO-OFICIAL-1-qt6rynuah0sf0ubssec2m12mcug6waf4kkhl541x84.png\" title=\"BLIPS-LOGOTIPO-OFICIAL\" alt=\"BLIPS-LOGOTIPO-OFICIAL\" loading=\"lazy\" />\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-4a6f2ed5 e-con-full e-flex e-con e-child\" data-id=\"4a6f2ed5\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-480a7db7 elementor-widget-tablet__width-initial elementor-nav-menu--dropdown-tablet elementor-nav-menu__text-align-aside elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu\" data-id=\"480a7db7\" data-element_type=\"widget\" data-settings=\"{&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;svg class=\\&quot;e-font-icon-svg e-fas-caret-down\\&quot; viewBox=\\&quot;0 0 320 512\\&quot; xmlns=\\&quot;http:\\/\\/www.w3.org\\/2000\\/svg\\&quot;&gt;&lt;path d=\\&quot;M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\\&quot;&gt;&lt;\\/path&gt;&lt;\\/svg&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}\" data-widget_type=\"nav-menu.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t<nav aria-label=\"Menu\" class=\"elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-underline e--animation-fade\">\n\t\t\t\t<ul id=\"menu-1-480a7db7\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t\t<div class=\"elementor-menu-toggle\" role=\"button\" tabindex=\"0\" aria-label=\"Alternar menu\" aria-expanded=\"false\">\n\t\t\t<svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--open e-font-icon-svg e-eicon-menu-bar\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M104 333H896C929 333 958 304 958 271S929 208 896 208H104C71 208 42 237 42 271S71 333 104 333ZM104 583H896C929 583 958 554 958 521S929 458 896 458H104C71 458 42 487 42 521S71 583 104 583ZM104 833H896C929 833 958 804 958 771S929 708 896 708H104C71 708 42 737 42 771S71 833 104 833Z\"></path></svg><svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--close e-font-icon-svg e-eicon-close\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z\"></path></svg>\t\t\t<span class=\"elementor-screen-only\">Menu</span>\n\t\t</div>\n\t\t\t\t\t<nav class=\"elementor-nav-menu--dropdown elementor-nav-menu__container\" aria-hidden=\"true\">\n\t\t\t\t<ul id=\"menu-2-480a7db7\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\" tabindex=\"-1\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\" tabindex=\"-1\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\" tabindex=\"-1\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\" tabindex=\"-1\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\" tabindex=\"-1\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\" tabindex=\"-1\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\" tabindex=\"-1\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<footer class=\"elementor-element elementor-element-723e64cb e-flex e-con-boxed e-con e-parent\" data-id=\"723e64cb\" data-element_type=\"container\" data-settings=\"{&quot;background_background&quot;:&quot;classic&quot;}\">\n\t\t\t\t\t<div class=\"e-con-inner\">\n\t\t<div class=\"elementor-element elementor-element-87f8e33 e-con-full e-flex e-con e-child\" data-id=\"87f8e33\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-169133e9 e-con-full e-flex e-con e-child\" data-id=\"169133e9\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-644589a8 elementor-nav-menu__align-start elementor-nav-menu--dropdown-mobile elementor-nav-menu--stretch elementor-nav-menu__text-align-center elementor-nav-menu--toggle elementor-nav-menu--burger elementor-widget elementor-widget-nav-menu\" data-id=\"644589a8\" data-element_type=\"widget\" data-settings=\"{&quot;full_width&quot;:&quot;stretch&quot;,&quot;layout&quot;:&quot;horizontal&quot;,&quot;submenu_icon&quot;:{&quot;value&quot;:&quot;&lt;svg class=\\&quot;e-font-icon-svg e-fas-caret-down\\&quot; viewBox=\\&quot;0 0 320 512\\&quot; xmlns=\\&quot;http:\\/\\/www.w3.org\\/2000\\/svg\\&quot;&gt;&lt;path d=\\&quot;M31.3 192h257.3c17.8 0 26.7 21.5 14.1 34.1L174.1 354.8c-7.8 7.8-20.5 7.8-28.3 0L17.2 226.1C4.6 213.5 13.5 192 31.3 192z\\&quot;&gt;&lt;\\/path&gt;&lt;\\/svg&gt;&quot;,&quot;library&quot;:&quot;fa-solid&quot;},&quot;toggle&quot;:&quot;burger&quot;}\" data-widget_type=\"nav-menu.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t<nav aria-label=\"Menu\" class=\"elementor-nav-menu--main elementor-nav-menu__container elementor-nav-menu--layout-horizontal e--pointer-none\">\n\t\t\t\t<ul id=\"menu-1-644589a8\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t\t<div class=\"elementor-menu-toggle\" role=\"button\" tabindex=\"0\" aria-label=\"Alternar menu\" aria-expanded=\"false\">\n\t\t\t<svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--open e-font-icon-svg e-eicon-menu-bar\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M104 333H896C929 333 958 304 958 271S929 208 896 208H104C71 208 42 237 42 271S71 333 104 333ZM104 583H896C929 583 958 554 958 521S929 458 896 458H104C71 458 42 487 42 521S71 583 104 583ZM104 833H896C929 833 958 804 958 771S929 708 896 708H104C71 708 42 737 42 771S71 833 104 833Z\"></path></svg><svg aria-hidden=\"true\" role=\"presentation\" class=\"elementor-menu-toggle__icon--close e-font-icon-svg e-eicon-close\" viewBox=\"0 0 1000 1000\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M742 167L500 408 258 167C246 154 233 150 217 150 196 150 179 158 167 167 154 179 150 196 150 212 150 229 154 242 171 254L408 500 167 742C138 771 138 800 167 829 196 858 225 858 254 829L496 587 738 829C750 842 767 846 783 846 800 846 817 842 829 829 842 817 846 804 846 783 846 767 842 750 829 737L588 500 833 258C863 229 863 200 833 171 804 137 775 137 742 167Z\"></path></svg>\t\t\t<span class=\"elementor-screen-only\">Menu</span>\n\t\t</div>\n\t\t\t\t\t<nav class=\"elementor-nav-menu--dropdown elementor-nav-menu__container\" aria-hidden=\"true\">\n\t\t\t\t<ul id=\"menu-2-644589a8\" class=\"elementor-nav-menu\"><li class=\"menu-item menu-item-type-custom menu-item-object-custom menu-item-5095\"><a href=\"https://ajuda.blips.com.br/institucional\" class=\"elementor-item\" tabindex=\"-1\">Institucional</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-211\"><a href=\"https://ajuda.blips.com.br/comunicacao-visual/\" class=\"elementor-item\" tabindex=\"-1\">Comunicação Visual</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-706\"><a href=\"https://ajuda.blips.com.br/confeccao/\" class=\"elementor-item\" tabindex=\"-1\">Confecção</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-724\"><a href=\"https://ajuda.blips.com.br/construcao-civil/\" class=\"elementor-item\" tabindex=\"-1\">Construção Civil</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-735\"><a href=\"https://ajuda.blips.com.br/estetica/\" class=\"elementor-item\" tabindex=\"-1\">Estética</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-742\"><a href=\"https://ajuda.blips.com.br/fit/\" class=\"elementor-item\" tabindex=\"-1\">FIT</a></li>\n<li class=\"menu-item menu-item-type-post_type menu-item-object-page menu-item-749\"><a href=\"https://ajuda.blips.com.br/sorvete/\" class=\"elementor-item\" tabindex=\"-1\">Sorvete</a></li>\n</ul>\t\t\t</nav>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-7ac71312 e-con-full e-flex e-con e-child\" data-id=\"7ac71312\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-51cff06e elementor-widget elementor-widget-heading\" data-id=\"51cff06e\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<h5 class=\"elementor-heading-title elementor-size-default\">base@blips.com.br\n</h5>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-5bef69d9 e-con-full e-flex e-con e-child\" data-id=\"5bef69d9\" data-element_type=\"container\">\n\t\t<div class=\"elementor-element elementor-element-30c2e6bd e-con-full e-flex e-con e-child\" data-id=\"30c2e6bd\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-6f2cb046 elementor-widget elementor-widget-heading\" data-id=\"6f2cb046\" data-element_type=\"widget\" data-widget_type=\"heading.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t<p class=\"elementor-heading-title elementor-size-default\">Blips © 2024. Todos os direitos reservados.</p>\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t<div class=\"elementor-element elementor-element-df9c15a e-con-full e-flex e-con e-child\" data-id=\"df9c15a\" data-element_type=\"container\">\n\t\t\t\t<div class=\"elementor-element elementor-element-b89726f elementor-widget elementor-widget-theme-site-logo elementor-widget-image\" data-id=\"b89726f\" data-element_type=\"widget\" data-widget_type=\"theme-site-logo.default\">\n\t\t\t\t<div class=\"elementor-widget-container\">\n\t\t\t\t\t\t\t\t\t<a href=\"https://ajuda.blips.com.br\">\n\t\t\t<img decoding=\"async\" width=\"1725\" height=\"630\" src=\"https://ajuda.blips.com.br/wp-content/uploads/2024/08/BLIPS-LOGOTIPO-OFICIAL-1.png\" class=\"attachment-full size-full wp-image-37\" alt=\"\" srcset=\"https://ajuda.blips.com.br/wp-content/uploads/2024/08/BLIPS-LOGOTIPO-OFICIAL-1.png 1725w, https://ajuda.blips.com.br/wp-content/uploads/2024/08/BLIPS-LOGOTIPO-OFICIAL-1-300x110.png 300w, https://ajuda.blips.com.br/wp-content/uploads/2024/08/BLIPS-LOGOTIPO-OFICIAL-1-1024x374.png 1024w, https://ajuda.blips.com.br/wp-content/uploads/2024/08/BLIPS-LOGOTIPO-OFICIAL-1-768x280.png 768w, https://ajuda.blips.com.br/wp-content/uploads/2024/08/BLIPS-LOGOTIPO-OFICIAL-1-1536x561.png 1536w\" sizes=\"(max-width: 1725px) 100vw, 1725px\" />\t\t\t\t</a>\n\t\t\t\t\t\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t</div>\n\t\t\t\t\t</div>\n\t\t\t\t</footer>\n\t\t\t\t</div>\n\t\t",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          220,
          0
        ],
        "id": "93610045-5d58-4c54-807a-0f2d9d57ee10",
        "name": "Edit Fields"
      },
      {
        "parameters": {
          "operation": "extractHtmlContent",
          "dataPropertyName": "html",
          "extractionValues": {
            "values": [
              {
                "key": "ops",
                "cssSelector": ".elementor-button-content-wrapper"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.html",
        "typeVersion": 1.2,
        "position": [
          680,
          -260
        ],
        "id": "7328f207-c71a-4a17-9223-450111576a5c",
        "name": "HTML"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "38ec2b60-d285-4ea7-9b9d-0e7faf45662f",
                "name": "html",
                "value": "={{ $json.html.replace(/<style[^>]*>\\/\\*! elementor[\\s\\S]*?<\\/style>/gi, \"\")}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          820,
          80
        ],
        "id": "07f88b2c-12a4-4dbd-bce6-26eb4d8efcf1",
        "name": "Edit Fields1"
      },
      {
        "parameters": {
          "jsCode": "const html = $input.first().json.html;\nconst root = \"https://ajuda.blips.com.br/\";\nconst uploads = \"wp-content/uploads\";\n\n// Regexes originais\nconst attributeRegex = /\\s(?:class|data-settings|data-e-action-hash|data-width|data-height|aria-label)=\"[^\"]*\"/gi;\nconst galleryrgx = /class=\"e-gallery[^\"]*\"/gi;\nconst pathrgx = /<path[^>]*>.*?<\\/path>/gis;\nconst stylergx = /<style>\\/\\*! elementor[\\s\\S]*?<\\/style>/gi;\nconst svgRegex = /<svg[\\s\\S]*?<\\/svg>/gi;\nconst divClassRegex = /<div\\s+[^>]*class\\s*=\\s*[\"'][^\"']*[\"'][^>]*>/gi;\n\n// NOVO: Remove todos os data-elementor-* seguidos até o title= (mantém só title=\"...\")\nconst dataAndTitleGroup = /(data-elementor-[^=]+=\"[^\"]*\"\\s*)+title=\"([^\"]*)\"/gi;\n\nfunction sanitizeHtml(html) {\n  return {\n    html: \"<root> = \" + root + \"<uploads> = \" + uploads + \" \"\n      + html\n        .replace(stylergx,\"\")\n        .replace(dataAndTitleGroup, 'title=\"$2\"')     // REMOVE todos data-elementor... até title, mantém title\n        .replace(attributeRegex,\"\")                   \n        .replace(galleryrgx,'class=\"img-item\"')       \n        .replace(pathrgx,\"\")                          \n        .replace(svgRegex,\"\")                         \n        .replace(divClassRegex,\"<div>\")               \n        .replaceAll(root,\"<root>\")                    \n        .replaceAll(uploads,\"<uploads>\")              \n  };\n}\n\nreturn sanitizeHtml(html);"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          0
        ],
        "id": "fc64792f-ec68-4392-8759-e1975b329b6b",
        "name": "Code"
      }
    ],
    "connections": {
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Edit Fields",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields1": {
        "main": [
          []
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "be818629-8a56-46c0-82a9-ccfc841a9334",
    "triggerCount": 0,
    "tags": []
  }
}