teste1tbYZvA8cI02h6Dh.json
{
  "data": {
    "createdAt": "2024-08-28T15:00:19.499Z",
    "updatedAt": "2024-08-28T15:00:19.499Z",
    "id": "1tbYZvA8cI02h6Dh",
    "name": "Assistente Suporte técnico - Juarez",
    "active": false,
    "nodes": [
      {
        "parameters": {},
        "id": "3337a2be-3f86-4f09-b6d3-833866180150",
        "name": "Merge - User",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2.1,
        "position": [
          -5220,
          1760
        ]
      },
      {
        "parameters": {
          "url": "=https://api.openai.com/v1/threads/{{ $json[\"thread_id\"] }}/runs/{{ $json[\"id\"] }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "options": {
            "timeout": 10000
          }
        },
        "id": "8e33064d-04b8-4fb7-803b-21165ec68b37",
        "name": "Get Run Status",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -520,
          1740
        ],
        "retryOnFail": true
      },
      {
        "parameters": {
          "amount": 2,
          "unit": "seconds"
        },
        "id": "4d85816d-4d29-4c56-9773-770d6a71bf9c",
        "name": "Wait",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1,
        "position": [
          -160,
          1960
        ],
        "webhookId": "fb70fc9e-d56a-46f2-99a6-ed80b4825eba"
      },
      {
        "parameters": {
          "url": "=https://api.openai.com/v1/threads/{{ $json.thread_id }}/messages?order=desc",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "options": {}
        },
        "id": "169051f6-d869-4ea1-ad77-b4a484900208",
        "name": "HTTP Request",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          420,
          1780
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "191c1aec-934c-4ba2-b396-3738b50f4d78",
                "name": "tool_calls",
                "value": "={{ $json.required_action.submit_tool_outputs.tool_calls }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "56eb42a0-00f0-4712-a4b3-fa54a1777724",
        "name": "Captura Tool Calls",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          620,
          1120
        ]
      },
      {
        "parameters": {
          "fieldToSplitOut": "tool_calls",
          "options": {
            "destinationFieldName": "properties"
          }
        },
        "id": "41d162d7-74ee-4c0e-a395-7350c836e9af",
        "name": "Split Out",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          780,
          1120
        ]
      },
      {
        "parameters": {
          "options": {
            "reset": "={{ $node[\"Loop Over Items\"].context[\"done\"] }}"
          }
        },
        "id": "f3a0a56a-04ac-45a6-a47f-275ac9bfea9a",
        "name": "Loop Over Items",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          960,
          1120
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "f724eaa4-72cc-4bbd-9b1a-b279ec2c8e52",
                "name": "arguments",
                "value": "={{ $json.properties.function.arguments }}",
                "type": "object"
              }
            ]
          },
          "includeOtherFields": true,
          "options": {}
        },
        "id": "6f7c0bbb-cc4f-4021-bd65-04b0a5f90779",
        "name": "Separa Arguments",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          1280,
          1240
        ]
      },
      {
        "parameters": {
          "aggregate": "aggregateAllItemData",
          "options": {}
        },
        "id": "b787e030-43bb-4f7c-b1ee-d0fa5418880b",
        "name": "Aggregate",
        "type": "n8n-nodes-base.aggregate",
        "typeVersion": 1,
        "position": [
          1180,
          920
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "c49761c9-bbfa-4a86-8d62-396ebeeebc5d",
                "name": "output",
                "value": "={{ $json.data }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "bb617ec0-c021-4280-9649-23cfd2c3c45f",
        "name": "Edit Fields2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          1400,
          920
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.openai.com/v1/threads/{{ $('Get Run Status').item.json[\"thread_id\"] }}/runs/{{ $('Get Run Status').item.json[\"id\"] }}/submit_tool_outputs",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"tool_outputs\":{{ $json.output }}\n}\n",
          "options": {
            "timeout": 20000
          }
        },
        "id": "8383f912-573c-4c0d-944e-b6e37e7eb51d",
        "name": "Insere Output",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1620,
          920
        ],
        "retryOnFail": true
      },
      {
        "parameters": {},
        "id": "68631e5e-a280-4808-8a96-b053addbe24e",
        "name": "Merge - Message",
        "type": "n8n-nodes-base.merge",
        "typeVersion": 2.1,
        "position": [
          -2920,
          1720
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.openai.com/v1/threads/{{ $('Prepara mensagem').first().json[\"thread_id\"] }}/messages",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"role\": \"user\",\n  \"content\": [\n    {{ $('Variáveis Globais').first().json.media_url ? \n      `{\n        \"type\": \"image_url\",\n        \"image_url\": {\n          \"url\": \"${$('Variáveis Globais').first().json.media_url}\"\n        }\n      },` : '' }}\n    {\n      \"type\": \"text\",\n      \"text\": \"<MetaInformacao>Data/hora de agora: {{ $now.setZone(\"America/Sao_Paulo\").toISO() }}</MetaInformacao><Pergunta>{{ $('Concatena todas mensagens').first().json.message.replace(/\\n/g, '\\\\n')}}</Pergunta>\"\n    }\n  ]\n}",
          "options": {}
        },
        "id": "7a69d0b0-0b36-4707-90d2-eadcafe00e22",
        "name": "Criar a Mensagem",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -1280,
          1720
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "2c72ca72-d1a4-4dc0-84e8-e882ecc1c42a",
                "name": "message",
                "value": "={{ $('Variáveis Globais').item.json.message }}",
                "type": "string"
              },
              {
                "id": "1289cdde-eae9-4087-94ba-ca2a01bc191e",
                "name": "media_url",
                "value": "={{ $('Variáveis Globais').item.json.media_url }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "13d7a41a-8a15-4288-9f6f-f172f3267b62",
        "name": "Set Message from Text",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -3460,
          1720
        ]
      },
      {
        "parameters": {
          "collection": "users",
          "options": {},
          "query": "={\n  \"phone\": \"{{ $('Variáveis Globais').item.json.user_id }}\"\n}"
        },
        "id": "733f3ef3-b6e7-47b2-b748-83d2c1680066",
        "name": "MongoDB - Get User",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -6220,
          2060
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "1bbb3958-988e-479e-add8-6584965f9d3f",
                "leftValue": "={{ !!Object.keys($node[\"MongoDB - Get User\"].data).length }}",
                "rightValue": 1,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "cae62f43-2d39-4181-8b94-b00b1efe16dc",
        "name": "If - User Exists",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -5880,
          2060
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "users",
          "updateKey": "phone",
          "fields": "=name,phone",
          "upsert": true,
          "options": {}
        },
        "id": "9909e34f-d44e-45ae-8fe6-f2ae263ca025",
        "name": "MongoDB - Create User",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -5400,
          2100
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "303c1752-c985-409c-88af-294c58e07484",
                "leftValue": "={{!! $json.data[0].cancelled_at }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "74039daa-970d-46c1-96dc-f73130539f27",
        "name": "If",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1240,
          2180
        ]
      },
      {
        "parameters": {
          "content": "## Bloco que controla o cadastro de usuários e thread_ids no MongoDB",
          "height": 1065.6984074713555,
          "width": 6264.033628677133
        },
        "id": "f4115cfa-b62a-44c1-8ad7-d82c211d5e3b",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -6860,
          1423.101567886633
        ]
      },
      {
        "parameters": {
          "content": "## Controle de espera de processamento da OpenAI",
          "height": 846.4920312897445,
          "width": 898.4819359519147,
          "color": 4
        },
        "id": "6dc50009-feb7-41c2-aa24-5598e87b81aa",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -580,
          1680
        ]
      },
      {
        "parameters": {
          "content": "## Resposta",
          "height": 815.6065533635013,
          "width": 1844.456416803199,
          "color": 6
        },
        "id": "486d3a47-61eb-4edb-8d19-e9a11d23cd2c",
        "name": "Sticky Note3",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          380,
          1740
        ]
      },
      {
        "parameters": {
          "content": "## Gestão das functions",
          "height": 1380.3111448037373,
          "width": 2245.228390046582,
          "color": 3
        },
        "id": "30d7b5ab-c1fb-407b-b51c-f09ca6a29ff1",
        "name": "Sticky Note2",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          560,
          340
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "79854708-0135-4a8b-827b-74bcd2ac8fe7",
                "name": "response",
                "value": "={{ \"success\" in $json.response.first() ? [\"Nenhum registro encontrado\"] : $json.response }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "id": "96f4a69e-1e88-41b9-a0ca-8f71ee9b0278",
        "name": "Response",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          2560,
          1060
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "=  {\n    \"headers\": {\n      \"host\": \"primary-production-46a6.up.railway.app\",\n      \"accept\": \"application/json, text/plain, */*\",\n      \"content-type\": \"application/json\",\n      \"user-agent\": \"chat\",\n      \"x-attempt-count\": \"1\",\n      \"x-instance-id\": \"dwyhj0tylntur66eqkora\",\n      \"x-message-id\": \"sb8ptc4in4zvjpozy0ual\",\n      \"content-length\": \"1269\",\n      \"accept-encoding\": \"gzip, compress, deflate, br\",\n      \"x-forwarded-for\": \"82.197.64.94\",\n      \"x-forwarded-proto\": \"https\",\n      \"x-envoy-external-address\": \"82.197.64.94\",\n      \"x-request-id\": \"fcc0a6a2-14a9-473e-afa4-67b5eba401d2\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"created_at\": \"2024-06-07T20:52:59.529Z\",\n      \"data\": {\n        \"content\": {\n          \"text\": \"{{ $json.chatInput || $json.arguments.mensagem }}\"\n        },\n        \"id\": \"3AC3E7589C5483138A93\",\n        \"recipient\": {\n          \"name\": \"Orseni\",\n          \"id\": \"553488152574\",\n          \"profile_picture\": \"https://zapsterapi.s3.us-east-1.amazonaws.com/instances/i-dwyhj0tylntur66eqkora/profile-pictures/1qldsgxni4vo45lrdxbjarluubpj6nin.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAV6PM7KXCEFS4IW3T%2F20240607%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240607T115835Z&X-Amz-Expires=86400&X-Amz-Signature=b1dc015f0464d0b8179251636e4be494386c9aaea6632577b556e9de49ec5e73&X-Amz-SignedHeaders=host&x-id=GetObject\",\n          \"type\": \"chat\"\n        },\n        \"sender\": {\n          \"name\": \"Orseni\",\n          \"id\": \"553488152574\",\n          \"profile_picture\": \"https://zapsterapi.s3.us-east-1.amazonaws.com/instances/i-dwyhj0tylntur66eqkora/profile-pictures/1qldsgxni4vo45lrdxbjarluubpj6nin.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAV6PM7KXCEFS4IW3T%2F20240607%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20240607T115835Z&X-Amz-Expires=86400&X-Amz-Signature=b1dc015f0464d0b8179251636e4be494386c9aaea6632577b556e9de49ec5e73&X-Amz-SignedHeaders=host&x-id=GetObject\"\n        },\n        \"sent_at\": \"2024-06-07T20:52:59.000Z\",\n        \"type\": \"text\"\n      },\n      \"id\": \"sb8ptc4in4zvjpozy0ual\",\n      \"type\": \"message.received\"\n    },\n    \"webhookUrl\": \"https://primary-production-46a6.up.railway.app/webhook/suporte-neuronio\",\n    \"executionMode\": \"production\"\n  }",
          "options": {}
        },
        "id": "b045fbf6-7834-43c3-9ec9-c8bc87c90b50",
        "name": "Convert to Webhook",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -8660,
          2180
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7e8aee3a-54b3-47b8-b546-3f90fb3f036a",
                "name": "output",
                "value": "={{$json.data[0].content[0].text.value.replaceAll(/【[^】]*】/g, \"\")}}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "564c677c-e1b2-4821-9295-8ba89c306559",
        "name": "Resposta chat",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          860,
          1760
        ]
      },
      {
        "parameters": {
          "url": "={{ $('Variáveis Globais').item.json.media_url }}",
          "options": {}
        },
        "id": "b24687ef-fc88-49a7-b754-b4f8815dbbd9",
        "name": "Baixar Áudio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3720,
          2000
        ]
      },
      {
        "parameters": {
          "jsCode": "items[0].binary.data.fileName = 'audio.ogg';\n\nreturn items;"
        },
        "id": "e18fa2f5-a3fe-4440-bfa8-c476b399faff",
        "name": "Code",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -3560,
          2000
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/audio/transcriptions",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "contentType": "multipart-form-data",
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "whisper-1"
              },
              {
                "parameterType": "formBinaryData",
                "name": "file",
                "inputDataFieldName": "data"
              },
              {
                "name": "language",
                "value": "pt"
              }
            ]
          },
          "options": {}
        },
        "id": "1c724235-f82d-44a6-a9c1-e73c5159c5e5",
        "name": "Transcreve o áudio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -3380,
          2000
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7d7698ea-b4d3-4182-8fde-d87d62c9744d",
                "name": "message",
                "value": "={{ $json.text }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "9cf50a7a-00b5-413c-963f-4999c61b7e86",
        "name": "Set Message from Audio",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -3220,
          2000
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/audio/speech",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "model",
                "value": "tts-1"
              },
              {
                "name": "input",
                "value": "={{ $('HTTP Request').item.json.data[0].content[0].text.value }}"
              },
              {
                "name": "voice",
                "value": "onyx"
              },
              {
                "name": "response_format",
                "value": "opus"
              }
            ]
          },
          "options": {}
        },
        "id": "a427c327-62d4-41fa-b4e1-da9fe8331b30",
        "name": "Gerar audio",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1020,
          1920
        ]
      },
      {
        "parameters": {
          "operation": "binaryToPropery",
          "options": {}
        },
        "id": "2d933cc7-ccf4-40c9-a48a-e097c66ba871",
        "name": "Extract from File",
        "type": "n8n-nodes-base.extractFromFile",
        "typeVersion": 1,
        "position": [
          1240,
          1920
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "12131562-b4c6-4624-9386-07cd9ee7fcc7",
                "name": "payload",
                "value": "={\"base64\": \"{{ $json.data }}\" }",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "6b1df70b-4dd7-4df1-9a2e-51d4a098f3e0",
        "name": "Set payload",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          1440,
          1920
        ]
      },
      {
        "parameters": {
          "workflowId": "PcyytYYixIfLQU6i",
          "options": {}
        },
        "id": "a1671d67-6f13-4c34-8209-82659db649d9",
        "name": "Execute Workflow - buscar_contratos",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1940,
          400
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "98a5af91-f163-4672-9d53-9bee20c97303",
                "leftValue": "={{ $json.last_error.code }}",
                "rightValue": "rate_limit_exceeded",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "732f203c-eeba-46ee-83e5-1e2e8388a4cf",
        "name": "Se for rate_limit_exceeded",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          180,
          2360
        ]
      },
      {
        "parameters": {
          "workflowId": "zruHG2Q8Zc9LriM4",
          "options": {}
        },
        "id": "bd8361bd-cb84-4b19-bc9e-bac8e505928a",
        "name": "Execute Workflow - buscar_bloqueio",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2100,
          540
        ]
      },
      {
        "parameters": {
          "mode": "raw",
          "jsonOutput": "={\n\"tool_call_id\":\"{{ $('Separa Arguments').item.json[\"properties\"][\"id\"] }}\",\n\"output\": {{ JSON.stringify(JSON.stringify($json[\"response\"])) }}\n}",
          "options": {}
        },
        "id": "2f0eb546-54ca-4204-900b-240540c718f0",
        "name": "Tool Call ID",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          2640,
          1480
        ]
      },
      {
        "parameters": {
          "workflowId": "H6L42ndrXCa92gWH",
          "options": {}
        },
        "id": "80ada695-3b68-45e8-b37f-7436b37da7a2",
        "name": "Execute Workflow - buscar_financeiro_cliente",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1940,
          680
        ]
      },
      {
        "parameters": {
          "workflowId": "tRfXwZeZ99Q1CPd5",
          "options": {}
        },
        "id": "12a1d42e-c505-4097-8932-021f0eea1d8f",
        "name": "Execute Workflow - buscar_ultima_conexao",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2100,
          800
        ]
      },
      {
        "parameters": {
          "workflowId": "iwmYQhmQDFzLi9E1",
          "options": {}
        },
        "id": "b98edc78-b29d-46ae-a252-db4751d2a1a2",
        "name": "Execute Workflow - buscar_desbloqueio",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1940,
          960
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "0946679f-72ec-4479-b8b6-831d4274caad",
                "name": "output",
                "value": "Nova thread criada",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "893abd59-4fe9-49de-b216-38788abaf0b5",
        "name": "Resposta chat1",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -3640,
          2160
        ]
      },
      {
        "parameters": {
          "workflowId": "uxYgH5bRn37z48nS",
          "options": {}
        },
        "id": "33e3aecf-13a4-440b-b942-9f5e1d31630f",
        "name": "Execute Workflow - buscar_cliente_modulo",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2100,
          1100
        ]
      },
      {
        "parameters": {
          "workflowId": "hEtsvd5ZoMPYsy0d",
          "options": {}
        },
        "id": "38eb2f97-8955-43bb-81eb-a19cb8ca3c22",
        "name": "Execute Workflow - buscar_liberacao_confianca",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          1940,
          1260
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "beed4a68-7ca4-480d-b203-3f43ca5c2ce5",
                "name": "process_date",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              },
              {
                "id": "ed79557d-a9f1-4938-8639-2b3c86df2ce0",
                "name": "thread_id",
                "value": "={{ $('Prepara mensagem').item.json.thread_id }}",
                "type": "string"
              },
              {
                "id": "d5795955-d791-42b4-ad4e-a4c6b08bb79a",
                "name": "_id",
                "value": "={{ new String($json._id).toString() }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d3d91d73-5d4c-486d-9e94-95eb235c147a",
        "name": "Define process_date",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -1940,
          2100
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "messages",
          "updateKey": "_id",
          "fields": "process_date",
          "options": {}
        },
        "id": "b121fa45-d69b-47d9-8a8c-7a6b1d781b36",
        "name": "Marca para processar",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -1720,
          2100
        ]
      },
      {
        "parameters": {
          "collection": "messages",
          "options": {
            "sort": "{\"message_date\": 1}"
          },
          "query": "={\n  \"thread_id\": \"{{ $('Add thread_id').item.json.thread_id }}\",\n  \"process_date\": null\n}"
        },
        "id": "b311509e-1394-4344-abe3-e65f22ec38a1",
        "name": "Busca as mensagens",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -2560,
          2020
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "options": {}
        },
        "id": "b9f6481c-59aa-4aa3-9eea-cd38f35980b2",
        "name": "Loop Over Items1",
        "type": "n8n-nodes-base.splitInBatches",
        "typeVersion": 3,
        "position": [
          -2200,
          2020
        ]
      },
      {
        "parameters": {
          "jsCode": "const messagesArray = $('Busca as mensagens').all();\nlet allMessages = \"\";\n\nmessagesArray.forEach(item => {\n  allMessages += item.json.message + \"  \";\n});\n\nallMessages = allMessages.trim();\nreturn [{\"message\": allMessages}]"
        },
        "id": "a90f8acf-c34b-476b-b773-2a0446a018d9",
        "name": "Concatena todas mensagens",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -1720,
          1940
        ]
      },
      {
        "parameters": {
          "content": "## Retem e concatena as mensagens para responder msgs seguidas",
          "height": 726.8686358086411,
          "width": 1253.9461636728156,
          "color": 5
        },
        "id": "7f0b55ad-a5d8-4835-95f0-98e3f73fe1d7",
        "name": "Sticky Note5",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -2740,
          1600
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "af8e4a16-f7a1-4fcc-be62-b57426fec573",
                "leftValue": "={{ $('Variáveis Globais').item.json.foi_marcado }}",
                "rightValue": "@553897225184",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "d7a40168-82e7-4da4-b9f5-3cb85f2eafaa",
        "name": "Foi marcado no grupo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -8000,
          1100
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "2ae7e744-f617-48e2-9549-6694fe3f3312",
                "leftValue": "={{ $json.type }}",
                "rightValue": "group",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "47819a1a-bc2c-4e8f-821e-5b43fce4b472",
        "name": "É grupo?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -8140,
          1820
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.zapsterapi.com/v1/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "accept",
                "value": "*/*"
              },
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTQyMzA4NDIsImlzcyI6IjE2YTE0YThjLTIyNjItNDc1YS04NDFiLTg1NWNiNmJjYjYyMyIsInN1YiI6IjY0YzFhYmI3LTNiZDktNGUzYS05OGE5LTRiZDQ1ZTk2ZWJmMSJ9.yka24QqPV1qR6_ei3dzPOQrKKqXLTLS818OoHpf0SH8"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "to",
                "value": "={{ $('Variáveis Globais').item.json.user_id }}"
              },
              {
                "name": "instance_id",
                "value": "5f5670d7-8933-4673-9546-548f7d5a491c"
              },
              {
                "name": "media",
                "value": "={{ $json.payload.parseJson() }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "8054308d-e81d-4665-9908-f86d0c8bd339",
        "name": "Envia audio p/ Whatsapp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1540,
          2320
        ]
      },
      {
        "parameters": {
          "workflowId": "tMyRUwOOKeuw9wQt",
          "options": {}
        },
        "id": "6e9d4eb7-6d33-46bf-8cc5-04eb6cf93d70",
        "name": "Execute Workflow - buscar_telemetria_uso",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1,
        "position": [
          2100,
          1440
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "a30ac449-65ca-4a00-bdc5-19d2a41d4b34",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_contrato",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_contrato"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "1ed1667f-793b-4625-b2b6-248671c134bd",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_bloqueio",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_bloqueio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "a86e4e8e-c899-47be-870a-d507c49eb104",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_financeiro_cliente",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_financeiro_cliente"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "3a6ad548-1418-45f9-9013-469514193f4d",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_ultima_conexao",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_ultima_conexao"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "bf2fd5b3-e277-4c9c-8f2a-a0613ce78365",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_desbloqueio",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_desbloqueio"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "6ded196b-9b7a-4740-9503-fa548fa5d830",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_cliente_modulo",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_cliente_modulo"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "f4984eac-131e-4cf7-8252-f916f1f7c88c",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_liberacao_confianca",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_liberacao_confianca"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "0a2a3ca0-deb6-4e18-b81b-174a0c2f60e7",
                      "leftValue": "={{ $json.properties.function.name }}",
                      "rightValue": "buscar_telemetria_uso",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "buscar_telemetria_uso"
              }
            ]
          },
          "options": {}
        },
        "id": "537a10fb-be93-4d5c-8921-02ad32a6fc21",
        "name": "Escolhe a tool que deve ser utilizada",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1540,
          1240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "f1ea30cb-9d3b-4456-a265-2820936dac6e",
                "leftValue": "={{ $('Variáveis Globais').item.json.type }}",
                "rightValue": "group",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "f5ef5355-cc4c-47e3-befb-3f0cded6a5ff",
        "name": "É grupo??2",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -6140,
          1700
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://new-api.zapsterapi.com/v1/wa/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTc2MTE5MjQsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiJiZDg4ZWI0YS02ZjdkLTRlYzUtYTk5MS1hYWUzMWMxOGMzMDQiLCJqdGkiOiJhNTBiNzdiNC0yNDdmLTQ2ZDEtYTIyOS1jMDZiOWQ1NGI3YjMifQ.Ql1H5JTcgbV48Mgj18IJCfreD8bdxgybNtmW6BOuWS0"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "instance_id",
                "value": "={{ $('Variáveis Globais').item.json.instance_id }}"
              },
              {
                "name": "recipient",
                "value": "={{ $('Variáveis Globais').item.json.user_id }}"
              },
              {
                "name": "text",
                "value": "=Nesse momento estou fora e não vou conseguir te responder. Me desculpe por isso, mas logo estarei de volta 🙂"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "f7ed941a-9e19-4ac0-a5e0-389ae4a14b7c",
        "name": "Envia Whatsapp1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -5880,
          1740
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://new-api.zapsterapi.com/v1/wa/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTc2MTE5MjQsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiJiZDg4ZWI0YS02ZjdkLTRlYzUtYTk5MS1hYWUzMWMxOGMzMDQiLCJqdGkiOiJhNTBiNzdiNC0yNDdmLTQ2ZDEtYTIyOS1jMDZiOWQ1NGI3YjMifQ.Ql1H5JTcgbV48Mgj18IJCfreD8bdxgybNtmW6BOuWS0"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "instance_id",
                "value": "={{ $('Variáveis Globais').item.json.instance_id }}"
              },
              {
                "name": "recipient",
                "value": "=group:{{ $('Variáveis Globais').item.json.group_id }}"
              },
              {
                "name": "text",
                "value": "=Nesse momento estou fora e não vou conseguir te responder. Me desculpe por isso, mas logo estarei de volta 🙂"
              },
              {
                "name": "auto_mention",
                "value": "={{true}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "ec3ec131-3180-4a3b-aa90-7b9ea2132f10",
        "name": "Envia Whatsapp Grupo2",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -5880,
          1540
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "7fad812c-4f7b-41bb-a426-5aca9dc08bc3",
                "leftValue": "={{ $('Variáveis Globais').item.json.em_manutencao }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ebaafd8e-12e8-4a49-843b-0b53ac80d9b0",
        "name": "Está em manutenção?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -6760,
          1860
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "ccc349c8-e64f-45d7-bd3f-551a8a58a2ee",
                "leftValue": "={{ $('Variáveis Globais').item.json.chat }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3d2269dc-79e8-4e4d-ba9b-10cd3c84ab2f",
        "name": "É chat?1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -6420,
          1620
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "7e8aee3a-54b3-47b8-b546-3f90fb3f036a",
                "name": "output",
                "value": "=Nesse momento estou fora e não vou conseguir te responder. Me desculpe por isso, mas logo estarei de volta 🙂",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "893cdc8b-11c6-4a1d-81d1-4d8a8c355ad6",
        "name": "Resposta chat2",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -6140,
          1540
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "collection": "users",
          "updateKey": "phone",
          "fields": "={{ $('Variáveis Globais').item.json.assistant_id }}",
          "options": {}
        },
        "id": "07a314e0-a3c3-4ace-bcd8-7e592c56d1a8",
        "name": "Atualizar thread_id",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -4040,
          2000
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "2f9b9d5a-e6c8-4052-961e-89a2e11d59f5",
                "leftValue": "={{ $('Variáveis Globais').item.json.message }}",
                "rightValue": "/limpar_thread",
                "operator": {
                  "type": "string",
                  "operation": "startsWith"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "36401eeb-4c42-4e99-93f1-4b0f570b25ca",
        "name": "Foi uma solicitação p/ limpar?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -3880,
          2220
        ]
      },
      {
        "parameters": {
          "url": "=https://api.openai.com/v1/threads/{{ $('Add thread_id').first().json.thread_id }}/runs",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "options": {}
        },
        "id": "fda4e805-f57d-4593-8c7b-aa4f0d71e3a4",
        "name": "Lista Runs",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -1060,
          1940
        ],
        "onError": "continueErrorOutput"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.openai.com/v1/threads",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "options": {}
        },
        "id": "832239b7-85fa-4e16-a33c-4ce6c10f35a4",
        "name": "Criar Thread",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -4400,
          2000
        ],
        "retryOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "e67f5454-b878-4de4-a5e0-9136f74539ad",
                "name": "thread_id",
                "value": "={{ $json.thread_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "d0064364-afbf-416f-896e-869a4007ba1e",
        "name": "Add thread_id",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -4180,
          1720
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.openai.com/v1/threads/{{ $json.thread_id }}/runs",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "assistant_id",
                "value": "={{ $('Variáveis Globais').first().json.assistant_id }}"
              },
              {
                "name": "tool_choice",
                "value": "auto"
              },
              {
                "name": "parallel_tool_calls",
                "value": "={{ false }}"
              }
            ]
          },
          "options": {}
        },
        "id": "0b1e0994-0fa5-4b1a-9393-9641c769d836",
        "name": "Run Assistant",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -1060,
          1720
        ],
        "executeOnce": false,
        "retryOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b9c8dcb8-7a7d-4a06-8ad2-6fc05f1694bf",
                "name": "user_id",
                "value": "={{ new String($('MongoDB - Get User').first().json._id).toString() }}",
                "type": "string"
              },
              {
                "id": "322f9814-b3ff-45f8-9210-47e5ee4aaf11",
                "name": "thread_id",
                "value": "={{ $('Add thread_id').item.json.thread_id }}",
                "type": "string"
              },
              {
                "id": "c124c295-55c0-4e1e-b489-393b63ca22f7",
                "name": "message",
                "value": "={{ $json.message }}",
                "type": "string"
              },
              {
                "id": "2c10a020-ae36-4d88-a9b1-4c125058d68f",
                "name": "message_date",
                "value": "={{ $now.toISO() }}",
                "type": "string"
              },
              {
                "id": "fef4b02b-fc00-4135-8259-a68f535077df",
                "name": "assistant_id",
                "value": "={{ $('Variáveis Globais').item.json.assistant_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "5d1e35a9-56dd-4f3d-85ab-0932068c3667",
        "name": "Prepara mensagem",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -2580,
          1720
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "operation": "insert",
          "collection": "messages",
          "fields": "user_id,thread_id,message,message_date,assistant_id",
          "options": {}
        },
        "id": "cb2ab2da-d613-47b7-9cec-3c4a9f2289eb",
        "name": "Insere a mensagem",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -2380,
          1720
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "a481b5b5-85f3-495c-9301-fb5433b0dccc",
                "leftValue": "={{ $input.all().length }}",
                "rightValue": 1,
                "operator": {
                  "type": "number",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "795d7c37-c27c-4419-beb9-b78538271f02",
        "name": "Primeira mensagem?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -1960,
          1720
        ]
      },
      {
        "parameters": {
          "collection": "messages",
          "options": {},
          "query": "={\n  \"thread_id\": \"{{ $('Add thread_id').first().json.thread_id }}\",\n  \"message_date\": {\"$gte\": \"{{$now.minus(30*1000).toISO()}}\"},\n  \"process_date\": null\n}"
        },
        "id": "a7dd3283-2d77-4932-bfb0-31bebf310dde",
        "name": "Conta as mensagens",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -2180,
          1720
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "amount": 10
        },
        "id": "893c3f02-d621-4eea-8e0d-cf90829b93d0",
        "name": "Espera chegar mais mensagens",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -1720,
          1700
        ],
        "webhookId": "d271a066-0a55-468f-9b1c-ba3910fb42f2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "ccc349c8-e64f-45d7-bd3f-551a8a58a2ee",
                "leftValue": "={{ $('Variáveis Globais').first().json.chat }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "836791b0-538f-432f-986b-91dc0639f7ba",
        "name": "É chat?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          600,
          1780
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "8f9e9d49-352e-40c0-b620-c7f2bae218ad",
                "leftValue": "={{ $('Variáveis Globais').first().json.message_type }}",
                "rightValue": "audio",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3867e27a-bb3d-42f2-bbd9-13f328658d3f",
        "name": "É audio?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          760,
          2020
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "f1ea30cb-9d3b-4456-a265-2820936dac6e",
                "leftValue": "={{ $('Variáveis Globais').first().json.type }}",
                "rightValue": "group",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "fa204ac5-9bbe-4780-86c8-08ee672d8abf",
        "name": "É grupo??",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1020,
          2140
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "f1ea30cb-9d3b-4456-a265-2820936dac6e",
                "leftValue": "={{ $('Variáveis Globais').first().json.type }}",
                "rightValue": "group",
                "operator": {
                  "type": "string",
                  "operation": "equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "1e1498fc-0039-46c4-821d-cccf712664b6",
        "name": "É grupo??1",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1660,
          1920
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://new-api.zapsterapi.com/v1/wa/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTc2MTE5MjQsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiJiZDg4ZWI0YS02ZjdkLTRlYzUtYTk5MS1hYWUzMWMxOGMzMDQiLCJqdGkiOiJhNTBiNzdiNC0yNDdmLTQ2ZDEtYTIyOS1jMDZiOWQ1NGI3YjMifQ.Ql1H5JTcgbV48Mgj18IJCfreD8bdxgybNtmW6BOuWS0"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "instance_id",
                "value": "={{ $('Variáveis Globais').first().json.instance_id }}"
              },
              {
                "name": "recipient",
                "value": "=group:{{ $('Variáveis Globais').first().json.group_id }}"
              },
              {
                "name": "text",
                "value": "=@{{$('Variáveis Globais').first().json.user_id}}\n{{$json.data[0].content[0].text.value.replaceAll(/【[^】]*】/g, \"\").replaceAll(\"**\", \"*\")}}"
              },
              {
                "name": "auto_mention",
                "value": "={{true}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "6080d1fc-2e49-45fc-90b2-141c549af0e4",
        "name": "Envia Whatsapp Grupo",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1340,
          2100
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://new-api.zapsterapi.com/v1/wa/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTc2MTE5MjQsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiJiZDg4ZWI0YS02ZjdkLTRlYzUtYTk5MS1hYWUzMWMxOGMzMDQiLCJqdGkiOiJhNTBiNzdiNC0yNDdmLTQ2ZDEtYTIyOS1jMDZiOWQ1NGI3YjMifQ.Ql1H5JTcgbV48Mgj18IJCfreD8bdxgybNtmW6BOuWS0"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "instance_id",
                "value": "={{ $('Variáveis Globais').first().json.instance_id }}"
              },
              {
                "name": "recipient",
                "value": "={{ $('Variáveis Globais').first().json.user_id }}"
              },
              {
                "name": "text",
                "value": "={{$json.data[0].content[0].text.value.replaceAll(/【[^】]*】/g, \"\").replaceAll(\"**\", \"*\")}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "ef2a721a-3bf1-457d-9313-a67e80d1a95f",
        "name": "Envia Whatsapp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1280,
          2320
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://new-api.zapsterapi.com/v1/wa/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTc2MTE5MjQsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiJiZDg4ZWI0YS02ZjdkLTRlYzUtYTk5MS1hYWUzMWMxOGMzMDQiLCJqdGkiOiJhNTBiNzdiNC0yNDdmLTQ2ZDEtYTIyOS1jMDZiOWQ1NGI3YjMifQ.Ql1H5JTcgbV48Mgj18IJCfreD8bdxgybNtmW6BOuWS0"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "instance_id",
                "value": "={{ $('Variáveis Globais').first().json.instance_id }}"
              },
              {
                "name": "recipient",
                "value": "=group:{{ $('Variáveis Globais').first().json.group_id }}"
              },
              {
                "name": "text",
                "value": "=@{{$('Variáveis Globais').first().json.user_id}}\n{{$json.data[0].content[0].text.value.replaceAll(/【[^】]*】/g, \"\")}}"
              },
              {
                "name": "auto_mention",
                "value": "={{true}}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "3ec3921e-d7f9-4d89-9d25-b29a8d614fff",
        "name": "Envia Whatsapp Grupo1",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1960,
          1840
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://new-api.zapsterapi.com/v1/wa/messages",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE3MTc2MTE5MjQsImlzcyI6InphcHN0ZXJhcGkiLCJzdWIiOiJiZDg4ZWI0YS02ZjdkLTRlYzUtYTk5MS1hYWUzMWMxOGMzMDQiLCJqdGkiOiJhNTBiNzdiNC0yNDdmLTQ2ZDEtYTIyOS1jMDZiOWQ1NGI3YjMifQ.Ql1H5JTcgbV48Mgj18IJCfreD8bdxgybNtmW6BOuWS0"
              },
              {
                "name": "accept",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "instance_id",
                "value": "={{ $('Variáveis Globais').first().json.instance_id }}"
              },
              {
                "name": "recipient",
                "value": "={{ $('Variáveis Globais').first().json.user_id }}"
              },
              {
                "name": "media",
                "value": "={{ $json.payload.parseJson() }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "id": "01b361b8-e65a-4f99-9828-af1531ca80e8",
        "name": "Envia Audio Whatsapp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          1960,
          2080
        ]
      },
      {
        "parameters": {
          "collection": "messages",
          "options": {},
          "query": "={\n  \"thread_id\": \"{{ $json[$('Variáveis Globais').first().json.assistant_id] }}\",\n  \"message_date\": {\"$gte\": \"{{$now.minus(10, 'minutes').toISO()}}\"}\n}"
        },
        "id": "e41b7b9c-c85b-428d-97ad-ad9a7f293305",
        "name": "Conta as mensagens recentes",
        "type": "n8n-nodes-base.mongoDb",
        "typeVersion": 1,
        "position": [
          -4720,
          1720
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "34cb3bc8-079f-43b5-8f32-78fefbc897dc",
                "name": "assistant_id",
                "value": "asst_VDW2A4A5aovctGglkhRfSmHj",
                "type": "string"
              },
              {
                "id": "b6ff9a48-6fe6-4808-8a40-d6edbb9c2346",
                "name": "user_id",
                "value": "={{ $json.body.data.sender.id }}",
                "type": "string"
              },
              {
                "id": "d7564de9-2206-490b-bef3-3001e57ac8e0",
                "name": "user_name",
                "value": "={{ $json.body.data.sender.name }}",
                "type": "string"
              },
              {
                "id": "7a61cd22-7f0c-4c04-a3ed-6acf9f979424",
                "name": "message_type",
                "value": "={{ $json.body.data.type }}",
                "type": "string"
              },
              {
                "id": "8b78c832-8cf3-430f-83b0-7bbca38e4140",
                "name": "=message",
                "value": "={{ $json.body.data.content.text.replace(/@\\d+/g, '').trim() }}",
                "type": "string"
              },
              {
                "id": "adf11de6-a3ee-4e3e-aed5-5a6a3025202d",
                "name": "chat",
                "value": "={{ $json.headers['user-agent'] == 'chat'}}",
                "type": "boolean"
              },
              {
                "id": "74b31986-b940-4961-94ac-188108032c9c",
                "name": "media_url",
                "value": "={{ $json.body.data.content.media.url }}",
                "type": "string"
              },
              {
                "id": "1b7de11f-c4c8-414e-ab04-a8ac5206bb5b",
                "name": "type",
                "value": "={{ $json.body.data.recipient.type }}",
                "type": "string"
              },
              {
                "id": "1a724457-704f-4873-9f5e-b23b595e16e3",
                "name": "group_id",
                "value": "={{ $json.body.data.recipient.id }}",
                "type": "string"
              },
              {
                "id": "b4f6cfd6-11dc-476b-b717-97a69af57b51",
                "name": "instance_id",
                "value": "={{ $json.headers['x-instance-id'] }}",
                "type": "string"
              },
              {
                "id": "dad28517-e36b-4673-bd96-23b8fd78b190",
                "name": "foi_marcado",
                "value": "={{ $json.body.data.content.text.indexOf(\"@551231973351\") >= 0 || $json.body.data.content.quoted.sender.id == \"551231973351\" }}",
                "type": "boolean"
              },
              {
                "id": "59b01587-dc59-4cb3-9bce-e7daa0f0c6de",
                "name": "em_manutencao",
                "value": "={{ false }}",
                "type": "boolean"
              },
              {
                "id": "4d7aa9a1-40e8-4cd5-8e3b-520281cc2cbe",
                "name": "nome_agente",
                "value": "Juarez",
                "type": "string"
              }
            ]
          },
          "includeOtherFields": "={{ false }}",
          "options": {}
        },
        "id": "24a82409-0014-4fab-9497-3934b39cae18",
        "name": "Variáveis Globais",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -8620,
          1820
        ]
      },
      {
        "parameters": {
          "amount": "={{ parseInt($json.last_error.message.match(/(\\d+(\\.\\d+)?)s/)[1]) * 2}}"
        },
        "id": "8b173dec-5daa-4f27-bcc0-0aff03e1a635",
        "name": "Espera o tempo determinado",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          -140,
          2160
        ],
        "webhookId": "7a99f3ce-d757-44d5-a4b1-6a7f9094f442"
      },
      {
        "parameters": {
          "jsCode": "$vars.thread_nova = false\nreturn items"
        },
        "id": "5bb82dbd-7e8d-40f3-a957-1c37f1d35322",
        "name": "Variáveis Globais - Code",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -8360,
          1820
        ]
      },
      {
        "parameters": {
          "content": "## Manutenção",
          "height": 401.2921766715019,
          "width": 772.6638617087866,
          "color": 5
        },
        "id": "4d45ae83-afa5-447f-850f-78c8b802463d",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -6460,
          1520
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "a481b5b5-85f3-495c-9301-fb5433b0dccc",
                "leftValue": "={{ !! $json[$('Variáveis Globais').item.json.assistant_id] }}",
                "rightValue": "'sadasdasdas'",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "8f381757-8cd4-4bdf-b4e6-b7f7da573972",
        "name": "Possui Thread salva no banco?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -5040,
          1760
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b9c8dcb8-7a7d-4a06-8ad2-6fc05f1694bf",
                "name": "name",
                "value": "={{ $('Variáveis Globais').item.json.user_name }}",
                "type": "string"
              },
              {
                "id": "322f9814-b3ff-45f8-9210-47e5ee4aaf11",
                "name": "phone",
                "value": "={{ $('Variáveis Globais').item.json.user_id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "e4cc3ec1-6de1-48fd-9647-54041ed9a085",
        "name": "Prepara User",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -5600,
          2100
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "b9c8dcb8-7a7d-4a06-8ad2-6fc05f1694bf",
                "name": "phone",
                "value": "={{ $('Merge - User').last().json.phone }}",
                "type": "string"
              },
              {
                "id": "322f9814-b3ff-45f8-9210-47e5ee4aaf11",
                "name": "={{ $('Variáveis Globais').first().json.assistant_id }}",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "04822b9e-4ad5-4e13-81ed-866d485051d6",
        "name": "Prepara atualização",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -4220,
          2000
        ],
        "alwaysOutputData": false
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "2f9b9d5a-e6c8-4052-961e-89a2e11d59f5",
                "leftValue": "={{ $('Variáveis Globais').item.json.message }}",
                "rightValue": "=/limpar_thread",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              },
              {
                "id": "6afa8f21-47c3-4ebf-9b3f-85c5694c94d4",
                "leftValue": "={{!! $json._id }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "6102f033-28c1-468b-92f1-8f7a8283c37c",
        "name": "É para continuar a thread_id?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -4540,
          1720
        ],
        "executeOnce": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "8c73c213-25d5-4b66-95fa-f8c9b4460480",
                "leftValue": "={{ $('MongoDB - Get User').item.json[$('Variáveis Globais').item.json.assistant_id] }}",
                "rightValue": "={{ $('Possui Thread salva no banco?').item.json[$('Variáveis Globais').item.json.assistant_id] }}",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "79905e0d-e9ce-4e99-9b0c-9119df325d01",
        "name": "Mudou a thread_id?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -4860,
          1520
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6174ef56-939f-48d8-97c5-2e458eb06267",
                "name": "thread_id",
                "value": "={{ $json[$('Variáveis Globais').item.json.assistant_id] }}",
                "type": "string"
              },
              {
                "id": "37da7440-91ec-4311-80e1-4a801a1f6b65",
                "name": "phone",
                "value": "={{ $json.phone }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "7f6ed772-2c29-4231-8662-b3b3dd21e00f",
        "name": "Preparta thread_id",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          -4540,
          1500
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "9be99488-b9db-4adf-bd48-7d7109f34e01",
                "name": "message",
                "value": "={{ $('Concatena todas mensagens').item.json.message }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ee07fd1c-6a3a-49be-b923-92c99154ca5b",
        "name": "Coloca novamente a mensagem para re-processar",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.3,
        "position": [
          340,
          2580
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "05565c85-7392-4b9e-92eb-73a548632b57",
                "leftValue": "={{ $json.message.toUpperCase() }}",
                "rightValue": "={{ $('Variáveis Globais').item.json.nome_agente.toUpperCase() }}",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                }
              }
            ],
            "combinator": "or"
          },
          "options": {}
        },
        "id": "333cd21d-e84e-442e-8f1e-dfd366e9664f",
        "name": "Falou de mim?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -7820,
          1240
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "e974bbea-4269-45f3-a6eb-063107c1afe0",
                "leftValue": "={{ $json.text }}",
                "rightValue": "FOI_CHAMADO",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "a1b4ebf6-5e44-4451-9d75-45f6816bbcbe",
        "name": "Foi chamado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          -7380,
          1720
        ]
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "value": "gpt-4o-mini",
            "mode": "list",
            "cachedResultName": "gpt-4o-mini"
          },
          "options": {}
        },
        "id": "6c9bd596-7546-4fb3-a3e8-b58836e3dee4",
        "name": "OpenAI Model",
        "type": "@n8n/n8n-nodes-langchain.lmOpenAi",
        "typeVersion": 1,
        "position": [
          -7640,
          1660
        ]
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Você é um especialista em interpretação de textos.\nDado o texto a serguir (dentro da tag <Texto>), seu trabalho é identificar se o sujeito chamado {{ $('Variáveis Globais').item.json.nome_agente }} foi perguntado, acessado, questionado, elogiado.\nOu seja, caso haja a necessidade do Salvador responder (há algum indicativo no texto que o usuário está aguardando resposta do {{ $('Variáveis Globais').item.json.nome_agente }}, você avise.\n\nCaso o {{ $('Variáveis Globais').item.json.nome_agente }} precise responder, retorne: FOI_CHAMADO\nCaso o {{ $('Variáveis Globais').item.json.nome_agente }} não precise responder, retorno: NAO_FOI_CHAMADO\n\n<Texto>\n{{ $json.message }}\n</Texto>"
        },
        "id": "8f70f93b-1fc6-4afd-844d-cf5d310ad8a4",
        "name": "Basic LLM Chain",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.4,
        "position": [
          -7660,
          1500
        ]
      },
      {
        "parameters": {},
        "id": "2822abb2-1a69-4314-96cc-e298d3b5af55",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          -8980,
          2440
        ]
      },
      {
        "parameters": {
          "public": true,
          "initialMessages": "Olá",
          "options": {}
        },
        "id": "0541f988-f62e-4c6a-8eb3-722300e3c6cf",
        "name": "Chat Trigger",
        "type": "@n8n/n8n-nodes-langchain.chatTrigger",
        "typeVersion": 1,
        "position": [
          -8980,
          2180
        ],
        "webhookId": "004144ef-51f6-4789-8eff-0b8477652b6c"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "queued",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "queued"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "ecd44d0c-b93e-4977-ae74-8c87eae4cf20",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "in_progress",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "in_progress"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "6f6841ae-8845-4659-9e06-06e5bd4843df",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "failed",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "failed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "6cc26ecf-79af-4d91-bb3f-a617646e3fc8",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "completed",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "completed"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "0f93b1ee-1a9c-4586-86f8-55e0a180ca04",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "expired",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "expired"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "5e7ecc7f-ecee-439c-aa0e-80a7e110726a",
                      "leftValue": "={{ $json.status }}",
                      "rightValue": "=requires_action",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "requires_action"
              }
            ]
          },
          "options": {}
        },
        "id": "6236c6f0-2c27-4458-b5f5-be679cce7397",
        "name": "Switch",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -280,
          1720
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.openai.com/v1/threads/{{ $json.data[0].thread_id }}/runs/{{ $('Lista Runs').first().json.first_id }}/cancel ",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "openAiApi",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "OpenAI-Beta",
                "value": "assistants=v2"
              }
            ]
          },
          "options": {}
        },
        "id": "9a5b88d4-0424-47a7-977f-a560cc8ee869",
        "name": "Cancel Run",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          -1040,
          2160
        ],
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "26d2a0d2-2a36-479d-89c4-f97424eadc01",
                "name": "arguments.mensagem",
                "value": "={{ ($json.arguments.mensagem ? $json.arguments.mensagem : '<Assistente> ' + $json.arguments.pergunta + ' cnpj: ' + $json.arguments.cnpj + ' <Assistente/>').replace(/\\n/g, '') }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "43275c87-574d-4b25-8f9c-1aece2a5911b",
        "name": "Se for da cobrança colocar tag assistente",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          -8780,
          2440
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "957ba458-7a73-4c85-aa32-e0601292709b",
                      "leftValue": "={{ $('Variáveis Globais').item.json.message_type }}",
                      "rightValue": "image",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Image"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Variáveis Globais').item.json.message_type }}",
                      "rightValue": "text",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Text"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "ff160489-60f4-4fde-b3e7-0f69c9593f90",
                      "leftValue": "={{ $('Variáveis Globais').item.json.message_type }}",
                      "rightValue": "audio",
                      "operator": {
                        "type": "string",
                        "operation": "equals",
                        "name": "filter.operator.equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Audio"
              }
            ]
          },
          "options": {}
        },
        "id": "34cc82c0-e22d-4cb2-8051-b33e9b5c7ba3",
        "name": "Tipo de Mensagem",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          -3980,
          1720
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "tecnico-juarez",
          "options": {}
        },
        "id": "c748522f-e137-476f-ac8a-a64b926f192d",
        "name": "Webhook",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 1.1,
        "position": [
          -8960,
          1820
        ],
        "webhookId": "447c36b2-9b43-4953-9d39-26d4904d1e0c"
      }
    ],
    "connections": {
      "Merge - User": {
        "main": [
          [
            {
              "node": "Possui Thread salva no banco?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Run Status": {
        "main": [
          [
            {
              "node": "Switch",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait": {
        "main": [
          [
            {
              "node": "Get Run Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "HTTP Request": {
        "main": [
          [
            {
              "node": "É chat?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Captura Tool Calls": {
        "main": [
          [
            {
              "node": "Split Out",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items": {
        "main": [
          [
            {
              "node": "Aggregate",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Separa Arguments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Separa Arguments": {
        "main": [
          [
            {
              "node": "Escolhe a tool que deve ser utilizada",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Aggregate": {
        "main": [
          [
            {
              "node": "Edit Fields2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Edit Fields2": {
        "main": [
          [
            {
              "node": "Insere Output",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insere Output": {
        "main": [
          [
            {
              "node": "Get Run Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge - Message": {
        "main": [
          [
            {
              "node": "Prepara mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar a Mensagem": {
        "main": [
          [
            {
              "node": "Run Assistant",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Lista Runs",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message from Text": {
        "main": [
          [
            {
              "node": "Merge - Message",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "MongoDB - Get User": {
        "main": [
          [
            {
              "node": "If - User Exists",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If - User Exists": {
        "main": [
          [
            {
              "node": "Merge - User",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepara User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "MongoDB - Create User": {
        "main": [
          [
            {
              "node": "Merge - User",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "If": {
        "main": [
          [
            {
              "node": "Cancel Run",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Response": {
        "main": [
          [
            {
              "node": "Tool Call ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert to Webhook": {
        "main": [
          [
            {
              "node": "Variáveis Globais",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Baixar Áudio": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "Transcreve o áudio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Transcreve o áudio": {
        "main": [
          [
            {
              "node": "Set Message from Audio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set Message from Audio": {
        "main": [
          [
            {
              "node": "Merge - Message",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Gerar audio": {
        "main": [
          [
            {
              "node": "Extract from File",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract from File": {
        "main": [
          [
            {
              "node": "Set payload",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set payload": {
        "main": [
          [
            {
              "node": "É grupo??1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_contratos": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_bloqueio": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tool Call ID": {
        "main": [
          [
            {
              "node": "Loop Over Items",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_financeiro_cliente": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_ultima_conexao": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_desbloqueio": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_cliente_modulo": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_liberacao_confianca": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Define process_date": {
        "main": [
          [
            {
              "node": "Marca para processar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Busca as mensagens": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Loop Over Items1": {
        "main": [
          [
            {
              "node": "Concatena todas mensagens",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Define process_date",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Marca para processar": {
        "main": [
          [
            {
              "node": "Loop Over Items1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Concatena todas mensagens": {
        "main": [
          [
            {
              "node": "Criar a Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Foi marcado no grupo?": {
        "main": [
          [
            {
              "node": "Está em manutenção?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Falou de mim?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É grupo?": {
        "main": [
          [
            {
              "node": "Foi marcado no grupo?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Está em manutenção?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow - buscar_telemetria_uso": {
        "main": [
          [
            {
              "node": "Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Escolhe a tool que deve ser utilizada": {
        "main": [
          [
            {
              "node": "Execute Workflow - buscar_contratos",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow - buscar_bloqueio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow - buscar_financeiro_cliente",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow - buscar_ultima_conexao",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow - buscar_desbloqueio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow - buscar_cliente_modulo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow - buscar_liberacao_confianca",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Execute Workflow - buscar_telemetria_uso",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É grupo??2": {
        "main": [
          [
            {
              "node": "Envia Whatsapp Grupo2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Envia Whatsapp1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Está em manutenção?": {
        "main": [
          [
            {
              "node": "É chat?1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "MongoDB - Get User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É chat?1": {
        "main": [
          [
            {
              "node": "Resposta chat2",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "É grupo??2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Atualizar thread_id": {
        "main": [
          [
            {
              "node": "Foi uma solicitação p/ limpar?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Foi uma solicitação p/ limpar?": {
        "main": [
          [
            {
              "node": "Resposta chat1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Merge - User",
              "type": "main",
              "index": 1
            }
          ]
        ]
      },
      "Lista Runs": {
        "main": [
          [
            {
              "node": "If",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar Thread",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Criar Thread": {
        "main": [
          [
            {
              "node": "Prepara atualização",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add thread_id": {
        "main": [
          [
            {
              "node": "Tipo de Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Run Assistant": {
        "main": [
          [
            {
              "node": "Get Run Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara mensagem": {
        "main": [
          [
            {
              "node": "Insere a mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insere a mensagem": {
        "main": [
          [
            {
              "node": "Conta as mensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Primeira mensagem?": {
        "main": [
          [
            {
              "node": "Espera chegar mais mensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Conta as mensagens": {
        "main": [
          [
            {
              "node": "Primeira mensagem?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Espera chegar mais mensagens": {
        "main": [
          [
            {
              "node": "Busca as mensagens",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É chat?": {
        "main": [
          [
            {
              "node": "Resposta chat",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "É audio?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É audio?": {
        "main": [
          [
            {
              "node": "Gerar audio",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "É grupo??",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É grupo??": {
        "main": [
          [
            {
              "node": "Envia Whatsapp Grupo",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Envia Whatsapp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É grupo??1": {
        "main": [
          [
            {
              "node": "Envia Whatsapp Grupo1",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Envia Audio Whatsapp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Conta as mensagens recentes": {
        "main": [
          [
            {
              "node": "É para continuar a thread_id?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variáveis Globais": {
        "main": [
          [
            {
              "node": "Variáveis Globais - Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Espera o tempo determinado": {
        "main": [
          [
            {
              "node": "Get Run Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Variáveis Globais - Code": {
        "main": [
          [
            {
              "node": "É grupo?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Possui Thread salva no banco?": {
        "main": [
          [
            {
              "node": "Mudou a thread_id?",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar Thread",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara User": {
        "main": [
          [
            {
              "node": "MongoDB - Create User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepara atualização": {
        "main": [
          [
            {
              "node": "Atualizar thread_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "É para continuar a thread_id?": {
        "main": [
          [
            {
              "node": "Add thread_id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Criar Thread",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Mudou a thread_id?": {
        "main": [
          [
            {
              "node": "Preparta thread_id",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Conta as mensagens recentes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparta thread_id": {
        "main": [
          [
            {
              "node": "Add thread_id",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Se for rate_limit_exceeded": {
        "main": [
          [],
          [
            {
              "node": "Coloca novamente a mensagem para re-processar",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Coloca novamente a mensagem para re-processar": {
        "main": [
          [
            {
              "node": "Criar a Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Falou de mim?": {
        "main": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Model": {
        "ai_languageModel": [
          [
            {
              "node": "Basic LLM Chain",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Foi chamado?": {
        "main": [
          [
            {
              "node": "Está em manutenção?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Basic LLM Chain": {
        "main": [
          [
            {
              "node": "Foi chamado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Se for da cobrança colocar tag assistente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Chat Trigger": {
        "main": [
          [
            {
              "node": "Convert to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch": {
        "main": [
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Se for rate_limit_exceeded",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "HTTP Request",
              "type": "main",
              "index": 0
            }
          ],
          [],
          [
            {
              "node": "Captura Tool Calls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Cancel Run": {
        "main": [
          [
            {
              "node": "Criar a Mensagem",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Se for da cobrança colocar tag assistente": {
        "main": [
          [
            {
              "node": "Convert to Webhook",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Tipo de Mensagem": {
        "main": [
          [
            {
              "node": "Set Message from Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Set Message from Text",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Baixar Áudio",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Webhook": {
        "main": [
          [
            {
              "node": "Variáveis Globais",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "e878e097-dbaf-49b7-a750-7ad3c114bfff",
    "triggerCount": 0,
    "tags": []
  }
}